<template>
<div>
    <input v-model="rows"  v-on:change="alert" type="text" placeholder="'Please Enter a Number'">
    <input v-model="columns"  v-on:change="alert" type="text" placeholder="'Please Enter a Number'">
    <button v-on:click="appendlist" >Generate</button>
    <h2  class="alerted">{{rows}} x {{columns}}</h2>
    <br>
    <table id="box" border='1'>
      <td  v-for="index in itemslist">
          <tr v-for="item in itemslist2">table cell</tr>
      </td>
    </table>
</div>
</template>


<script>
export default {
  name: "matrix",
  data() {
    return {
      rows: "",
      itemslist: [],
      columns: "",
      itemslist2: []
    };
  },
  methods: {
    appendlist: function() {
      this.itemslist2 = [];
      this.itemslist = [];
      for (let i = 0; i < this.rows; i++) {
        this.itemslist.push(1);
      }
      for (let j = 0; j < this.columns; j++) {
        this.itemslist2.push(1);
      }
      document.getElementsByClassName("alerted")[0].classList.remove("alert");
    },
    alert: function() {
      if (
        this.rows != this.itemslist.length ||
        this.columns != this.itemslist2.length
      ) {
        document.getElementsByClassName("alerted")[0].classList.add("alert");
      } else {
        document.getElementsByClassName("alerted")[0].classList.remove("alert");
      }
    }
  }
};
</script>
<style>
.alert {
  background-color: red;
}
.notalerted {
  background-color: transparent;
}

#box {
  margin-top: 3rem;
}
tr,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>







