<template>
<div>
    <input v-model="message" id="inputbox" type="text" placeholder="'Please Enter a Number'">
    <button v-on:click="appendlist" id="generatebutton">Generate</button>
    <h2>Table of {{itemslist.length}} elements</h2>
    <table id="box" border='1'>
      <tr v-for="(item,index) in itemslist" :key="index">
        <td>{{index}} hello</td>
        <td><button v-bind:id="index" v-on:click="deleteentry($event)">Delete</button></td>
      </tr>
    </table>
</div>
</template>


<script>
export default {
  name: "thelist",
  data() {
    return {
      message: "",
      itemslist: [],
      index: ""
    };
  },
  methods: {
    appendlist: function() {
      for (let i = 0; i < this.message; i++) {
        this.itemslist.push(1);
      }
    },
    deleteentry: function(e) {
      this.itemslist.splice(e.target.id, 1);
    }
  }
};
</script>
<style>
#inputbox {
  position: absolute;
  left: 10%;
  top: 10%;
}
#generatebutton {
  position: absolute;
  left: 40%;
  top: 10%;
}
#box {
  position: absolute;
  left: 10%;
  top: 15%;
}
</style>

