<template>
  <div id="app">
    <div>Hello</div>
   <router-view/>
  </div>
</template>

<script>
import thelist from "./components/thelist.vue";
import matrix from "./components/matrix.vue";

export default {
  name: "app",
  components: {
    thelist,
    matrix
  }
};
</script>
<style>
#matrix {
  position: absolute;
  top: 40%;
}
</style>



