/** * This is a CSS stylesheet that defines three style rules that we use * 
in the body of the document to create a "window" visual effect. * 
The rules use positioning properties to set the overall size of the window * 
and the position of its components. Changing the size of the window * 
requires careful changes to positioning properties in all three rules. **/
div.window {  /* Specifies size and border of the window */    
					position: absolute;
		         /* The position is specified elsewhere */
					width: 300px; height: 200px;
		         /* Window size, not including borders */
					border: 3px outset gray;    /* Note 3D "outset" border effect */ }
	div.titlebar {  
					font-family: CairoRegular;
				/* Specifies position, size, and style of the titlebar */    
					position: absolute;
				/* It's a positioned element */
					top: 0px; height: 18px;
				/* Titlebar is 18px + padding and borders */
					width: 290px;
				/* 290 + 5px padding on left and right = 300 */
					background-color: #aaa;
				/* Titlebar color */
					border-bottom: groove gray 2px;
				/* Titlebar has border on bottom only */
					padding: 3px 5px 2px 5px;
				/* Values clockwise: top, right, bottom, left */
					font: bold 11pt sans-serif; /* Title font */
				}
	div.content {
					font-family: CairoRegular;
				/* Specifies size, position and scrolling for window content */
					position: absolute;
				/* It's a positioned element */
					top: 25px;
				/* 18px title+2px border+3px+2px padding */
					height: 165px;
				/* 200px total - 25px titlebar - 10px padding*/
					width: 290px;
				/* 300px width - 10px of padding */
					padding: 5px;               /* Allow space on all four sides */
					    overflow: auto;             /* Give us scrollbars if we need them */
					        background-color: #fff;     /* White background by default */ }
	div.translucent { /* this class makes a window partially transparent */
					opacity: .75;
				/* Standard style for transparency */
					filter: alpha(opacity=75);  /* Transparency for IE */ 
				} 
		@font-face{
			font-family: 'CairoBold';
			src: url('Cairo-Arabic-font/Cairo-Bold.ttf')
		}
		@font-face{
			font-family: 'CairoRegular';
			src: url('Cairo-Arabic-font/Cairo-Regular.ttf')
		}
		@font-face{
			font-family: 'CairoSemiBold';
			src: url('Cairo-Arabic-font/Cairo-SemiBold.ttf')
		}