<template>
  <div id="app">
        <menunav/>
    <router-view/>
    <footernav :class="{footer:true}"></footernav>
  </div>
</template>

<script>
import menunav from "@/components/menunav";
import footernav from "@/components/footernav";
export default {
  name: "App",
  components: {
    menunav,
    footernav
  },
  mounted: function() {}
};
</script>

<style>

.footer{
  position: absolute;
  bottom: 0;
}
html{
  min-height: 100%;
  padding:0;
  margin:0;
  background-color: transparent;
  position: relative; 
}

body.menunav {
  margin: 0;
  padding: 0;
  width: 100%;
}
body.nav {
  background-color: black;
  padding: 0;
  margin: 0;
}
body.home {
  padding: 0;
  margin: 0;
}
body.booking {
  padding: 0;
  margin: 0;
  background-color: black;
  width: 100%;
}
body.account {
  padding: 0;
  margin: 0;
  background-color: black;
}
body.refund {
  padding: 0;
  margin: 0;
  background-color: black;
  width: 100%;
}
body.contactus {
  padding: 0;
  margin: 0;
  background-color: black;
  width: 100%;
}
body.privacy {
  padding: 0;
  margin: 0;
  background-color: black;
  width: 100%;
}
body.login {
  padding: 0;
  margin: 0;
  background-color: black;
  overflow: hidden;
}
body.signup {
  padding: 0;
  margin: 0;
  background-color: black;
  overflow: hidden;
}
body.session {
  padding: 0;
  margin: 0;
  background-color: black;
}
body.info {
  padding: 0;
  margin: 0;
  background-color: black;
  width: 100%;
  overflow: hidden;
}
body.nowshowing {
  padding: 0;
  margin: 0;
  background-color: black;
}
@font-face {
  font-family: Montserrat-Bold;
  src: url("./assets/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url("./assets/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: Montserrat-Regular;
  src: url("./assets/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Montserrat-Light;
  src: url("./assets/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: Montserrat-Medium;
  src: url("./assets/Montserrat-Medium.ttf") format("truetype");
}
</style>
