<template>
  <div>
    <button v-on:click="Create">Create Document</button>
  </div>
</template>

<script>
import router from '../router'
export default {
  name: 'test',
  data () {
    return {
      test: ''
    }
  },
  methods: {
      Create() {
        var http = new XMLHttpRequest();
        var url = 'http://127.0.0.1:8888/createdoc';
        var d = new Date();
        var params = 'type='+'document'+'&date='+d;
        http.open('POST', url, true);

        //Send the proper header information along with the request
        http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

        http.onreadystatechange = function() {//Call a function when the state changes.
            if(http.readyState == 4 && http.status == 200) {
                alert(http.responseText);
            }
        }
        http.send(params);
        alert("Created");
        router.push({ name: "InsertDate" })
      }
  }
}
</script>

<style>


</style>