<template>
  <div>
    Session Date:<span v-html="message1"></span>
    <br>
    Session Time: <span v-html="message2"></span>
    <br>
    Seat Num: <span v-html="message3"></span>
    <br>
    <button v-on:click="Insert">Confirm</button>
  </div>
</template>

<script>
import router from '../router'
export default {
  name: 'test',
  data () {
    return {
      message1: '',
      message2: '',
      message3: ''
    }
  },
  methods: {
      Insert() {
        router.push({ name: "CreateDoc" })
      }
  },
  mounted: function() {
      var x=this;
      var http1 = new XMLHttpRequest();
        var url1 = 'http://localhost:8888/lastdoc';
        http1.open('GET', url1, true);
        http1.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        http1.onreadystatechange = function() {//Call a function when the state changes.
        if(http1.readyState == 4 && http1.status == 200) {
          var y=JSON.parse(http1.responseText)['rows'][0]['value'];
          x.message1 = y.Date;
          x.message2 = y.Time;
          x.message3 = y.SeatNum;
        }	
        
      }
        http1.send(null);
      }
}
</script>

<style>


</style>