<template>
  <div>
    Select Session Date: <input v-model="name">
    <br>
    <button v-on:click="Insert">Insert</button>
  </div>
</template>

<script>
import router from '../router'
export default {
  name: 'test',
  data () {
    return {
      name: ''
    }
  },
  methods: {
      Insert() {
      var x=this;
      var http1 = new XMLHttpRequest();
        var url1 = 'http://localhost:8888/lastdoc';
        http1.open('GET', url1, true);
        http1.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        http1.onreadystatechange = function() {//Call a function when the state changes.
        if(http1.readyState == 4 && http1.status == 200) {
          var y=JSON.parse(http1.responseText)['rows'][0]['value'];
          x.Insert2(y['_id'])
        }	
        
      }
        http1.send(null);
      },
      Insert2(id) {
        var http = new XMLHttpRequest();
        var url = 'http://127.0.0.1:8888/insert';
        var params = 'id='+id+'&day='+this.name;
        http.open('POST', url, true);

        //Send the proper header information along with the request
        http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

        http.onreadystatechange = function() {//Call a function when the state changes.
            if(http.readyState == 4 && http.status == 200) {
                alert(http.responseText);
            }
        }
        http.send(params);
        alert("Done");
        router.push({ name: "InsertTime" })
      }
  }
}
</script>

<style>


</style>