<template>
  <div>
    <app-header></app-header>
    <router-view/>
  </div>
</template>

<script>
import Header from './components/Header.vue';
import Footer from './components/Footer.vue';
import Input from './components/Input.vue';
import TwoInput from './components/TwoInput.vue';


export default {
  components: {
    'app-header': Header,
    'app-footer': Footer,
    'app-input': Input,
    'app-two-input': TwoInput
  },
  data () {
    return {
      title: 'Ninja App'
    }
  }
}
</script>

<style scoped>
  h1{
    color:lightblue;
  }
</style>