<template>
  <div class="home">
    <img id="posterBackground" :src="'https://viakeyscreen.com/domain/cinemoz.com/asset/' + imgLink + '/105-featured_big.jpg'">
    <div class="grid">
      <div class="span-col-2">

        <div id="upper-bar">
          <img id="logo" src="../assets/bbang_icon.svg" @click="goToHome()">
          <ul id="user-menu">
            <li><a id="showing" title="NOW SHOWING" @click="goToNowShowing()">NOW SHOWING</a></li>
            <li><a id="account" title="ACCOUNT" @click="goToAccount()">ACCOUNT</a></li>
            <li><a id="session" title="YOUR SESSION" @click="goToYourSession()">YOUR SESSION</a></li>
            <span id="session-button" @click="goToYourSession()">2</span>
          </ul>
        </div>

        </div>
          <div id="left">
            <div id="now-showing">NOW SHOWING</div>
            <div id="title">{{movieTitle}}</div>
            <div id="genres">
              <span class="genre">{{genre}}</span><span class="genre">{{category}}</span>
            </div>
            <button id="learn-more"  @click="learnMore(sliderposition)">LEARN MORE</button>
            <div id="navigation">
              <span id="previous" @click="previousMovie(sliderposition)">Previous</span><span id="next" @click="nextMovie(sliderposition)">Next</span>
            </div>
          </div>

          <div id="right">
          </div>

        <div id="left-footer-menu">
          <ul id="footer-menu">
            <li><a>Refund &amp; Return policy</a></li>
            <li><a>Privacy policy</a></li>
            <li><a>Contact us</a></li>
          </ul>
        </div>

      <div id="right-footer-menu">
          <span id="movie-number">{{movienumber}}</span>
          <div id="icons-container">
            <img src="../assets/facebook_icon.svg" alt="facebook_icon" style="width: 1.25rem;" class="footer-icons" id="fb_icon" @click="openFB()">
            <img src="../assets/instagram_icon.svg" alt="instagram_icon" style="width: 1.25rem;" class="footer-icons" id="inst_icon" @click="openINSTA()">
          </div>
      </div>

    </div>
  </div>
</template>

<script>
const axios = require('axios')
export default {
  name: 'Home',
  data () {
    return {
      msg: 'Welcome to Your Home Page',
      movieID: '',
      moviesDocArray: [],
      movieTitle: '',
      genre: '',
      category: '',
      imgLink: '',
      movienumber: '',
      sliderposition: '' // this value decides which movie that is on the backgroun, since we have 12 movies we start at position 0
    }
  },
  methods: {
    getRandomSelection () {
      var scope = this
      axios.get('https://viakeyscreen.com/domain/cinemoz.com/feed/random', { params: {language: 'english', limit: '12', seed: 'x'} }).then((body) => {
        console.log(body.data.rows)
        for (var i = 0; i < body.data.rows.length; i++) {
          console.log(body.data.rows[i])
          scope.moviesDocArray.push(body.data.rows[i])
          // pushed each movie into the array to later retrieve them
        }
        // will randomly assign a background each time, because it will be boring experience if on each page load
        // the same bacground and title appeared
        var rand = Math.floor(Math.random() * body.data.rows.length)
        scope.sliderposition = rand
        if (rand + 1 < 10) {
          scope.movienumber = '0' + (rand + 1)
        } else {
          scope.movienumber = '' + (rand + 1) + ''
        }
        scope.movieID = scope.moviesDocArray[rand].doc._id
        scope.movieTitle = scope.moviesDocArray[rand].doc.name
        scope.genre = scope.moviesDocArray[rand].doc.keywords.category[0]
        scope.category = scope.moviesDocArray[rand].doc.keywords.genre[0]
        scope.imgLink = scope.moviesDocArray[rand].doc._id
        // testing if a cookie exists
        if (this.$cookie.get('bigbang_user_token')) {
          console.log('we have a cookie')
          console.log(this.$cookie.get('bigbang_user_token'))
        } else {
          console.log('cookie can\'t be found')
        }

        // In case we came to Home page from the Login page then we must have had a user how logged in and token for that user
        if (this.$cookie.get('bigbang_user_token')) {
          console.log('The Cookie: ' + this.$cookie.get('bigbang_user_token'))
        }
      }).catch((error) => {
        console.log(error)
      })
    },
    nextMovie (num) {
      var scope = this
      // if the slider is at number 11 then the next element is the first index in the array
      // because the array is of size 12
      if (num === 11) {
        scope.sliderposition = 0
      } else {
        scope.sliderposition = num + 1
      }
      if (scope.sliderposition + 1 < 10) {
        scope.movienumber = '0' + (scope.sliderposition + 1)
      } else {
        scope.movienumber = '' + (scope.sliderposition + 1) + ''
      }
      scope.movieID = scope.moviesDocArray[scope.sliderposition].doc._id
      scope.movieTitle = scope.moviesDocArray[scope.sliderposition].doc.name
      scope.genre = scope.moviesDocArray[scope.sliderposition].doc.keywords.category[0]
      scope.category = scope.moviesDocArray[scope.sliderposition].doc.keywords.genre[0]
      scope.imgLink = scope.moviesDocArray[scope.sliderposition].doc._id
    },
    previousMovie (num) {
      var scope = this
      // if the slider is at number 1 then the PREVIOUS element is the last index position in the array
      // because the array is of size 12
      if (num === 1) {
        scope.sliderposition = 11
      } else {
        scope.sliderposition = num + 1
      }
      if (scope.sliderposition + 1 < 10) {
        scope.movienumber = '0' + (scope.sliderposition + 1)
      } else {
        scope.movienumber = '' + (scope.sliderposition + 1) + ''
      }
      scope.movieID = scope.moviesDocArray[scope.sliderposition].doc._id
      scope.movieTitle = scope.moviesDocArray[scope.sliderposition].doc.name
      scope.genre = scope.moviesDocArray[scope.sliderposition].doc.keywords.category[0]
      scope.category = scope.moviesDocArray[scope.sliderposition].doc.keywords.genre[0]
      scope.imgLink = scope.moviesDocArray[scope.sliderposition].doc._id
    },
    learnMore (n) {
      var scope = this
      /*  in this function data will be stored in the VUEX store, so we can access them in the info page
        the parameter 'n' helps in knowing which learn was clicked
      */
      // setting movie doc in the store
      scope.$store.commit('setmovieDoc', scope.moviesDocArray[n])
      // setting movie title in the store
      scope.$store.commit('setmovietitle', scope.moviesDocArray[n].doc.name)
      // setting movie synopsis
      scope.$store.commit('setsynopsis', scope.moviesDocArray[n].doc.description)
      // setting movie genre
      scope.$store.commit('setmoviegenre', scope.moviesDocArray[n].doc.keywords.genre[0])
      // setting movie release date
      scope.$store.commit('setreleasedate', scope.moviesDocArray[n].doc.keywords.year[0])
      // setting movie director
      scope.$store.commit('setdirector', scope.moviesDocArray[n].doc.keywords.director[0])
      // setting movie ID
      scope.$store.commit('setmovieid', scope.moviesDocArray[n].doc._id)
      // setting movie picture link
      scope.$store.commit('setmoviepicturelink', 'https://viakeyscreen.com/domain/cinemoz.com/asset/' + scope.moviesDocArray[n].doc._id + '/105-featured_big.jpg')
      // going to session page
      scope.$router.push({name: 'Info', query: {'key': scope.moviesDocArray[n].doc._id}})
    },
    goToHome () {
      this.$router.push('/')
    },
    goToNowShowing () {
      this.$router.push('/NowShowing')
    },
    goToAccount () {
      this.$router.push('/Account')
    },
    goToYourSession () {
      this.$router.push('/Session')
    },
    openFB () {
      window.open('https://www.facebook.com')
    }, 
    openINSTA () {
      window.open('https://www.instagram.com')
    }
  },
  mounted: function () {
    this.getRandomSelection()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  @font-face{
    font-family:'Montserrat-Bold';
    src: url('../assets/Font/Montserrat-Bold.ttf')
  }
  @font-face{
    font-family:'Montserrat-Regular';
    src: url('../assets/Font/Montserrat-Regular.ttf')
  }
  @font-face{
    font-family:'Montserrat-Light';
    src: url('../assets/Font/Montserrat-Light.ttf')
  }
  @font-face{
    font-family:'Montserrat-SemiBold';
    src: url('../assets/Font/Montserrat-SemiBold.ttf')
  }
  @font-face{
    font-family:'Montserrat-Medium';
    src: url('../assets/Font/Montserrat-Medium.ttf')
  }

  #posterBackground{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .home{
    margin: 0;
    padding: 0;
    /* This will create an effect on the sides of the background image. Making the sides darker*/
    background-image: linear-gradient(top, rgba(0,0,0,0.65) 0%,
                                            rgba(0,0,0,0) 20%,
                                            rgba(0,0,0,0) 80%,
                                            rgba(0,0,0,0.65) 100%),
                      linear-gradient(left, rgba(0,0,0,0.65) 0%,
                                            rgba(0,0,0,0) 20%,
                                            rgba(0,0,0,0) 80%,
                                            rgba(0,0,0,0.65) 100%);
  }
  .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
  .span-col-2{
    grid-column: span 2 / auto;
    height: 6.25rem;
  }
  .span-col-1{
    grid-column: span 1 / auto;
    height: 6.25rem;
  }
  #left, #right{
    height: 34.3rem;
  }
  #upper-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #logo {
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(/icons/bbang_icon.svg) no-repeat;
    margin-left: 2.5rem;
    margin-top: 2.13rem;
    width: 5.3rem; /* Width of new image */
    height: 1.8rem; /* Height of new image */
    cursor: pointer;
  }
  .menu{
    display: none !important;
  }
  #user-menu{
    /*display: inline-block !important;*/
    margin-top: 2rem;
    margin-right: 3.88rem;
  }
  li, a {
    /* A */
    display:inline-block;
    text-align:center;
    color: #CCCCCC;
    opacity: 100%;
    font-size: 0.8rem;
    font-family: Montserrat-Regular;
    letter-spacing: 0.1rem;
    line-height: 1rem;
    cursor: pointer;
  }
  a:hover {
    /* B */
    font-weight:bold;
    color: #FFFFFF;
    opacity: 100%;
    font-family: Montserrat-Medium;
    font-size: 0.8rem;
  }
  a::after {
    /* C */
    /*  A, B & C parts are an experimental technique to see if it is possible to maintaing the position
      of elements when one of them is hovered over. To explain the problem: the three elements menu
      "NOW SHOWING   ACCOUNT    YOUR SESSION" suffers from a problem when you hover over one element
      since the letter spacing changes the width changes and therfore the elements get pushed sideways.
      I looked over the internet but with no solution yet!
      currently I removed letter-spacing
      I might resort to having an absolute position for those elements.
    */
    display: block;
    font-weight: bold;
    color: #FFFFFF;
    opacity: 100%;
    content: attr(title);
    font-family: Montserrat-Medium;
    font-size: 0.8rem;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
  #session-button{
    /* couldn't find any better strategy to replicate the design provided other than to use absolute positioning*/
    position: absolute;
    right:2.25rem;
    top: 1.88rem;
    width: 1.25rem;
    height: 1.25rem;
    color:#F26621;
    background-color: #FFFFFF;
    border-radius: 2rem;
    font-family: Montserrat-Medium;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1.2rem;
    text-align: center;
    cursor: pointer;
  }
  #showing, #account{
    margin-right: 1.1rem;
  }
  #now-showing{
    color: #FFFFFF;
    opacity: 100%;
    font-size: 0.88rem;
    font-family: Montserrat-SemiBold;
    letter-spacing: 0.09rem;
    line-height: 1.13rem;
    width: 6.75rem;
    height: 2.31rem;
    margin-top: 4.69rem;
    margin-left: 9.06rem;
  }
  #title{
    color: #FFFFFF;
    opacity: 100%;
    font-size: 5rem;
    font-family: Montserrat-Bold;
    letter-spacing: 0.19rem;
    line-height: 6.06rem;
    /*note that there is no margin between the "title" and "now showing"*/
    margin-left: 9.06rem;
  }
  #genres, #navigation{
    color: #FFFFFF;
    opacity: 100%;
    font-size: 0.81rem;
    font-family: Montserrat-Regular;
    letter-spacing: 0.09rem;
    line-height: 1rem;
    margin-left: 9.06rem;
  }
  .genre{
    /*why am I using inline-block? The answer
      It has no width or height. You could turn it into a block-level element,
      then it will accept your dimension directives.
      Try using a div instead of the span or using the CSS display: block; or display: inline-block;
       — span is by default an inline element which cannot take width and height properties.
    */
    display: inline-block;
    width: 6.75rem;
    height: 1.38rem;
    margin-right: 0.94rem;
  }
  #learn-more{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 1px solid #FFFFFF;
    cursor:pointer;
    overflow: hidden;
    color: #FFFFFF;
    font-size: 0.81rem;
    font-family: Montserrat-SemiBold;
    letter-spacing: 0.09rem;
    line-height: 1rem;
    width: 9.94rem;
    height: 2.88rem;
    margin-left: 9.06rem;
    margin-top: 2.44rem;
  }
  #navigation{
    margin-top: 5.56rem;
  }
  #previous{
    margin-right: 2.25rem;
    cursor: pointer;
  }
  #next{
    cursor: pointer;
  }
  #left-footer-menu{
    /* not-needed */
    height: 6.25rem;
  }
  #footer-menu{
    margin-top: 3.13rem;
  }
  #footer-menu > li{
    margin-right: 3.19rem;
  }
  #footer-menu > li:last-child {
    margin-right: 0
  }
  .footer-icons:hover{
    filter:brightness(0) invert(1);
  }
  #right-footer-menu{
    position: relative;
    /* not-needed */
    height: 6.25rem;
    max-height: 6.25rem;
  }
  #icons-container{
    position: absolute;
    right: 0;
    margin-right: 2.44rem;
    margin-top: 3.13rem;
  }
  #icons-container > img{
    display: inline-block;
    margin-right: 2.31rem;
  }
  #icons-container > img:last-child {
    margin-right: 0
  }
  #fb_icon, #inst_icon{
    cursor: pointer;
  }
  #movie-number{
    /* CSS Cut of bottom of characters with line-height?
      https://stackoverflow.com/questions/13189471/css-cut-of-bottom-of-characters-with-line-height
      http://jsfiddle.net/EfajG/
    */
    /*something else relevant
      https://medium.com/codyhouse/line-height-crop-a-simple-css-formula-to-remove-top-space-from-your-text-9c3de06d7c6f
    */
    position: absolute;
    left: 0;
    top:-16rem;
    overflow: hidden;
    display: block;
    width: 35rem;
    height: 22.44rem;
    opacity: 100%;
    color: transparent;
    font-family: Montserrat-Bold;
    font-size: 25rem;
    letter-spacing: 0.94rem;
    -webkit-text-stroke-width: 0.5rem;
   -webkit-text-stroke-color: #FFFFFF;
  }
</style>
