<template>
    <div class="home">
        <div class="grid">
            <div id="video-background"> 
                <button class="button1 hidden-video" id="close-button" @click="closeVideo()">x</button>
                <div class="hidden-video" id="close-statement" @click="closeVideo()">CLOSE</div>
            </div>
            
            <img :src="'https://viakeyscreen.com/domain/cinemoz.com/asset/' + $store.getters.getmovieid + '/105-featured_big.jpg'" id="background-img">
            <div class="span-col-2">
                <div id="upper-bar">
                    <img id="logo" src="../assets/bbang_icon.svg" @click="goToHome()">
                    <ul id="user-menu">
                        <li><a id="showing" title="NOW SHOWING" @click="goToNowShowing()">NOW SHOWING</a></li>
                        <li><a id="account" title="ACCOUNT" @click="goToAccount()">ACCOUNT</a></li>
                        <li><a id="session" title="YOUR SESSION" @click="goToYourSession()">YOUR SESSION</a></li>
                        <span id="session-button" @click="goToYourSession()">2</span>
                    </ul>
                </div>
            </div>

            <div class="span-col-2 flex-container" id="container1">
                <div class="flex-item" id="back-button">
                    <span id="back-arrow">&#60;</span> <span id="back-text">Back</span>
                </div>
                <div class="flex-item" id="movie-title">
                    {{$store.getters.getmovietitle}}
                    <div id="movie-sub-title">
                        {{$store.getters.getmoviegenre}}
                    </div>
                </div>
                <div class="flex-item">
                </div>
            </div>

            <div class="span-col-2-width700 side-margin flex-container-2" id="container2">
                <div class="flex-item-2 description-headers" id="about">
                    DESCRIPTION:
                </div>
                <div class="flex-item-2 details" id="synopsis">
                    {{$store.getters.getmoviesynopsis}}
                </div>
            </div>

            <div class="span-col-2-width700 flex-container-2" id="container3">
                <div class="flex-item-2 description-headers" id="trailer">
                    TRAILER:
                </div>
                <div class="flex-item-2" @click="playVideo">
                    <img :src="$store.getters.getmoviepicturelink" id="trailer-img">
                </div>
            </div>

            <div class="span-col-2 side-margin">
                <div class="flex-container-2">
                    <div class="flex-item-2 description-headers">
                        GENRE
                    </div>
                    <div class="flex-item-2 details">
                        {{$store.getters.getmoviegenre}}
                    </div>
                </div>
                <div class="flex-container-2">
                    <div class="flex-item-2 description-headers">
                        RELEASE DATE:
                    </div>
                    <div class="flex-item-2 details">
                        {{$store.getters.getmoviereleasedate}}
                    </div>
                </div>
                <div class="flex-container-2">
                    <div class="flex-item-2 description-headers">
                        DIRECTOR:
                    </div>
                    <div class="flex-item-2 details">
                        {{$store.getters.getmoviedirector}}
                    </div>
                </div>
                <div class="flex-container-2">
                    <div class="flex-item-2 description-headers">
                        SESSIONS TIME:
                    </div>
                    <div class="flex-item-2 details">
                        12:00pm, 6:00pm, 8:00pm, 10:00pm
                    </div>
                </div>
                <div>
                    <button class="book-now" id="bookButton" @click="addToSession()">ADD TO SESSION</button>
                </div>
            </div>

            <div class="span-col-2-width700 footer">
                <div id="left-footer-menu">
                    <ul id="footer-menu">
                        <li><a>Refund &amp; Return policy </a></li>
                        <li><a>Privacy policy</a></li>
                        <li><a>Contact us</a></li>
                    </ul>
                </div>
            </div>

            <div class="span-col-2-width700 footer">
                <div id="right-footer-menu">
                    <div id="icons-container">
                        <img src="../assets/facebook_icon.svg" alt="facebook_icon" style="width: 1.4rem;" class="footer-icons" id="fb_icon" @click="openFB()">
                        <img src="../assets/instagram_icon.svg" alt="instagram_icon" style="width: 1.4rem;" class="footer-icons" @click="openINSTA()">
                    </div>
                </div>
            </div>
        </div>
        <video class="hidden-video" id="video" controls>
        </video>
    </div>
</template>
<script>
const axios = require('axios')
const Hls = require('hls.js')
export default {
  data () {
    return {
      msg: '',
      videoLink: ''
    }
  },
  methods: {
    addToSession () {
      var scope = this
      // axios.defaults.headers.common['Authorization'] = 'Bearer ' +  this.$cookie.get('bigbang_user_cookie')
      /* push this movie into the 'sessionMoviesList' array that is stored in the VUEX Store this
      means that this movie will be part of the list of movies that will show up in the session page */
      axios({
        method: 'post',
        url: 'http://localhost:8888/session',
        data: {
          email: this.$cookie.get('bigbang_user_email'), // I don't know why but using the variable scope doesn't work on $cookie
          movie: scope.$store.getters.getmovieid
        },
        headers: {
          'Content-Type': 'application/json;charset=utf-8',
          'Authorization': 'Bearer ' + this.$cookie.get('bigbang_user_token')
        }
      }).then((body) => {
        console.log(body)
        scope.$router.push({name: 'Session', query: {'key': scope.$store.getters.getmovieid}})
      }).catch((error) => {
        console.log('we have an error, message:' + error)
      })
    },
    getMovieByID () {
      var scope = this
      scope.$store.commit('setmovieid', scope.$route.query.key)
      axios.get('https://viakeyscreen.com/domain/cinemoz.com/media/' + scope.$route.query.key).then((body) => {
        // setting movie title in the store
        scope.$store.commit('setmovietitle', body.data.rows[0].doc.name)
        // setting movie synopsis
        scope.$store.commit('setsynopsis', body.data.rows[0].doc.description)
        // setting movie genre
        scope.$store.commit('setmoviegenre', body.data.rows[0].doc.keywords.genre[0])
        // setting movie release date
        scope.$store.commit('setreleasedate', body.data.rows[0].doc.keywords.year[0])
        // setting movie director
        scope.$store.commit('setdirector', body.data.rows[0].doc.keywords.director[0])
        // setting movie ID
        scope.$store.commit('setmovieid', body.data.rows[0].doc._id)
        // setting movie picture link
        scope.$store.commit('setmoviepicturelink', 'https://viakeyscreen.com/domain/cinemoz.com/asset/' + body.data.rows[0].doc._id + '/103-featured_small.jpg')
        axios.get('https://viakeyscreen.com/domain/cinemoz.com/xchg/video/' + scope.$route.query.key).then((body2) => {
            scope.videoLink = body2.data[0].url
        })
      })
    },
    playVideo () {
      var scope = this 
      if (Hls.isSupported()) {
        var video = document.getElementById('video')
        var background = document.getElementById('video-background')
        var button = document.getElementById('close-button')
        var close = document.getElementById('close-statement')
        background.classList.add('show-background')
        video.classList.remove('hidden-video')
        video.classList.add('show-video')
        button.classList.remove('hidden-video')
        button.classList.add('close-button')
        close.classList.remove('hidden-video')
        close.classList.add('close-statement')
        console.log(video)
        var hls = new Hls()
        // bind them together
        hls.attachMedia(video)
        hls.on(Hls.Events.MEDIA_ATTACHED, function () {
          console.log('video and hls.js are now bound together !')
          hls.loadSource(
            scope.videoLink
          )
          video.play()
          hls.on(Hls.Events.MANIFEST_PARSED, function (event, data) {
            video.play()
            console.log(
              'manifest loaded, found ' + data.levels.length + ' quality level'
            )
          })
        })
      }
    },
    closeVideo () {
      var scope = this 
      if (Hls.isSupported()) {
        var video = document.getElementById('video')
        var background = document.getElementById('video-background')
        var button = document.getElementById('close-button')
        var close = document.getElementById('close-statement')
        background.classList.remove('show-background')
        video.classList.add('hidden-video')
        video.classList.remove('show-video')
        button.classList.add('hidden-video')
        button.classList.remove('close-button')
        close.classList.add('hidden-video')
        close.classList.remove('close-statement')
        console.log(video)
        var hls = new Hls()
        // bind them together
        hls.attachMedia(video)
        hls.on(Hls.Events.MEDIA_ATTACHED, function () {
          console.log('video and hls.js are now bound together !')
          hls.loadSource(
            scope.videoLink
          )
          hls.on(Hls.Events.MANIFEST_PARSED, function (event, data) {
            video.pause()
            console.log(
              'manifest loaded, found ' + data.levels.length + ' quality level'
            )
          })
        })
      }
    },
    goToHome () {
      this.$router.push('/')
    },
    goToNowShowing () {
      this.$router.push('/NowShowing')
    },
    goToAccount () {
      this.$router.push('/Account')
    },
    goToYourSession () {
      this.$router.push('/Session')
    },
    openFB () {
      window.open('https://www.facebook.com')
    }, 
    openINSTA () {
      window.open('https://www.instagram.com')
    }
  },
  mounted: function () {
    this.getMovieByID()
  }

}
</script>

<style scoped>
    .home{
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0, 1) 60%);
    }
    .show-background{
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(top, rgba(0,0,0,0.75) 0%,
                                            rgba(0,0,0,0.75) 20%,
                                            rgba(0,0,0,0.75) 80%,
                                            rgba(0,0,0,0.75) 100%);
        z-index: 0;
    }
    .close-statement {
        position: absolute;
        color: #CCCCCC;
        font-family: Montserrat-Regular;
        font-size: 0.81rem;
        left: 50%;
        top: 8.63rem;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }
    .close-button{
        background-color: rgb(108, 110, 108);
        border: none;
        color: white;
        padding: 0.3rem;
        text-align: center;
        text-decoration: none;
        font-size: 1rem;
        margin: 5px;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        left: 49.7%;
        top: 6.63rem;
        transform: translate(-50%, -50%);
    }
    .close-statement{
        position: absolute;
    }
    #background-img{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .hidden-video{
        display: none;
    }
    .show-video{
        display: block;
        position: absolute;
        width:40rem;
        height:25rem;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    #trailer-img{
        position: absolute;
        width: 15.06rem;
        height: 9.25rem;
    }
        #upper-bar{
        height: 6.25rem;;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .side-margin{
        margin-left: 2.5rem;
    }
    #logo {
        display: inline-block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: url(/icons/bbang_icon.svg) no-repeat;
        margin-left: 2.5rem;
        margin-top: 2.13rem;
        width: 5.3rem; /* Width of new image */
        height: 1.8rem; /* Height of new image */
        cursor: pointer;
    }

    #user-menu{
       /* margin-top: 2rem;*/
        margin-right: 3.88rem;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    #user-menu > li {
        margin-right: 1.34rem;
    }
    #user-menu > li:last-child{
        margin-right:0;
    }
    ul{
        margin-block-start: 0;
        margin-block-end: 0;
    }
    li, a {
        /* A */
        display:inline-block;
        text-align:center;
        color: #CCCCCC;
        opacity: 100%;
        font-size: 0.8rem;
        font-family: Montserrat-Regular;
        letter-spacing: 0.1rem;
        line-height: 1rem;
        cursor: pointer;
    }
    #showing::before, #account::before , #session::before{
        content: "";/* This is necessary for the pseudo element to work. */
        display: block;/* This will put the pseudo element on its own line. */
        margin: 0 auto; /* This will center the border. */
        width: 2.3rem; /* Change this to whatever width you want. */
        padding-top: 2rem; /* This creates some space between the element and the border. */

    }
    #session-button{
    /* couldn't find any better strategy to replicate the design provided other than to use absolute positioning*/
        position: absolute;
        right:2.25rem;
        top: 1.88rem;
        width: 1.25rem;
        height: 1.25rem;
        color:#F26621;
        background-color: #FFFFFF;
        border-radius: 2rem;
        font-family: Montserrat-Medium;
        font-weight: bold;
        font-size: 0.8rem;
        line-height: 1.2rem;
        text-align: center;
        cursor: pointer;
    }

    a:hover {
        /* B */
        font-weight:bold;
        color: #FFFFFF;
        opacity: 100%;
        font-family: Montserrat-Medium;
        font-size: 0.8rem;
    }
    a::after {
        /* C */
        /*  A, B & C parts are an experimental technique to see if it is possible to maintaing the position
            of elements when one of them is hovered over. To explain the problem: the three elements menu
            "NOW SHOWING   ACCOUNT    YOUR SESSION" suffers from a problem when you hover over one element
            since the letter spacing changes the width changes and therfore the elements get pushed sideways.
            I looked over the internet but with no solution yet!
            currently I removed letter-spacing
            I might resort to having an absolute position for those elements.
        */
        display: block;
        font-weight: bold;
        color: #FFFFFF;
        opacity: 100%;
        content: attr(title);
        font-family: Montserrat-Medium;
        font-size: 0.8rem;
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }
    #session-button{
        /* couldn't find any better strategy to replicate the design provided other than to use absolute positioning*/
        position: absolute;
        right:2.25rem;
        top: 1.88rem;
        width: 1.25rem;
        height: 1.25rem;
        color:#F26621;
        background-color: #FFFFFF;
        border-radius: 2rem;
        font-family: Montserrat-Medium;
        font-weight: bold;
        font-size: 0.8rem;
        line-height: 1.2rem;
        text-align: center;
        cursor: pointer;
    }
    #back-button{
        display: inline-block;
        color: white;
        opacity: 100%;
        font-family: Montserrat-Regular;
        font-size: 0.81rem;
        letter-spacing: 0.09rem;
        line-height: 1rem;
        margin-top: 0.31rem;
        margin-left: 3.06rem;
    }
    #back-arrow{
        color: white;
        opacity: 100%;
        font-weight:900;
    }
    #back-text{
        margin-left:0.4rem;
    }
    #movie-title{
        display: inline;
        color: #FFFFFF;
        opacity: 100%;
        font-family: Montserrat-Bold;
        font-size: 2rem;
        letter-spacing: 0.08rem;
        line-height: 2.24rem;
        text-align: center;
    }
    #movie-sub-title{
        color: #FFFFFF;
        opacity: 100%;
        font-family: Montserrat-Regular;
        font-size: 0.81rem;
        letter-spacing: 0.09rem;
        line-height: 1rem;
        text-align: center;
    }
    .description-headers{
        color: #FFFFFF;
        opacity: 100%;
        font-family: Montserrat-Regular;
        font-size: 0.81rem;
        letter-spacing: 0.09rem;
        line-height: 1rem;
        width: 9.31rem;
    }
    #trailer{
        margin-left: 1.6rem;
    }
    #about{
        margin-top: 3.69rem;
    }
    #synopsis{
        margin-left:2.19rem;
        width: 21.44rem;
        margin-top: 3.69rem;
    }
    #container2{
        height: 11.29rem;
    }
    #container3{
        margin-top: 3.29rem;
    }
    .title{
        color: #FFFFFF;
        opacity: 100%;
        font-family: Montserrat-SemiBold;
        font-size: 1rem;
        letter-spacing: 0.04rem;
        line-height: 1.19rem;
    }
    .details{
        color: #CCCCCC;
        opacity: 100%;
        font-family: Montserrat-Regular;
        font-size: 0.81rem;
        letter-spacing: 0.09rem;
        line-height: 1rem;
        margin-left: 2.19rem;
    }
    .book-now{
        max-width: 12.9rem;
        width: 100%;
        height: 2.4rem;
        fill: #FFFFFF;
        color: #FF3363;
        cursor: pointer;
        opacity: 100%;
        font-size: 0.8rem;
        font-family: Montserrat-SemiBold;
        letter-spacing: 0.1rem;
        line-height: 1rem;
        border-radius: 0rem;
        margin-top: 2.8rem;
        display: block;
        position: relative;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .timings{
        color: #FFFFFF;
        opacity: 100%;
        font-family: Montserrat-Regular;
        font-size: 0.81rem;
        letter-spacing: 0.09rem;
        line-height: 1rem;
        margin-top:1.25rem;
        height: 4rem;
    }
    .learn{
        color: #CCCCCC;
        opacity: 100%;
        font-family: Montserrat-Regular;
        font-size: 0.81rem;
        letter-spacing: 0.09rem;
        line-height: 1rem;
        margin-top:1.25rem;
        margin-top:1.44rem;
    }
    .footer{
        margin-top:8.19rem;
        height: 6.25rem;
    }
    #right-footer-menu{
        float: right;
        margin-right: 2.25rem;
    }
    #footer-menu{
        margin-top: 1.75rem;
    }
    #footer-menu > li{
        margin-right: 3.19rem;
    }
    #footer-menu > li:last-child {
        margin-right: 0;
    }
    .footer-icons:hover{
        filter:brightness(0) invert(1);
    }
    #icons-container{
        margin-top: 1.81rem;
    }
    #icons-container > img{
        display: inline-block;
        margin-right: 2.31rem;
    }
    #icons-container > img:last-child {
        margin-right: 0
    }
    #fb_icon, #inst_icon{
        cursor: pointer;
    }
    @font-face{
        font-family:'Montserrat-Bold';
        src: url('../assets/Font/Montserrat-Bold.ttf')
    }
    @font-face{
        font-family:'Montserrat-Regular';
        src: url('../assets/Font/Montserrat-Regular.ttf')
    }
    @font-face{
        font-family:'Montserrat-Light';
        src: url('../assets/Font/Montserrat-Light.ttf')
    }
    @font-face{
        font-family:'Montserrat-SemiBold';
        src: url('../assets/Font/Montserrat-SemiBold.ttf')
    }
    @font-face{
        font-family:'Montserrat-Medium';
        src: url('../assets/Font/Montserrat-Medium.ttf')
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .span-col-2{
        grid-column: span 2 / auto;
    }
    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: stretch;
        align-items: flex-start;
        height: 5rem;
    }

    .flex-item:nth-child(1) {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
        width: 33rem;
    }
    .flex-item:nth-child(2) {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
    }
    .flex-item:nth-child(3) {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
        width: 33rem;
    }
    .flex-container-2 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: flex-start;
    }
    .flex-item-2:nth-child(1) {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
    }
    .flex-item-2:nth-child(2) {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
    }
    @media screen and (max-width: 700px) {
        .span-col-2-width700{
            grid-column: span 2 / auto;
        }
    }
</style>
