<template>
    <div class="grid">
        <div class="span-col-2">
            <div id="upper-bar">
                    <img id="logo" src="../assets/bbang_icon.svg" @click="goToHome()">
                    <img class="menu" src="../assets/menu_icon.svg">
                    <ul id="user-menu">
                        <li><a id="showing" title="NOW SHOWING" @click="goToNowShowing()">NOW SHOWING</a></li>
                        <li><a id="account" title="ACCOUNT" @click="goToAccount()">ACCOUNT</a></li>
                        <li><a id="session" title="YOUR SESSION" @click="goToYourSession()">YOUR SESSION</a></li>
                        <span id="session-button" @click="goToYourSession()">2</span>
                    </ul>

                    <div id="popup">
                        <img id="logo2" src="../assets/bbang_icon.svg">
                        <p class="user">
                        <span class="showing" title="NOW SHOWING">NOW SHOWING</span>
                        </p>
                        <p class="user">
                        <span class="account" title="ACCOUNT">ACCOUNT</span>
                        </p>
                        <p class="user">
                        <span class="session" title="YOUR SESSION">YOUR SESSION</span>
                        </p>
                    </div>
                </div>
        </div>
        <div class="span-col-2">
            <div class="now-showing">REFUND &amp; RETURN POLICY </div>
            <div class="flex-container">
                <div class="flex-item" id="flex1">
                    <div>PROFILE</div>
                </div>
                <div class="flex-item" id="flex2">
                    <div>Your Name: Bbang user</div>
                    <div>Phone Number: 00 11 22 33 44</div>
                    <div>Email Address: user@email.com</div>
                </div>
                <div class="flex-item" id="flex3">
                    <div>Change</div>
                    <div>Change</div>
                    <div>Change</div>
                </div>
            </div>
            <button class="book-now" id="logOutButton">LOG OUT</button>
        </div>

        <div class="span-col-2">
            <div class="flex-container-footer">
                <div class="flex-item-footer" id="left-footer-menu">
                    <ul id="footer-menu">
                        <li><a>Refund &amp; Return policy </a></li>
                        <li><a>Privacy policy</a></li>
                        <li><a>Contact us</a></li>
                    </ul>
                </div>
                <div class="flex-item-footer" id="right-footer-menu">
                    <div id="icons-container">
                        <img src="../assets/facebook_icon.svg" alt="facebook_icon" style="width: 1.4rem;" class="footer-icons" id="fb_icon" @click="openFB()">
                        <img src="../assets/instagram_icon.svg" alt="instagram_icon" style="width: 1.4rem;" class="footer-icons" @click="openINSTA()">
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
export default {
  data () {
    return {
      msg: ''
    }
  },
  methods: {
    goToHome () {
      this.$router.push('/')
    },
    goToNowShowing () {
      this.$router.push('/NowShowing')
    },
    goToAccount () {
      this.$router.push('/Account')
    },
    goToYourSession () {
      this.$router.push('/Session')
    },
    openFB () {
      window.open('https://www.facebook.com')
    }, 
    openINSTA () {
      window.open('https://www.instagram.com')
    }
  },
  mounted: function () {
  }

}
</script>

<style scoped>
    @font-face{
        font-family:'Montserrat-Bold';
        src: url('../assets/Font/Montserrat-Bold.ttf')
    }
    @font-face{
        font-family:'Montserrat-Regular';
        src: url('../assets/Font/Montserrat-Regular.ttf')
    }
    @font-face{
        font-family:'Montserrat-Light';
        src: url('../assets/Font/Montserrat-Light.ttf')
    }
    @font-face{
        font-family:'Montserrat-SemiBold';
        src: url('../assets/Font/Montserrat-SemiBold.ttf')
    }
    @font-face{
        font-family:'Montserrat-Medium';
        src: url('../assets/Font/Montserrat-Medium.ttf')
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .span-col-2{
        grid-column: span 2 / auto;
    }

    #upper-bar{
        height: 6.25rem;;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .side-margin{
        margin-left: 2.5rem;
    }
    #logo {
        display: inline-block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: url(/icons/bbang_icon.svg) no-repeat;
        margin-left: 2.5rem;
        margin-top: 2.13rem;
        width: 5.3rem; /* Width of new image */
        height: 1.8rem; /* Height of new image */
        cursor: pointer;
    }
    #popup{
        background-color: #1F1F1F;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 18.3rem;
        opacity: 100%;
        display: none;
    }
    .menu{
        display: none !important;
    }
    #user-menu{
       /* margin-top: 2rem;*/
        margin-right: 3.88rem;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    #user-menu > li {
        margin-right: 1.34rem;
    }
    #user-menu > li:last-child{
        margin-right:0;
    }
    ul{
        margin-block-start: 0;
        margin-block-end: 0;
    }
    li, a {
        /* A */
        display:inline-block;
        text-align:center;
        color: #CCCCCC;
        opacity: 100%;
        font-size: 0.8rem;
        font-family: Montserrat-Regular;
        letter-spacing: 0.1rem;
        line-height: 1rem;
        cursor: pointer;
    }
    #showing::before, #account::before , #session::before{
        content: "";/* This is necessary for the pseudo element to work. */
        display: block;/* This will put the pseudo element on its own line. */
        margin: 0 auto; /* This will center the border. */
        width: 2.3rem; /* Change this to whatever width you want. */
        padding-top: 2rem; /* This creates some space between the element and the border. */
        border-top: 3px solid pink; /* This creates the border. Replace black with  whatever color you want. */
    }
    #session-button{
    /* couldn't find any better strategy to replicate the design provided other than to use absolute positioning*/
        position: absolute;
        right:2.25rem;
        top: 1.88rem;
        width: 1.25rem;
        height: 1.25rem;
        color:#F26621;
        background-color: #FFFFFF;
        border-radius: 2rem;
        font-family: Montserrat-Medium;
        font-weight: bold;
        font-size: 0.8rem;
        line-height: 1.2rem;
        text-align: center;
        cursor: pointer;
    }

    a:hover {
        /* B */
        font-weight:bold;
        color: #FFFFFF;
        opacity: 100%;
        font-family: Montserrat-Medium;
        font-size: 0.8rem;
    }
    a::after {
        /* C */
        /*  A, B & C parts are an experimental technique to see if it is possible to maintaing the position
            of elements when one of them is hovered over. To explain the problem: the three elements menu
            "NOW SHOWING   ACCOUNT    YOUR SESSION" suffers from a problem when you hover over one element
            since the letter spacing changes the width changes and therfore the elements get pushed sideways.
            I looked over the internet but with no solution yet!
            currently I removed letter-spacing
            I might resort to having an absolute position for those elements.
        */
        display: block;
        font-weight: bold;
        color: #FFFFFF;
        opacity: 100%;
        content: attr(title);
        font-family: Montserrat-Medium;
        font-size: 0.8rem;
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }
    .now-showing{
        margin-left: 2.5rem;
        color: #222222;
        opacity: 100%;
        font-size: 3.13rem;
        font-family: Montserrat-Bold;
        letter-spacing: 0.12rem;
        line-height: 3.81rem;
    }
    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: flex-start;
    }

    .flex-item:nth-child(1) {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
    }

    .flex-item:nth-child(2) {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
    }

    .flex-item:nth-child(3) {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
    }
    #flex1{
        margin-top: 1.81rem;
        margin-left: 2.5rem;
        color: #FFFFFF;
        opacity: 100%;
        font-family: Montserrat-Regular;
        font-size: 0.81rem;
        letter-spacing: 0.09rem;
        line-height: 1rem;
    }
    #flex2{
        margin-top: 1.81rem;
        margin-left: 7.38rem;
        width: 20rem;
        color: #FFFFFF;
        opacity: 100%;
        font-family: Montserrat-Regular;
        font-size: 0.81rem;
        letter-spacing: 0.09rem;
        line-height: 1rem;
    }
    #flex3{
        margin-top: 1.81rem;
        margin-left: 23.69rem;
        color: #FF3363;
        opacity: 100%;
        font-family: Montserrat-Regular;
        font-size: 0.81rem;
        letter-spacing: 0.09rem;
        line-height: 1rem;
    }
    #flex2 > div, #flex3 > div{
        margin-bottom: 1.5rem;
    }
    #flex2 > div:last-child, #flex3 > div:last-child{
        margin-bottom: 0;
    }
    #logOutButton{
        margin-left: 51.81rem;
        max-width: 9.94rem;
        width: 100%;
        height: 2.4rem;
        fill: #000000;
        color: #FFFFFF;
        cursor: pointer;
        opacity: 100%;
        font-size: 0.8rem;
        font-family: Montserrat-SemiBold;
        letter-spacing: 0.1rem;
        line-height: 1rem;
        border-radius: 0rem;
        margin-top: 5.5rem;
    }
    .flex-container-footer {
        margin-top: 18.19rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: stretch;
        align-items: flex-start;
    }

    .flex-item-footer:nth-child(1) {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
    }

    .flex-item-footer:nth-child(2) {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
    }
    #footer-menu > li{
        margin-right: 3.19rem;
    }
    #footer-menu > li:last-child {
        margin-right: 0
    }
    .footer-icons:hover{
        filter:brightness(0) invert(1);
    }
    #icons-container > img{
        display: inline-block;
        margin-right: 2.31rem;
    }
    #icons-container > img:last-child {
        margin-right: 2.5rem;
    }
    #fb_icon, #inst_icon{
        cursor: pointer;
    }
    @media screen and (max-width: 700px) {
        .span-col-2-width700{
            grid-column: span 2 / auto;
        }
    }
</style>
