<template>
    <div class="home">
        <div id="background-error" class="no-display">
            <button id="warning-close" @click="closeWarning()">X</button>
            <div id="warning-message">
                YOU MUST CHOOSE 2 MOVIES ONLY
            </div>
        </div>
        <div class="grid">
            <div class="span-col-2">
                <div id="upper-bar">
                    <img id="logo" src="../assets/bbang_icon.svg" @click="goToHome()">
                    <ul id="user-menu">
                        <li><a id="showing" title="NOW SHOWING" @click="goToNowShowing()">NOW SHOWING</a></li>
                        <li><a id="account" title="ACCOUNT" @click="goToAccount()">ACCOUNT</a></li>
                        <li><a id="session" title="YOUR SESSION" @click="goToYourSession()">YOUR SESSION</a></li>
                        <span id="session-button" @click="goToYourSession()">{{sessionNum}}</span>
                    </ul>
                </div>
            </div>
            <div class="span-col-2">
                <div class="now-showing">YOUR SESSION</div>
            </div>
            <div class="span-col-2-width700" id="scrollable">
                <!-- Left Side of the session page -->
                <div v-for="movie in size" v-bind:key="movie" class="flex-container">
                    <!-- The radio button that determines if it is selected-->
                    <div class="flex-item">
                        <input type="checkbox" class="checkbox checkbox-round" :value="movieDocs[movie-1].data.rows[0].doc._id" :title="movieDocs[movie-1].data.rows[0].doc.name" :genre="movieDocs[movie-1].data.rows[0].doc.keywords.genre[0]"/>
                    </div>
                    <div class="flex-item">
                        <!-- the poster of the movie/game -->
                        <img id="poster1" :src="'https://viakeyscreen.com/domain/cinemoz.com/asset/' + movieDocs[movie-1].data.rows[0].doc._id + '/101-poster.jpg'">
                    </div>
                    <div class="flex-item data">
                        <!-- title and details of the game/movie -->
                        <div class="title">{{movieDocs[movie-1].data.rows[0].doc.name}}</div>
                        <div class="details">{{movieDocs[movie-1].data.rows[0].doc.keywords.genre[0]}} - {{Math.round(movieDocs[movie-1].data.rows[0].doc.video_length/60000)}}min</div>
                    </div>
                    <!-- the button that gives the user the option to remove the movie from the list -->
                    <div class="remove flex-item data">Remove<button class="close-button button1" :value="movieDocs[movie-1].data.rows[0].doc._id" @click="deleteSession($event)">x</button></div>
                </div>
            </div>
            <div class="span-col-2-width700" id="rightDiv">
                <!-- Right Side of the session page -->
                <div class="description">
                    Enjoy a full VR immersion, idque mollis consetetur at vis, eam at sale atqui. Sapientem qualisque reprehendunt eu his, ne sit oratio accusam. In has ocurreret vulputate, etiam sadipscing ut per, his ad regione singulis scriptorem.
                </div>
                <div class="session-booking-details">
                    Interactive Session: 50mn - Ticket Price per session is: $20
                </div>
                <button class="book-now" id="bookButton" @click="processOrder()">CHECK OUT</button>
                <button class="book-now" id="bookButton" @click="deleteStore()">DELETE</button>
                <div class="description">
                    We need to select your title in order to checkout, eam at sale atqui. Sapientem qualisque reprehendunt eu his.
                </div>

            </div>
            <div class="span-col-2-width700 footer">
                <div id="left-footer-menu">
                    <ul id="footer-menu">
                        <li><a>Refund &amp; Return policy </a></li>
                        <li><a>Privacy policy</a></li>
                        <li><a>Contact us</a></li>
                    </ul>
                </div>
            </div>
            <div class="span-col-2-width700 footer">
                <div id="right-footer-menu">
                    <div id="icons-container">
                        <img src="../assets/facebook_icon.svg" alt="facebook_icon" style="width: 1.4rem;" class="footer-icons" id="fb_icon" @click="openFB()">
                        <img src="../assets/instagram_icon.svg" alt="instagram_icon" style="width: 1.4rem;" class="footer-icons" @click="openINSTA()">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
const axios = require('axios')
const async = require('async')
export default {
  data () {
    return {
      msg: '',
      movieIDs: [],
      movieDocs: [],
      size: 0,
      sessionNum: 0
    }
  },
  methods: {
    deleteStore () {
      // this technique was being used because I wasn't applying cookies. The purpose of this function is to delete everything
      // in the store if the user logged out. But since we are using cookies now, we don't need anything to be stored in the
      // VUEX store system. Which means we don't need to think about deleting what is in the store
      let state = this.$store.state
      let newState = {}
      Object.keys(state).forEach(key => {
        newState[key] = null // or = initialState[key]
      })
      this.$store.replaceState(newState)
    },
    getSessionList () {
      var scope = this
      // setting those values to their original definition because this function can be called from deleteSession() function
      // so when it is called the values need to be resetted otherwise we will have wrong session list of movies
      scope.movieIDs = []
      scope.sessionNum = 0
      scope.size = 0
      axios({
        method: 'get',
        url: 'http://localhost:8888/usersessions',
        params: {
          email: this.$cookie.get('bigbang_user_email')
        },
        headers: {
          'Content-Type': 'application/json;charset=utf-8',
          'Authorization': 'Bearer ' + this.$cookie.get('bigbang_user_token')
        }
      }).then((body) => {
        console.log('before')
        console.log(body)
        for (var i = 0; i < body.data.value.movies_ids.length; i++) {
          scope.movieIDs.push(body.data.value.movies_ids[i])
        }
        // the number that shows up on top right of the screen
        scope.sessionNum = scope.movieIDs.length
        async.forEachSeries(scope.movieIDs, function (id, callback) {
          axios.get('https://viakeyscreen.com/domain/cinemoz.com/media/' + id, { params: { outlet: 'website', metadata: 'true', limit: '2', language: 'english' } }).then((body2) => {
            console.log(body2)
            scope.movieDocs.push(body2)
            scope.size++
            callback()
          })
        })
        console.log('after')
        console.log(scope.movieIDs)
      })
    },
    deleteSession (element) {
      var scope = this
      // since I assigned the movie ID to the attribute value, I am retrieving it again to send it in the axios post request
      var delete_ID = element.currentTarget.getAttribute('value')
      axios({
        method: 'post',
        url: 'http://localhost:8888/removesession',
        data: {
          email: this.$cookie.get('bigbang_user_email'), // I don't know why but using the variable scope doesn't work on $cookie
          movie: delete_ID
        },
        headers: {
          'Content-Type': 'application/json;charset=utf-8',
          'Authorization': 'Bearer ' + this.$cookie.get('bigbang_user_token')
        }
      }).then((body) => {
        console.log(body)
        scope.getSessionList()
        // there is an alternative way of making a call again to the getSessionList() function and that is through
        // this.$router.go(this.$router.currentRoute)
      }).catch((error) => {
        console.log('we have an error, message:' + error)
      })
    },
    goToHome () {
      this.$router.push('/')
    },
    goToNowShowing () {
      this.$router.push('/NowShowing')
    },
    goToAccount () {
      this.$router.push('/Account')
    },
    goToYourSession () {
      this.$router.push('/Session')
    },
    processOrder () {
      var checkboxes = document.getElementsByClassName('checkbox')
      // this array will be filled with the IDs of the movies
      var selectedMovies = []
      // this array will be filled with the Titles of the movies
      var selectedTitles = []
      // this array will be filled with the IDs of the movies
      var selectedGenres = []
      // this counter will be used to see if the user selected less than two options or more than two. (HE MUST CHOOSE 2)
      var count = 0
        for (var i = 0; i < checkboxes.length; i++) {
          if(checkboxes[i].checked){
            count++
            // I am pushing into the array the ID of the movie, this ID is retrieved from the checkbox value attribute.
            // Since I binded the attribute value to ID of movie
            selectedMovies.push(checkboxes[i].getAttribute('value'))
            selectedTitles.push(checkboxes[i].getAttribute('title'))
            selectedGenres.push(checkboxes[i].getAttribute('genre'))
          }
        }
        if (count != 2) {
          // if the count isn't 2 then it means the user had less than 2 or more than 2 movies chosen
          var background = document.getElementById('background-error')
          background.classList.remove('no-display')
          background.classList.add('error-background')
          document.getElementById('warning-close').classList.add('warning-close')
          document.getElementById('warning-message').classList.add('warning-message')
        } else {
            // sending the two movie IDs as parameters in the link
            this.$router.push({name: 'Booking', query: {'key1': selectedMovies[0], 'key2': selectedMovies[1], 'title1': selectedTitles[0], 'title2': selectedTitles[1], 'genre1': selectedGenres[0], 'genre2': selectedGenres[1]}})
        }
        //this.$router.push('/Session')
    },
    closeWarning() {
      document.getElementById('background-error').classList.add('no-display')
      document.getElementById('warning-close').classList.remove('warning-close')
      document.getElementById('warning-message').classList.remove('warning-message')
    },
    openFB () {
      window.open('https://www.facebook.com')
    }, 
    openINSTA () {
      window.open('https://www.instagram.com')
    }
  },
  mounted: function () {
    this.getSessionList()
    // this if-statement checks which route we are on. So it will give the header navigation classes that will help the user know
    // on which page he is for example: if you are on session page, the session word in the navigation header will be bolded and have 
    // a bar above it
    if (this.$route.name == 'Session') {
      document.getElementById('session').classList.add('current-page')
      document.getElementById('session').classList.add('hover-styling-state')
    } else if (this.$route.name == 'NowShowing') {
      document.getElementById('showing').classList.add('current-page')
      document.getElementById('showing').classList.add('hover-styling-state')
    } else if (this.$route.name == 'Account') {
      document.getElementById('account').classList.add('current-page')
      document.getElementById('account').classList.add('hover-styling-state')
    }
  }

}
</script>

<style scoped>
    @font-face{
        font-family:'Montserrat-Bold';
        src: url('../assets/Font/Montserrat-Bold.ttf')
    }
    @font-face{
        font-family:'Montserrat-Regular';
        src: url('../assets/Font/Montserrat-Regular.ttf')
    }
    @font-face{
        font-family:'Montserrat-Light';
        src: url('../assets/Font/Montserrat-Light.ttf')
    }
    @font-face{
        font-family:'Montserrat-SemiBold';
        src: url('../assets/Font/Montserrat-SemiBold.ttf')
    }
    @font-face{
        font-family:'Montserrat-Medium';
        src: url('../assets/Font/Montserrat-Medium.ttf')
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .span-col-2{
        grid-column: span 2 / auto;
    }
    #rightDiv{
        border-left: 0.1rem solid rgba(255, 255, 255, 0.2);
        padding-left: 40px;
    }
    #upper-bar{
        height: 6.25rem;;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .side-margin{
        margin-left: 2.5rem;
    }
    #logo {
        display: inline-block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: url(/icons/bbang_icon.svg) no-repeat;
        margin-left: 2.5rem;
        margin-top: 2.13rem;
        width: 5.3rem; /* Width of new image */
        height: 1.8rem; /* Height of new image */
        cursor: pointer;
    }

    #user-menu{
       /* margin-top: 2rem;*/
        margin-right: 3.88rem;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    #user-menu > li {
        margin-right: 1.34rem;
    }
    #user-menu > li:last-child{
        margin-right:0;
    }
    ul{
        margin-block-start: 0;
        margin-block-end: 0;
    }
    li, a {
        /* A */
        display:inline-block;
        text-align:center;
        color: #CCCCCC;
        opacity: 100%;
        font-size: 0.8rem;
        font-family: Montserrat-Regular;
        letter-spacing: 0.1rem;
        line-height: 1rem;
        cursor: pointer;
    }
    .current-page::before{
        content: "";/* This is necessary for the pseudo element to work. */
        display: block;/* This will put the pseudo element on its own line. */
        margin: 0 auto; /* This will center the border. */
        width: 2.3rem; /* Change this to whatever width you want. */
        padding-top: 2rem; /* This creates some space between the element and the border. */
        border-top: 3px solid pink; /* This creates the border. Replace black with  whatever color you want. */
    }
    #session-button{
    /* couldn't find any better strategy to replicate the design provided other than to use absolute positioning*/
        position: absolute;
        right:2.25rem;
        top: 1.88rem;
        width: 1.25rem;
        height: 1.25rem;
        color:#F26621;
        background-color: #FFFFFF;
        border-radius: 2rem;
        font-family: Montserrat-Medium;
        font-weight: bold;
        font-size: 0.8rem;
        line-height: 1.2rem;
        text-align: center;
        cursor: pointer;
    }
    .hover-styling-state{
        font-weight:bold;
        color: #FFFFFF;
        opacity: 100%;
        font-family: Montserrat-Medium;
        font-size: 0.8rem;  
    }
    a:hover {
        /* B */
        font-weight:bold;
        color: #FFFFFF;
        opacity: 100%;
        font-family: Montserrat-Medium;
        font-size: 0.8rem;
    }
    a::after {
        /* C */
        /*  A, B & C parts are an experimental technique to see if it is possible to maintaing the position
            of elements when one of them is hovered over. To explain the problem: the three elements menu
            "NOW SHOWING   ACCOUNT    YOUR SESSION" suffers from a problem when you hover over one element
            since the letter spacing changes the width changes and therfore the elements get pushed sideways.
            I looked over the internet but with no solution yet!
            currently I removed letter-spacing
            I might resort to having an absolute position for those elements.
        */
        display: block;
        font-weight: bold;
        color: #FFFFFF;
        opacity: 100%;
        content: attr(title);
        font-family: Montserrat-Medium;
        font-size: 0.8rem;
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }
    #session-button{
        /* couldn't find any better strategy to replicate the design provided other than to use absolute positioning*/
        position: absolute;
        right:2.25rem;
        top: 1.88rem;
        width: 1.25rem;
        height: 1.25rem;
        color:#F26621;
        background-color: #FFFFFF;
        border-radius: 2rem;
        font-family: Montserrat-Medium;
        font-weight: bold;
        font-size: 0.8rem;
        line-height: 1.2rem;
        text-align: center;
        cursor: pointer;
    }
    .checkbox-round {
        width: 1.25rem;
        height: 1.25rem;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 50%;
        vertical-align: middle;
        border: 0.1rem solid #CCCCCC;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
    }

    .checkbox-round:checked {
        background-color: #F26621;
        width: 1.25rem;
        height: 1.25rem;
    }

    .now-showing{
        color: #222222;
        opacity: 100%;
        font-size: 3.13rem;
        font-family: Montserrat-Bold;
        letter-spacing: 0.12rem;
        line-height: 3.81rem;
        margin-left: 2.44rem;
    }
    .flex-container{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: center;
        margin-left: 2.5rem;
    }
    .flex-item{
        margin-bottom: 3rem;
    }
    .flex-item:nth-child(1) {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
    }
    .flex-item:nth-child(2) {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
    }
    .flex-item:nth-child(3) {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
    }

    .flex-item:nth-child(4) {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
    }
    .upper-flex-container{
        margin-top: 3.88rem;
    }
    .right-upper-flex-container{
        margin-top: 10.88rem;
    }
    .margin-flex-container{
        margin-top: 2.5rem;
    }
    .second-flex-item{
        margin-top: 2.31rem;
    }
    #scrollable{
        overflow-y:scroll;
        margin-top:3.13rem;
        height: 28rem;
    }
    ::-webkit-scrollbar { 
        display: none; 
    }
    #poster1{
        margin-left: 0.88rem;
        width: 5.81;
        height: 8.31rem;
    }
    .data{
        margin-left: 1.56rem;
    }
    .title{
        color: #FFFFFF;
        opacity: 100%;
        font-family: Montserrat-SemiBold;
        font-size: 1rem;
        letter-spacing: 0.04rem;
        line-height: 1.19rem;
    }
    .details{
        color: #1FC5ED;
        opacity: 100%;
        font-family: Montserrat-Regular;
        font-size: 0.81rem;
        letter-spacing: 0.09rem;
        line-height: 1rem;
        margin-top: 0.38rem;
        height: 1.38rem;
        width: 14.25rem;
    }
    .remove{
        margin-left: 5.25rem;
        padding-bottom:2rem;
        font-family: Montserrat-Regular;
        font-size: 0.81rem;
        color: #FF3363;
        letter-spacing: 0.09rem;
        line-height: 1rem;

    }
    .learn{
        color: #CCCCCC;
        opacity: 100%;
        font-family: Montserrat-Regular;
        font-size: 0.81rem;
        letter-spacing: 0.09rem;
        line-height: 1rem;
        margin-top:1.25rem;
        margin-top:1.44rem;
    }
    .book-now{
        max-width: 12.3rem;
        width: 100%;
        height: 2.4rem;
        fill: #FFFFFF;
        color: #FF3363;
        cursor: pointer;
        opacity: 100%;
        font-size: 0.8rem;
        font-family: Montserrat-SemiBold;
        letter-spacing: 0.1rem;
        line-height: 1rem;
        border-radius: 0rem;
        margin-top: 2.8rem;
    }
    .close-button{
        background-color: rgb(108, 110, 108);
        border: none;
        color: white;
        padding: 0.2rem;
        text-align: center;
        text-decoration: none;
        font-size: 0.8rem;
        margin: 2px 2px;
        border-radius: 50%;
        margin-left: 0.81rem;
        cursor: pointer;
    }
    .session-booking-details{
        color: #1FC5ED;
        opacity: 100%;
        font-family: Montserrat-Light;
        font-size: 0.81rem;
        letter-spacing: 0.06rem;
        line-height: 1rem;
        margin-top:1rem;
    }
    .description{
        color: #CCCCCC;
        opacity: 100%;
        font-family: Montserrat-Light;
        font-size: 0.81rem;
        letter-spacing: 0.06rem;
        line-height: 1rem;
        margin-top:3.13rem;
    }
    .footer{
        height: 6.25rem;
    }
    #right-footer-menu{
        float: right;
        margin-right: 2.25rem;
    }
    #footer-menu{
        margin-top: 1.75rem;
    }
    .footer-icons:hover{
        filter:brightness(0) invert(1);
    }
    #icons-container{
        margin-top: 1.81rem;
    }
    .error-background{
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(top, rgba(141, 128, 128, 0.60) 0%,
                                            rgba(141, 128, 128, 0.6) 20%,
                                            rgba(141, 128, 128, 0.60) 80%,
                                            rgba(141, 128, 128, 0.6) 100%);
        z-index: 1;
    }

    .warning-message{
        width: 32rem;
        display: block;
        position: absolute;
        background-color: black;
        font-family: Montserrat-Bold;
        font-size: 2.4rem;
        text-align: center;
        color: #CCCCCC;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .warning-close{
        position: absolute;
        background-color: black;
        font-family: Montserrat-Bold;
        font-size: 2.4rem;
        text-align: center;
        color: #CCCCCC;
        left: 50%;
        top: 62%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }
    .no-display{
        display: none;
    }
    #fb_icon, #inst_icon{
        cursor: pointer;
    }
    @media screen and (max-width: 700px) {
        .span-col-2-width700{
            grid-column: span 2 / auto;
        }
    }
</style>
