<template>
    <div class="home">
        <div class="grid">
            <div class="span-col-2">
                <div id="upper-bar">
                    <img id="logo" src="../assets/bbang_icon.svg">
                    <img class="menu" src="../assets/menu_icon.svg">
                    <ul id="user-menu">
                        <li><a id="showing" title="NOW SHOWING">NOW SHOWING</a></li>
                        <li><a id="account" title="ACCOUNT">ACCOUNT</a></li>
                    </ul>

                    <div id="popup">
                        <img id="logo2" src="../assets/bbang_icon.svg">
                        <p class="user">
                        <span class="showing" title="NOW SHOWING">NOW SHOWING</span>
                        </p>
                        <p class="user">
                        <span class="account" title="ACCOUNT">ACCOUNT</span>
                        </p>
                        <p class="user">
                        <span class="session" title="YOUR SESSION">YOUR SESSION</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="sign-up">SIGN UP</div>
            <div class="span-col-2 flex-container" id="container1">
                <div class="flex-item">
                    <div><span class="fixed-span-width">Username: </span><input id="username" v-on:focus="removeEmptyWarning()"><span class="hide" id="emptyFieldError">Can't Have Empty Fields!</span></div>
                    <div><span class="fixed-span-width">Email: </span><input id="email" v-on:focus="removeEmailWarning()"> <span class="hide" id="emailError">Email Already Used!</span></div>
                    <div><span class="fixed-span-width">Number: </span><input id="number" v-on:focus="removeEmptyWarning()"></div>
                    <div><span class="fixed-span-width">Password: </span><input id="password" v-on:focus="removeEmptyWarning()"></div>
                    <div> Already have an account? <span id="Log-In" @click="goLogIn()"> Click here to Log In!</span></div>

                </div>

                <div class="flex-item">
                    <button class="book-now" id="logInButton" @click="signUp()">SIGN UP</button>
                </div>
            </div>

            <div class="span-col-2-width700 footer">
                <div id="left-footer-menu">
                    <ul id="footer-menu">
                        <li><a>Refund &amp; Return policy </a></li>
                        <li><a>Privacy policy</a></li>
                        <li><a>Contact us</a></li>
                    </ul>
                </div>
            </div>

            <div class="span-col-2-width700 footer">
                <div id="right-footer-menu">
                    <div id="icons-container">
                        <img src="../assets/facebook_icon.svg" alt="facebook_icon" style="width: 1.4rem;" class="footer-icons" id="fb_icon" @click="openINSTA()">
                        <img src="../assets/instagram_icon.svg" alt="instagram_icon" style="width: 1.4rem;" class="footer-icons" @click="openINSTA()">
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>
<script>
const axios = require('axios')
export default {
  data () {
    return {
      msg: ''
    }
  },
  methods: {
    signUp () {
      var user = document.getElementById('email').value
      var mail = document.getElementById('email').value
      var num = document.getElementById('number').value
      var pass = document.getElementById('password').value
      axios({
        method: 'post',
        url: 'http://localhost:8888/signup',
        data: {
          username: user,
          email: mail,
          number: num,
          password: pass
        },
        headers: {
          'Content-Type': 'application/json;charset=utf-8'
        }
      }).then((body) => {
        // token is now in the body.data.token
        if (body.data === 'Error') {
          // this will make the error message show up to the user screen
          document.getElementById('emailError').classList.add('show')
        } else if (body.data === 'Success') {
          this.$router.push('/login')
        } else if (body.data === 'Empty') {
          // this will make the error message show up to the user screen
          document.getElementById('emptyFieldError').classList.add('show')
        }
        console.log(body)
      }).catch((error) => {
        console.log('we have an error, message:' + error)
      })
    },
    goLogIn () {
        this.$router.push('/Login')
    },
    removeEmailWarning () {
      if(document.getElementById('emailError').classList.contains('show')){
        document.getElementById('emailError').classList.remove('show')
      }
    },
    removeEmptyWarning () {
      if(document.getElementById('emptyFieldError').classList.contains('show')){
        document.getElementById('emptyFieldError').classList.remove('show')
      }
    },
    openFB () {
      window.open('https://www.facebook.com')
    }, 
    openINSTA () {
      window.open('https://www.instagram.com')
    }
  }

}
</script>

<style scoped>
    .home{
        background-color: black;
        height: 100vh;
    }
    #upper-bar{
        height: 6.25rem;;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .side-margin{
        margin-left: 2.5rem;
    }
    #logo {
        display: inline-block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: url(/icons/bbang_icon.svg) no-repeat;
        margin-left: 2.5rem;
        margin-top: 2.13rem;
        width: 5.3rem; /* Width of new image */
        height: 1.8rem; /* Height of new image */
    }
    #popup{
        background-color: #1F1F1F;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 18.3rem;
        opacity: 100%;
        display: none;
    }
    .menu{
        display: none !important;
    }
    #user-menu{
       /* margin-top: 2rem;*/
        margin-right: 3.88rem;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    ul{
        margin-block-start: 0;
        margin-block-end: 0;
    }
    li, a {
        /* A */
        display:inline-block;
        text-align:center;
        color: #CCCCCC;
        opacity: 100%;
        font-size: 0.8rem;
        font-family: Montserrat-Regular;
        letter-spacing: 0.1rem;
        line-height: 1rem;
    }
    #showing::before, #account::before , #session::before{
        content: "";/* This is necessary for the pseudo element to work. */
        display: block;/* This will put the pseudo element on its own line. */
        margin: 0 auto; /* This will center the border. */
        width: 2.2rem; /* Change this to whatever width you want. */
        padding-top: 20px; /* This creates some space between the element and the border. */
        border-top: 4px solid pink; /* This creates the border. Replace black with  whatever color you want. */
    }

    a:hover {
        /* B */
        font-weight:bold;
        color: #FFFFFF;
        opacity: 100%;
        font-family: Montserrat-Medium;
        font-size: 0.8rem;
    }
    a::after {
        /* C */
        /*  A, B & C parts are an experimental technique to see if it is possible to maintaing the position
            of elements when one of them is hovered over. To explain the problem: the three elements menu
            "NOW SHOWING   ACCOUNT    YOUR SESSION" suffers from a problem when you hover over one element
            since the letter spacing changes the width changes and therfore the elements get pushed sideways.
            I looked over the internet but with no solution yet!
            currently I removed letter-spacing
            I might resort to having an absolute position for those elements.
        */
        display: block;
        font-weight: bold;
        color: #FFFFFF;
        opacity: 100%;
        content: attr(title);
        font-family: Montserrat-Medium;
        font-size: 0.8rem;
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }
    .sign-up{
        color: #222222;
        opacity: 100%;
        font-size: 3.13rem;
        font-family: Montserrat-Bold;
        letter-spacing: 0.12rem;
        line-height: 3.81rem;
        margin-left: 2.44rem;
    }
    #username, #email, #number, #password{
        margin-bottom: 2rem;
    }
    .hide{
        display: none;

    }
    .show{
        display: inline;
        color: #F26621;
        font-size: 0.81rem;
        letter-spacing: 0.09rem;
        line-height: 1rem;
    }
    #logInButton{
        max-width: 9.94rem;
        width: 6.5rem;
        height: 2.4rem;
        background-color: rgba(255, 255, 255, 0);
        fill: #000000;
        color: #F26621;
        cursor: pointer;
        opacity: 100%;
        font-size: 0.8rem;
        font-family: Montserrat-SemiBold;
        letter-spacing: 0.1rem;
        line-height: 1rem;
        border-radius: 0rem;
        border-width: 0.1rem;
    }
    #Log-In{
        cursor: pointer;
        font-family: Montserrat-SemiBold;
        color: #F26621;
        opacity: 100%;
    }
    .fixed-span-width{
        display: inline-block;
        width:7rem;
    }
    .footer{
        margin-top:27rem;
        height: 6.25rem;
    }
    #right-footer-menu{
        float: right;
        margin-right: 2.25rem;
    }
    #footer-menu{
        margin-top: 1.75rem;
    }
    #icons-container{
        margin-top: 1.81rem;
    }
    @font-face{
        font-family:'Montserrat-Bold';
        src: url('../assets/Font/Montserrat-Bold.ttf')
    }
    @font-face{
        font-family:'Montserrat-Regular';
        src: url('../assets/Font/Montserrat-Regular.ttf')
    }
    @font-face{
        font-family:'Montserrat-Light';
        src: url('../assets/Font/Montserrat-Light.ttf')
    }
    @font-face{
        font-family:'Montserrat-SemiBold';
        src: url('../assets/Font/Montserrat-SemiBold.ttf')
    }
    @font-face{
        font-family:'Montserrat-Medium';
        src: url('../assets/Font/Montserrat-Medium.ttf')
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .span-col-2{
        grid-column: span 2 / auto;
    }
    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: flex-start;
        height: 5rem;
    }

    .flex-item:nth-child(1) {
        font-family: Montserrat-Regular;
        color: #FFFFFF;
        font-size: 0.81rem;
        letter-spacing: 0.09rem;
        line-height: 1rem;
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
        width: 33rem;
        margin-left: 2.44rem;
        margin-top: 2.8rem;
    }
    .flex-item:nth-child(2) {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
        margin-top: 2.8rem;
    }
        #footer-menu > li{
        margin-right: 3.19rem;
    }
    #footer-menu > li:last-child {
        margin-right: 0
    }
    .footer-icons:hover{
        filter:brightness(0) invert(1);
    }
    #icons-container > img{
        display: inline-block;
        margin-right: 2.31rem;
    }
    #icons-container > img:last-child {
        margin-right: 2.5rem;
    }
    #fb_icon, #inst_icon{
        cursor: pointer;
    }
    @media screen and (max-width: 700px) {
        .span-col-2-width700{
            grid-column: span 2 / auto;
        }
    }
</style>
