<template>
 <div id="app">
   <button v-on:click="reset">Reset</button>
  <ol>
    <todoitem
      v-on:clickedsomething="handleIncrementinparent"
      v-on:deletedsomething="handleDeleteinparent"
      v-for="item in groceryList"
      v-bind:value="item.value"
      v-bind:id="item.id"
      v-bind:key="item.id">
    </todoitem>
  </ol>
</div>
</template>

<script>
import todoitem from "./components/todo-item.vue";

export default {
  name: "app",
  components: {
    todoitem
  },
  data() {
    var groceryList = [
      { id: 0, value: 4 },
      { id: 1, value: 0 },
      { id: 2, value: 1 }
    ];
    return { groceryList: groceryList };
  },
  methods: {
    handleIncrementinparent: function(e) {
      console.log(e.$props.id);
      for (let i = 0; i < this.groceryList.length; i++) {
        if (this.groceryList[i].id == e.$props.id) {
          this.groceryList[i].value++;
        }
      }
    },
    handleDeleteinparent: function(e) {
      console.log(e.$props.id);
      for (let i = 0; i < this.groceryList.length; i++) {
        if (this.groceryList[i].id == e.$props.id) {
          this.groceryList.splice(i, 1);
        }
      }
    },
    reset: function() {
      for (let i = 0; i < this.groceryList.length; i++) {
        this.groceryList[i].value = 0;
      }
    }
  }
};
</script>

