body {
padding:0;
margin:0;
}
.wrapper {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr;
grid-gap:10px;
position: absolute;
left: 50%;
top: 50%;
background-color:#2196F3;
height: 75%;
width: 75%;
justify-items: center;
transform: translate(-50%, -50%);

}
.wrapper > div {
    width: 100%;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
}