
:root {
    --mycolor: #222222;
    --mywhite: #FFFFFF;
    --mygrey: #CCCCCC;
    --mydarkgrey: #838383;
}

body {
    background-color: black;
    padding:0;
    margin:0;
    
}
.leftdiv {
    padding: 1.6rem;
}
.rightdiv {
    padding: 1.6rem; 
}
.upper-menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-between;
}
.bbang_img {
    height:1.8rem;
    width:5.3rem;
}
.icon_img, .iconx_img {
    height:1.6rem;
    width:1.6rem;
}
.booking {
    color: var(--mycolor);
    opacity: 100%;
    font-size: 3.1rem;
    font-family:Montserrat-Bold;
    letter-spacing: 0.1rem;
    padding-top: 2.3rem;
    line-height: 3.8rem;
}
@font-face {
    font-family: Montserrat-Bold;
    src: url('./bootcamp_project/Font/Montserrat-Bold.ttf');
}
@font-face {
    font-family: Montserrat-Regular;
    src: url('./bootcamp_project/Font/Montserrat-Regular.ttf');
}
@font-face {
    font-family: Montserrat-Light;
    src: url('./bootcamp_project/Font/Montserrat-Light.ttf');
}
@font-face {
    font-family: Montserrat-SemiBold;
    src: url('./bootcamp_project/Font/Montserrat-SemiBold.ttf');
}
@font-face {
    font-family: Montserrat-Medium;
    src: url('./bootcamp_project/Font/Montserrat-Medium.ttf');
}
.select-session-date {
    font-family:Montserrat-Regular;
    opacity: 100%;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    color:var(--mywhite);
    padding-top: 1.8rem;
}
.review-title {
    font-family:Montserrat-Regular;
    opacity: 100%;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    color:var(--mywhite);
}
.game-title {
    font-family:Montserrat-Regular;
    opacity: 100%;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    color:var(--mywhite);
}
.select-session-time  {
    font-family:Montserrat-Regular;
    opacity: 100%;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    color:var(--mywhite);
    padding-top: 1.8rem;
}
.payment-method {
    font-family:Montserrat-Regular;
    opacity: 100%;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    color:var(--mywhite);
    margin-top: 2.8rem;
}
.voucher-code-title {
    font-family:Montserrat-Regular;
    opacity: 100%;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    color:var(--mywhite);
    margin-top:3rem; 
}

.close-dates, .interactive-session,.interactive-session-titles, .ticket-price {
    font-family:Montserrat-Light;
    padding:1px;
    opacity: 100%;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    color:var(--mydarkgrey);
    line-height: 1.2rem;
    padding-top: 0.3rem;
}
.deb-cre-wrapper > div {
    font-family:Montserrat-Light;
    padding:3px;
    opacity: 100%;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    color:var(--mydarkgrey);
    line-height: 1.2rem;
    padding-top: 0.3rem;
}
.voucher-code::placeholder {
    font-family:Montserrat-Light;
    opacity: 100%;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    color:var(--mydarkgrey);
    line-height: 1.2rem;
}
.game-genre {
    font-family:Montserrat-Light;
    opacity: 100%;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    color:var(--mydarkgrey);
    line-height: 1.2rem;
}
.calendar_wrapper-bg {
    display: flex;
    flex-direction: row;
    padding-top: 1.6rem;
    
}


.booked-date-bg {
    display: none;
}

.calendar_wrapper-bg>div {
    color: var(--mydarkgrey);
    opacity:100%;
    font-size: 0.8rem;
    font-family:Montserrat-Light;
    letter-spacing: 0rem; 
    text-align: center;
    padding: 2px;
    vertical-align: middle;
}
.num-of-seats>span, .first-session-time ,.second-session-time,.third-session-time,.fourth-session-time {
    color: var(--mydarkgrey);
    opacity:100%;
    font-size: 0.8rem;
    padding:1px;
    font-family:Montserrat-Light;
    letter-spacing: 0rem; 
    text-align: center;
    vertical-align: middle;
}
.num-of-seats >span:not(.num-01) {
margin-left: 2.9rem;
}

.session-times {
margin-left: 0.8rem;
margin-top: 1.4rem;
}


.num-of-seats , .calendar_wrapper-bg{
    margin-left: 0.8rem;
}
.num-of-seats {
    margin-top:1.2rem;
}
.book-seats {
    font-family:Montserrat-Regular;
    opacity: 100%;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    color:var(--mywhite);
    padding-top: 2.8rem;
}

.rfnd-bg:hover,.priv-bg:hover,.contact-bg:hover,.rfnd:hover,.priv:hover,.contact:hover {
    color: var(--mywhite);
}

.deb-cre-wrapper {
    display: flex;
    flex-direction: row;
    margin-top:1.6rem;
}
.use-voucher {
    margin-left: 4rem;
}
.code-text {
background-color: black;
}
.voucher-code{
background-color: black;
border-bottom: none;
border-left: none;
border-right: none;
border-top-color: var(--mydarkgrey);
margin-top: 0.5rem;
padding-top: 0.5rem;
padding-bottom: 1.7rem;
font-family:Montserrat-Light;
font-size: 0.8rem;
color: var(--mydarkgrey);
width: 100%;
}
.voucher-code:focus {
outline: none;
}
.game1 {
margin-top: 1.6rem;
}
.game2 {
margin-top: 1.8rem;
}
.game-genre {
margin-left:1.7rem;
}
hr {
display: block;
height: 1px;
opacity: 50%;
border: 0;
border-top: 0.1rem solid rgba(131, 131, 131, 0.2);
margin-top: 2em;
padding: 0; 
}
.txt-1, .total,.txt-1-bg , .total-bg{
color: #1FC5ED;
opacity: 100%;
font-size: 0.8rem;
font-family: Montserrat-Regular;
letter-spacing: 0.1rem
}
.date, .price, .date-bg, .price-bg {
color: var(--mywhite) ;
opacity: 100%;
font-size: 1rem;
font-family: Montserrat-SemiBold ;
letter-spacing: 0rem;
}
.date-bg {
margin-left: 3rem;
}
.price-bg {
margin-left: 7.5rem;
}
.book-btn {
background-color: var(--mywhite);
width: 100%;
color:#FF3363;
opacity:100%;
font-size: 0.8rem;
font-family:Montserrat-SemiBold;
height: 2.3rem;
margin-top: 1.3rem;
}
.book-btn-on {
background-color:  #FF3363;
color:var(--mywhite);
}
.book-btn:hover {
background-color: #FF3363;
color:var(--mywhite);
}

.drop-menu {
position: absolute;
top:0;
left:0;
right:0;
height: 14.5rem;
background-color: #1F1F1F;
visibility: hidden;
padding: 1.6rem;
}

.upper-menu-strip {
display: flex;
flex-direction: row;
padding-left: 1.6rem;
justify-content: space-between;
width: 100%;
}
.now-showing {
margin-top: 2.3rem;
}
.account {
margin-top: 2rem;
}
.now-showing:hover, .account:hover {
color: var(--mywhite);
}
.account, .now-showing {
color: var(--mydarkgrey);
opacity: 100%;
font-size: 0.8rem;
font-family: Montserrat-Regular;
letter-spacing: 0.1rem;
}
.yoursession {
color: #FFFFFF ;
opacity: 100%;
font-size: 0.8rem;
font-family: Montserrat-Medium ;
letter-spacing: 0rem;
}
.your-session {
margin-top:1.6rem;
color: #FFFFFF;
opacity: 100%;
font-size: 0.8rem;
font-family: Montserrat-Medium;
margin-top: 2rem;

}
.icon_img:hover ~ .drop-menu{
visibility: visible;
}
.icon_img_clicked {
    visibility: visible;
}
.drop-menu:hover {
visibility: visible;
}
.rfnd, .priv, .contact, .rfnd-bg, .priv-bg, .contact-bg {
color: #979797;
opacity: 100%;
font-size: 0.8rem;
font-family: Montserrat-Regular;
letter-spacing: 0.1rem;
}
.rfnd {
margin-top: 4.7rem;
}
.priv, .contact {
margin-top:1.8rem;
}
.fb_icon,.inst_icon {
height: 1.1rem;
width: 1.1rem;
margin-top: 2.8rem;
}
.inst_icon {
margin-left: 2rem;
}
.tabs {
display: none;
}
.line {
display:block;
}

.calendar_wrapper-bg > .arrow2 , .calendar_wrapper-bg > .fri ,.calendar_wrapper-bg > .sat {
    display: none;
}
.calendar_wrapper-bg > div:not(.arrow2):not(.start-date) {
    margin-left: 2.2rem;
}
.da0,.da1,.da2,.da3,.da4,.da5,.da6 {
    margin-top: 3rem;
    padding:2px;
}

.terms {
    display: none;
}

@media only screen and (max-width : 900px) {

.calendar_wrapper-bg > div:not(.start-date):not(.arrow2) {
margin-left: 2rem !important;
}
}

@media only screen and (max-width : 830px) {

.calendar_wrapper-bg > div:not(.start-date):not(.arrow2) {
margin-left: 1.4rem !important;
}
}


@media only screen and (min-width: 700px) {
    .terms {
        display: block;
    }
.calendar_wrapper-bg > .fri ,.calendar_wrapper-bg > .sat {
    display: block ;
}
.calendar_wrapper-bg > div:not(.start-date) {
margin-left: 2.2rem;
}
.calendar_wrapper-bg > .arrow2 , .calendar_wrapper-bg > .arrow {
    display: none ;
}
.calendar_wrapper-bg {
    display: flex;
}

.da0,.da1,.da2,.da3,.da4,.da5,.da6 {
    margin-top: 3rem;
    padding:2px;
}

.line {
    display: none;
}
.booked-date-bg {
    display: block;
    margin-top: 2.8rem;
}
.booked-date-sm {
    display: none;
}
.leftdiv {
width: 42%;
display: inline-block;
}
.rightdiv {
width: 42%;
display: inline-block;
padding-bottom: 10rem;
height: 100%;
border-left: 0.1rem solid rgba(131, 131, 131, 0.3);
}
.icon_img {
display: none;
}
.tabs {
position: absolute;
display: block;
top:1.6rem;
right:1.6rem;
}
.yoursession{
color: white;
}
.nowshowing, .account-2 {
margin-right: 2.3rem;
color: var(--mydarkgrey) ;
opacity: 100%;
font-size: 0.8rem;
font-family: Montserrat-Regular ;
letter-spacing: 0.1rem;
}
.nowshowing:hover, .account-2:hover {
color: var(--mywhite);
}
.rightdiv {
vertical-align: top;
}
.rightdiv:not(.tabs){
margin-top: 11.2rem;
}
.rfnd, .priv, .contact{
display: none;
}
.priv-bg, .contact-bg {
margin-left: 1.8rem;
}
.terms {

margin-top: 6rem;
margin-bottom: 3rem;
}
.socialmedia {
position: absolute;
right:1.6rem;
margin-top:16.8rem;  
}
.book-btn {
height: 2.4rem;
width: 12.3rem;
margin-top: 2.8rem;
}
.calendar_wrapper-bg {
display:flex;
flex-direction: row;
padding-top: 1.6rem;
}


.btn-unclicked {
color: var(--mydarkgrey);
opacity:100%;
font-size: 0.8rem;
font-family:Montserrat-Light;
letter-spacing: 0rem; 
text-align: center;
vertical-align: middle;
}


.btn-clicked {
color:'rgb(242, 102, 33)';
color: '#FFFFFF';
opacity:100%;
font-size: 0.9rem;
font-family:Montserrat-SemiBold;
letter-spacing: 0rem; 
text-align: center;
vertical-align: middle;
}


}
.start-date:hover > span {
color: var(--mywhite) !important;
font-family:Montserrat-SemiBold;
}
.start-date:hover > p {
color: var(--mywhite) !important;
font-family:Montserrat-SemiBold;
}
.mon:hover > span {
color: var(--mywhite) !important;
font-family:Montserrat-SemiBold;
}
.mon:hover > p {
color: var(--mywhite) !important;
font-family:Montserrat-SemiBold;
}
.tue:hover > span {
color: var(--mywhite) !important;
font-family:Montserrat-SemiBold;
}
.tue:hover > p {
color: var(--mywhite) !important;
font-family:Montserrat-SemiBold;
}
.wed:hover > span {
color: var(--mywhite)!important;
font-family:Montserrat-SemiBold;
}
.wed:hover > p {
color: var(--mywhite)!important;
font-family:Montserrat-SemiBold;
}

.thu:hover > span {
color: var(--mywhite)!important;
font-family:Montserrat-SemiBold;
}
.thu:hover > p {
color: var(--mywhite)!important;
font-family:Montserrat-SemiBold;
}
.thu:hover > span {
color: var(--mywhite)!important;
font-family:Montserrat-SemiBold;
}
.fri:hover > p {
color: var(--mywhite)!important;
font-family:Montserrat-SemiBold;
}
.fri:hover > span {
color: var(--mywhite)!important;
font-family:Montserrat-SemiBold;
}
.sat:hover > p {
color: var(--mywhite)!important;
font-family:Montserrat-SemiBold;
}
.sat:hover > span {
color: var(--mywhite)!important;
font-family:Montserrat-SemiBold;
}
.session-times > span:hover {
color: var(--mywhite)!important;
font-family:Montserrat-SemiBold;
}
.second-session-time,.third-session-time,.fourth-session-time {
margin-left: 2.9rem;
}

.num-of-seats>span:hover {
color: var(--mywhite) !important;
font-family:Montserrat-SemiBold;
}
.deb-cre-card:hover, .use-voucher:hover {
color: var(--mywhite) !important;
font-family:Montserrat-SemiBold;
}
.bordered {
border: 1px solid yellow;
font-family: "Montserrat-SemiBold" !important;
color: var(--mywhite) !important;

}
.bordered *{
font-family: "Montserrat-SemiBold" ;
color: var(--mywhite);

}
.tabs>span {
padding:3px;
}
.terms > span {
padding:2px;
}


