<template>
  <div>
    Select Session Date: <input v-model="date" @change="changed">
    <br>
    <br>
    <button v-on:click="Insert">Insert</button>
  </div>
</template>

<script>
import router from '../router'
export default {
  name: 'test',
  data () {
    return {
      date: ''
    }
  },
  methods: {
      Insert() {
        router.push({ name: "Page3" })
      },
      changed: function(event) {
      this.$store.commit('change', event.target.value);
    }
  }
}
</script>

<style>


</style>