<template>
  <div>
    Select Session Time: <input v-model="time" @change="changed">
    <br>
    <br>
    <button v-on:click="Insert">Insert</button>
  </div>
</template>

<script>
import router from '../router'

export default {
  name: 'test',
  data () {
    return {
      time: ''
    }
  },
  methods: {
      Insert() {
        router.push({ name: "Page4" })
      },
      changed: function(event) {
      this.$store.commit('change2', event.target.value);
    }
  }
}
</script>

<style>


</style>