<template>
  <div>
    <button v-on:click="Create">Create Document</button>
  </div>
</template>

<script>
import router from '../router'
export default {
  name: 'test',
  data () {
    return {
      test: ''
    }
  },
  methods: {
      Create() {
        router.push({ name: "Page2" })
      }
  }
}
</script>

<style>


</style>