<template>
  <div>
    <span>Session Date: {{ $store.getters.date }}</span>
    <br>
    <span>Session Time: {{ $store.getters.time }}</span>
    <br>
    <span>Seat Num: {{ $store.getters.seat }}</span>
    <br>
    <br>
    <button v-on:click="Insert">Confirm</button>
  </div>
</template>

<script>
import router from '../router'
export default {
  name: 'test',
  data () {
    return {
      message1: ''
    }
  },
  methods: {
      Insert() {
        var http = new XMLHttpRequest();
        var url = 'http://127.0.0.1:8888/insertall';
        var params = 'date='+this.$store.getters.date+'&time='+this.$store.getters.time+'&seatnum='+this.$store.getters.seat;
        http.open('POST', url, true);

        //Send the proper header information along with the request
        http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

        http.onreadystatechange = function() {//Call a function when the state changes.
            if(http.readyState == 4 && http.status == 200) {
                alert(http.responseText);
            }
        }
        http.send(params);
        alert("Done");
        router.push({ name: "Page1" })
      }
      }
}
</script>

<style>


</style>