<template>
  <div>
    Book Number of Seat: <input v-model="seat" @change="changed">
    <br>
    <br>
    <button v-on:click="Insert">Insert</button>
  </div>
</template>

<script>
import router from '../router'
export default {
  name: 'test',
  data () {
    return {
      seat: ''
    }
  },
  methods: {
      Insert() {
        router.push({ name: "Page5" })
      },
      changed: function(event) {
      this.$store.commit('change3', event.target.value);
    }
  }
}
</script>

<style>


</style>