<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <button v-on:click="confrim()">Confirm Booking</button>
   
  </div>
</template>

<script>
import {mapState, mapMutations, mapGetters} from 'vuex'


export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Confirm',
    }
  },
  computed: {

  },
  methods:{
    ...mapMutations([
      'ADD_ID'
    ]),
    confrim(){
      var scope = this;
      var xreq = new XMLHttpRequest();
      var url = 'http://127.0.0.1:8888/post';
      xreq.open("POST", url, true);
      xreq.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

      var date = new Date();
      var type = "reservation";
      var params = "day="+scope.$store.getters.getDay+"&date="+scope.$store.getters.getDate+"&time="+scope.$store.getters.getTime+"&ticket_count="+scope.$store.getters.getTicketCount+"&price="+parseInt(scope.$store.getters.getTicketCount)*20+"&payment="+scope.$store.getters.getPayment+"&vcode="+scope.$store.getters.getVoucher;
      xreq.onreadystatechange = function() {//Call a function when the state changes.
        if(xreq.readyState == 4 && xreq.status == 200) {
          // alert(xreq.responseText);
          var body = JSON.parse(xreq.responseText);
          scope.$router.push('/Day');
          //scope.navigatePage();
          }
      }
      xreq.send(params);    }
  },
  /*mounted:function(){
        // this is an unnecessary step. IT was meant to check that the document is created in the database
        var scope = this;
        var xreq = new XMLHttpRequest();
        var url = 'http://127.0.0.1:8888/getByID';
        xreq.open("POST", url, true);
        xreq.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        alert(scope.$store.getters.idValue);
        var parameter = "id="+scope.$store.getters.idValue;
        xreq.onreadystatechange = function() {
          if(xreq.readyState == 4 && xreq.status == 200) {
            alert(xreq.responseText);
          }
        }
        xreq.send(parameter);
    }
    */
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

</style>
