<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    
    <input type="text" placeholder="Date" v-model="date" @change="insertField">
    <button v-on:click="insertField()">Next</button>
   
  </div>
</template>

<script>
import {mapState, mapMutations, mapGetters} from 'vuex'

export default {
  data () {
    return {
      msg: 'Submit The Date',
    }
  },
  computed: {
    ...mapState([
      'date'
    ]),
    ...mapGetters([
      'getDate'
    ]),
    date:{
      get(){
        return this.$store.getters.getDate
      },
      set(value){
        this.$store.commit('ADD_DATE', value)
      }
    }
  },
  methods:{
    ...mapMutations([
      'ADD_DATE'
    ]),
    insertField(){
      var scope = this;
      scope.$router.push('/Time');
   
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

</style>
