<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <button v-on:click="createDoc()">Reserve A Session</button>
   
  </div>
</template>

<script>
import {mapState, mapMutations, mapGetters} from 'vuex'


export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to BigBang',
      doc_id:''
    }
  },
  computed: {
    ...mapState([
      'document_id'
    ]),
    ...mapGetters([
      'idValue'
    ]),
  },
  methods:{
    ...mapMutations([
      'ADD_ID'
    ]),
    createDoc(){
        var scope = this;

        scope.$router.push('/Day');

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

</style>
