<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    
    <input type="text" placeholder="Ticket Count" v-model="tickets" @change="insertField">
    <button v-on:click="insertField()">Next</button>
   
  </div>
</template>

<script>
import {mapState, mapMutations, mapGetters} from 'vuex'

export default {
  data () {
    return {
      msg: 'Specify the Ticket Count Please...',
    }
  },
  computed: {
    ...mapState([
      'ticket_count'
    ]),
    ...mapGetters([
      'getTicketCount'
    ]),
    tickets:{
      get(){
        return this.$store.getters.getTicketCount
      },
      set(value){
        this.$store.commit('ADD_TICKET', value)
      }
    }
  },
  methods:{
    ...mapMutations([
      'ADD_TICKET'
    ]),
    insertField(){
      var scope = this;
      scope.$router.push('/Payment');
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

</style>
