<template>
  <div id="app">
   <router-view></router-view>
  </div>
</template>

<script>
import thelist from "./components/thelist.vue";
import matrix from "./components/matrix.vue";
export default {
  name: 'App',
  components: {
    thelist,
    matrix
  }
}
</script>

<style>
</style>
