@media only screen and (min-width: 750px) {
		
		
		.main-content{
			width: 50%;
			float: left;
			height: 100%;
		}
		.aside{
			width: 50%;
			float: left;
			height: 100%;
			margin-top: 9.3rem;
		}

		.wrapper {
			height: 100%;
			}
		#hidden {
			opacity:0;
		}
		
		#bookbutton {
			max-width:12.3rem;
			height:2.4rem;
		}
		
		.icon_img {
			display: none;
		}
		
		.tabs {
			position: absolute;
			display: block;
			top:1.6rem;
			right:1.6rem;
			margin-top:1.2rem;
		}
		.tabs >span {
			color: white;
		}
		.nowshowing, .account-2 {
			margin-right: 2.3rem;
			color: #CCCCCC ;
			opacity: 100%;
			font-size: 0.8rem;
			font-family: Montserrat-Regular ;
			letter-spacing: 0.1rem;
		}
		
		.bottom {
			position: absolute;
			right:1.6rem;
			margin-top:4.8rem;
		}
		
		.terms {
			margin-top: 6rem;
			margin-bottom: 3rem;
		}
		.session6 {
			display: none;
		}
		
		.session4 {
			display:none;
		}
		
	}
		
	@font-face {
		font-family: Montserrat-Bold;
		src: url(Montserrat-Bold.ttf);
	}
	
	@font-face {
		font-family: Montserrat-SemiBold;
		src: url(Montserrat-SemiBold.ttf);
	}
	
	@font-face {
		font-family: Montserrat-Regular;
		src: url(Montserrat-Regular.ttf);
	}
	
	@font-face {
		font-family: Montserrat-Light;
		src: url(Montserrat-Light.ttf);
	}
	
	@font-face {
		font-family: Montserrat-Medium;
		src: url(Montserrat-Medium.ttf);
	}

	
	body {
	   background-color: black;
	   color:white;
	   margin-left:1.6rem;
	   cursor: default;
	   }
	
	#menuicon {
		float:right;
		margin-right:1.6rem;
		margin-top:1rem;
	}
	
	.undertop {
		color: #222222;
		font-size:3.1rem;
		margin-bottom:1.8rem;
		font-family: Montserrat-Bold;
		margin-top:2.3rem;
	}
	
	#select {
		margin-bottom:0.3rem;
		font-family: Montserrat-Regular;
		font-size:0.9rem
	}
	
	#studio, #studio2 {
		margin-bottom: 1.6rem;
		color:#838383;
		font-family: Montserrat-Regular;
		font-size:0.8rem;
	}
	
	#studio2:hover {
		color:white;
	}
	
	span {
		margin-right:2.9rem;
		color:#838383;
	}
	
	.days {
		margin-left: 0.3rem;
		color:#838383;
		margin-bottom:0.7rem;
	}
	
	#seperate {
		margin-right:3.1rem;
		font-family: Montserrat-SemiBold;
		font-size:0.9rem;
	}
	
	#SemiBold {
		font-family: Montserrat-SemiBold;
		font-size:0.8rem;
	}
	
	.session {
		margin-bottom:2.8rem;
	}
	
	.session2 {
		margin-bottom: 3rem;
	}
	
	hr { 
		display: block;
		margin-top: 0.6rem;
		margin-bottom: 0.5em;
		margin-right:1.6rem;
		border-width: 1px;
	} 
	.seperator {
		margin-bottom: 3.9rem;
	}
	
	.session3 {
		margin-top: 1.8rem;
		margin-bottom: 3rem;
	}
	
	#white {
		color:white;
		margin-right: 1.7rem;
	}
	
	.session3 #studio {
		margin-top:0;
		margin-bottom:1.6rem;
	}
	
	.session4, .session4-hide {
		margin-top:2.3rem;
	}
	
	.blue {
		color: #1FC5ED;
		font-family: Montserrat-Regular;
		font-size: 0.8rem;
	}
	
	#bookbutton {
		width: 100%;
		border: none;
		background-color: white;
		color: #FF3363;
		cursor: pointer;
		text-align: center;
		font-size: 0.8rem;
		font-family: Montserrat-SemiBold;
		padding: 0.5rem ;
	}
	.session5 {
		margin-top:2rem;
		margin-right:1.6rem;
		margin-bottom: 6rem;
	}
	#facebook_icon {
		margin-right:1.5rem;
	}
	
	#facebook_icon, #instagram_icon {
		height: 1.1rem;
		width: 1.1rem;
		margin-top: 13rem;
		margin-right: 0.9rem;
	}
	
	#facebook_icon:hover {
		filter: brightness(0) invert(1);
	}
	
	#instagram_icon:hover {
		filter: brightness(0) invert(1);
	}
	
	.bottom {
		margin-bottom:4.9rem;
	}
	
	#voucher {
		background-color:#F26621;
		display: inline-block;
		border: none;
		color:white;
		font-size: 0.8rem;
		font-family: Montserrat-SemiBold;
		padding: 0.5rem ;
		cursor: pointer;
		text-align: center;
	}
	
	#regular {
		font-family: Montserrat-Regular;
		font-size:0.9rem;
	}
	
	.vouchercode {
		font-family: Montserrat-Regular;
		font-size:0.8rem;
	}
	
	.light {
		font-family: Montserrat-Light;
		font-size:0.8rem;
	}
	
	.session3 span {
		font-family: Montserrat-Regular;
		font-size:0.8rem;
	}
	
	input{
		background-color: black;
		border:none;
		width:80%;
	}
	
	.hovering:hover {
		color:white !important;
	}
	
	.hovering {
		margin-left:0.6rem;
	}
	
	#voucher:hover {
		background-color:white;
		color:#F26621;
	}
	
	#bookbutton:hover {
		background-color: #FF3363;
		color: white;
	}
	
	.upper-menu {
         display: flex;
         flex-direction: row;
         width: 100%;
         justify-content:space-between;
     }
     .bbang_img {
         height:1.8rem;
         width:5.3rem;
		 margin-top: 2.1rem;
		 margin-left:0.35rem;
     }
     .icon_img, .iconx_img {
        height:1.6rem;
        width:1.6rem;
		margin-top: 1.6rem;
		margin-right:1.6rem;
     }
	 
	 .iconx_img {
		margin-top: 0.5rem;
		margin-right:0.4rem;
     }
	 
	 .bbangx_img {
		margin-top:1rem;
	 }
	 
	 .drop-menu {
		position: absolute;
		top:0;
		left:0;
		right:0;
		height: 14.5rem;
		background-color: #1F1F1F;
		visibility: hidden;
		padding: 1.6rem;
	}

	.upper-menu-strip {
		display: flex;
		flex-direction: row;
		padding-left: 1.6rem;
		justify-content: space-between;
		width: 100%;
	}
	
	.icon_img:hover ~ .drop-menu{
		visibility: visible;
	}
	.drop-menu:hover {
		visibility: visible;
	}
	
	
	.now-showing {
		margin-top: 2.3rem;
	}
	.account {
		margin-top: 2rem;
	}
	.account, .now-showing {
		color: #CCCCCC;
		opacity: 100%;
		font-size: 0.8rem;
		font-family: Montserrat-Regular;
		letter-spacing: 0.1rem;
	}
	.yoursession {
		color: #FFFFFF ;
		opacity: 100%;
		font-size: 0.8rem;
		font-family: Montserrat-Medium ;
		letter-spacing: 0rem;
	}

	.your-session {
		margin-top:1.6rem;
		color: #FFFFFF;
		 opacity: 100%;
		font-size: 0.8rem;
		font-family: Montserrat-Medium;
		margin-top: 2rem;

	}
	.tabs {
		display: block;
	}
	
	#wrong , .selectedday, .selectedhour, .selectednumber, .total {
		color:white;
		font-family: Montserrat-SemiBold;
		font-size: 1rem;
	}
	
	.selectedday, .selectedhour, .selectednumber {
		margin-right: 0rem;
	}
	
	.total {
		margin-left:3.7rem;
	}
	
	.border-around {
		border-color:yellow;
		border-style:solid;
		border-radius:0.1rem;
		color:white !important;
	}
	
	#newid {
		color: #838383;
		font-size: 0.9rem;
		font-family: Montserrat-Regular;
	}
	
	#newid:hover {
		display: inline-block; 
		background-color:#F26621; 
		color:white;
	}
	
	@media only screen and (max-width: 750px) {
		.tabs {
			display: none;
		}
		.terms { 
			display:none;
		}
		
		#facebook_icon, #instagram_icon {
			margin-top: 1.4rem;
		}
		.session4-hide {
			display: none;
		}
		
		.hiding {
			display:none;
		}
	}