<template>
	<div id="input">
		<input v-model="single_num" placeholder="provide number">
		 <button v-on:click="addToTotal(single_num); sumUp(single_num); "> ADD </button>
		 <div id="details"> Table of {{sum}} elements </div>
		 <div v-for="(index, item) in values" v-bind:id="index+''+item">
		 	{{index}}  ||  {{item}}
		 	<button v-on:click="deleteIt(index+''+item); decrement()"> DEL </button>
		 </div>

	</div>
</template>

<script>

export default {
  data () {
    return {
      single_num: '',
      values: [],
      sum: 0
    }
  }, methods:{
  		sumUp(n){
  			this.sum = this.sum+parseInt(n);
  		},
  		addToTotal(n){
  			// https://stackoverflow.com/questions/1349404/generate-random-string-characters-in-javascript

  			var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz";
  			for(var i = 0; i<n; i++){
  				this.values.push( possible.charAt(Math.floor(Math.random() * possible.length)) );
  			}
  		},
  		deleteIt(string){
			var element = document.getElementById(string);
			element.parentNode.removeChild(element);
  		},
  		decrement(){
  			this.sum = this.sum-1;
  		}
  }
}

</script>

<style scoped>
	#input{
		width: 100%;
		box-sizing: border-box;
		position:absolute;
		left: 45%;
    top:30%;
	}
	#details{
		padding: 20px;
	}
</style>