<template>
<div>
        <label for="day">Day</label>
        <input type="text" name="day" v-model="day" v-bind:placeholder="dayplaceholder">
        <label for="date">Date</label>
        <input type="text" name="date"  v-model="date" v-bind:placeholder="dateplaceholder">
        <label for="time">Time of the day</label>
        <input type="text" name="time"  v-model="time" v-bind:placeholder="timeplaceholder">
        <label for="seatnum">Number of seats</label>
        <input type="text" name="seatnum"  v-model="seatnum" v-bind:placeholder="seatnumplaceholder">
        <label for="pymnt">Payment Method</label>
         <input type="text" name="pymnt"  v-model="payment" v-bind:placeholder="paymentplaceholder">
        <label for="vchrcode">Voucher Code</label>
        <input type="text" name="vchrcode"  v-model="vchr" v-bind:placeholder="vchrplaceholder">
        <button v-on:click="senddata">Submit</button>
        </div>
</template>

<script>
export default {
  name: "theform",
  data() {
    return {
      day: "",
      date: "",
      time: "",
      seatnum: "",
      payment: "",
      vchr: "",
      dayplaceholder: "",
      dateplaceholder: "",
      timeplaceholder: "",
      seatnumplaceholder: "",
      paymentplaceholder: "",
      vchrplaceholder: ""
    };
  },
  methods: {
    setplace() {
      this.theplaceholder = "Khattab";
    },
    senddata() {
      var http = new XMLHttpRequest();
      var url = "http://127.0.0.1:8888/save";
      var params =
        "day=" +
        this.day +
        "&month=" +
        this.date +
        "&time=" +
        this.time +
        "&seatnum=" +
        this.seatnum +
        "&payment=" +
        this.payment +
        "&voucher=" +
        this.vchr;
      http.open("POST", url, true);

      //Send the proper header information along with the request
      http.setRequestHeader(
        "Content-type",
        "application/x-www-form-urlencoded"
      );

      http.onreadystatechange = function() {
        //Call a function when the state changes.
        if (http.readyState == 4 && http.status == 200) {
          alert(http.responseText);
        }
      };
      http.send(params);
    }
  },
  mounted: function() {
    var ref = this;
    var http = new XMLHttpRequest();
    var url = "http://127.0.0.1:8888/latestdata";
    http.open("GET", url, true);
    http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

    http.onreadystatechange = function() {
      //Call a function when the state changes.
      if (http.readyState == 4 && http.status == 200) {
        var body = JSON.parse(http.responseText);
        console.log(body);
        console.log(body["rows"][0]["value"]["Day"]);
        ref.dayplaceholder = body["rows"][0]["value"]["Day"];
        ref.dateplaceholder = body["rows"][0]["value"]["Date"];
        ref.timeplaceholder = body["rows"][0]["value"]["Time"];
        ref.seatnumplaceholder = body["rows"][0]["value"]["Number of seats"];
        ref.paymentplaceholder = body["rows"][0]["value"]["Payment Method"];
        ref.vchrplaceholder = body["rows"][0]["value"]["Voucher Code"];
        console.log(ref.dateplaceholder);
      }
    };
    http.send(null);
  }
};
</script>