@media only screen and (min-width: 700px){

	.boxed {
		border: 1px solid green ;
		position: absolute;
		width: 400px;
		height: 400px;
		top: 29%;
	 	left: 37%;
	 	color: black;
	 	font-size: 3rem;
	 	text-align: center;
	} 

	.innerBoxes{
		border: 1px solid green;
		width: 100px;
		height: 100px;
	}

	#box1{
		position: absolute;
		top: 0px;
		left: 0px;
	}
	#box2{
		position: absolute;
		top: 0px;
		left: 100px;
	}
	#box3{
		position: absolute;
		top: 0px;
		left: 200px;
	}
	#box4{
		position: absolute;
		top: 0;
		left: 300px;
	}
	#box5{
		position: absolute;
		top: 100px;
		left: 0px;
	}
	#box6{
		position: absolute;
		top: 100px;
		left: 100px;
	}
	#box7{
		position: absolute;
		top: 100px;
		left: 200px;
	}
	#box8{
		position: absolute;
		top: 100px;
		left: 300px;
	}
	#box9{
		position: absolute;
		top: 200px;
		left: 0px;
	}
	#box10{
		position: absolute;
		top: 200px;
		left: 100px;
	}
	#box11{
		position: absolute;
		top: 200px;
		left: 200px;
	}
	#box12{
		position: absolute;
		top: 200px;
		left: 300px;
	}
	#box13{
		position: absolute;
		top: 300px;
		left: 0px;
	}
	#box14{
		position: absolute;
		top: 300px;
		left: 100px;
	}
	#box15{
		position: absolute;
		top: 300px;
		left: 200px;
	}
	#box16{
		position: absolute;
		top: 300px;
		left: 300px;
	}
	.num2{
		background-color: #f9f510;
	}
	.num4{
		background-color: #e8c100;
	}
	.num8{
		background-color: #b5885f; 
	}
	.num16{
		background-color: #a04d00;
	}
	.num32{
		background-color: #ed8b02;
	}
	.num64{
		background-color: #e27b04;
	}
	.num128{
		background-color: #f45f1a;
	}
	.num256{
		background-color: #f94f11;
	}
	.num512{
		background-color: #f23800;
	}
	.num1024{
		background-color: #d32604;
	}
	.num2048{
		background-color: #aa0000;
	}
}

@media only screen and (max-width: 700px) and (min-width: 400px){
	.boxed {
		border: 1px solid green ;
		position: absolute;
		width: 248px;
		height: 248px;
		top: 29%;
		left: 37%;
	}
	.innerBoxes{
		border: 1px solid green ;
		width: 62px;
		height: 62px;
	} 

	#box1, #box2, #box3, #box4{
		position: absolute;
		top: 0px;
	} 
	#box5, #box6, #box7, #box8{
		position: absolute;
		top: 62px;
	} 
	#box9, #box10, #box11, #box12{
		position: absolute;
		top: 124px;
	}
	#box13, #box14, #box15, #box16{
		position: absolute;
		top: 186px;
	}

	#box1, #box5, #box9, #box13{
		left: 0px;
	}
	#box2, #box6, #box10, #box14{
		left:62px;
	}
	#box3, #box7, #box11, #box15{
		left:124px;
	}
	#box4, #box8, #box12, #box16{
		left:186px;
	}
}

@media only screen and (max-width: 399px) {
	.boxed {
		border: 2px solid green;
		position: absolute;
		width: 150px;
		height: 150px;
		top: 29%;
		left: 15%;
	} 
}



