<template>
<div>
   <button type="button" v-on:click="create">Create New Application</button>
</div>
</template>
<script>
export default {
  name: "create",
  data() {
    return {};
  },
  methods: {
    create() {
      var ref = this;
      var http = new XMLHttpRequest();
      var url = "http://127.0.0.1:8888/create";
      http.open("POST", url, true);
      http.setRequestHeader(
        "Content-type",
        "application/x-www-form-urlencoded"
      );
      http.onreadystatechange = function() {
        //Call a function when the state changes.
        if (http.readyState == 4 && http.status == 200) {
          ref.getlatest(ref);
        }
      };
      http.send();
    },

    getlatest(ref) {
      var http = new XMLHttpRequest();
      var url = "http://127.0.0.1:8888/latest";
      http.open("GET", url, true);
      http.setRequestHeader(
        "Content-type",
        "application/x-www-form-urlencoded"
      );
      http.onreadystatechange = function() {
        //Call a function when the state changes.
        if (http.readyState == 4 && http.status == 200) {
          var resp = JSON.parse(http.responseText);
          console.log(resp);
          var docid = resp["rows"][0]["value"]["_id"];
          console.log("Id", docid);
          ref.$router.push({ name: "day", params: { id: docid } });
        }
      };
      http.send();
    }
  }
};
</script>
