<template>
<div>
    <label for="day">Day</label>
    <input type="text" name="day" v-model="day">
    <button v-on:click="senddata">Go to Month</button>
</div>
</template>
<script>
export default {
  name: "day",
  data() {
    return {
      day: ""
    };
  },
  methods: {
    senddata() {
      var ref = this;
      var http = new XMLHttpRequest();
      var url = "http://127.0.0.1:8888/saveday";
      var params = "id=" + this.$route.params.id + "&day=" + this.day;
      http.open("POST", url, true);
      http.setRequestHeader(
        "Content-type",
        "application/x-www-form-urlencoded"
      );
      http.onreadystatechange = function() {
        //Call a function when the state changes.
        if (http.readyState == 4 && http.status == 200) {
          alert(http.responseText);
          ref.$router.push({
            name: "month",
            params: { id: ref.$route.params.id }
          });
        }
      };
      http.send(params);
    }
  }
};
</script>
