<template>
    <div>
        <label for="payment">Payment Method</label>
    <input type="text" name="payment" v-model="payment">
    <button v-on:click="addpayment" type="button">Save and Continue</button>
    </div>
</template>
<script>
import axios from "axios";
export default {
  name: "payment",
  data() {
    return {
      payment: ""
    };
  },
  methods: {
    addpayment() {
      var ref = this;
      var docid = this.$route.params.id;
      var http = new XMLHttpRequest();
      var url = "http://127.0.0.1:8888/savepayment";
      var params = "id=" + this.$route.params.id + "&payment=" + this.payment;
      http.open("POST", url, true);
      http.setRequestHeader(
        "Content-type",
        "application/x-www-form-urlencoded"
      );
      http.onreadystatechange = function() {
        //Call a function when the state changes.
        if (http.readyState == 4 && http.status == 200) {
          ref.$router.push({
            name: "voucher",
            params: { id: docid }
          });
        }
      };
      http.send(params);
    }
  }
};
</script>
