<template>
    <div>
        <label for="seatnum">Number of seats reserved</label>
    <input type="text" name="seatnum" v-model="seatnum">
    <button v-on:click="addtime" type="button">Save and Continue</button>
    </div>
</template>
<script>
import axios from "axios";
export default {
  name: "seatnum",
  data() {
    return {
      seatnum: ""
    };
  },
  methods: {
    addtime() {
      var ref = this;
      var docid = this.$route.params.id;
      var http = new XMLHttpRequest();
      var url = "http://127.0.0.1:8888/saveseatnum";
      var params = "id=" + this.$route.params.id + "&seatnum=" + this.seatnum;
      http.open("POST", url, true);
      http.setRequestHeader(
        "Content-type",
        "application/x-www-form-urlencoded"
      );
      http.onreadystatechange = function() {
        //Call a function when the state changes.
        if (http.readyState == 4 && http.status == 200) {
          ref.$router.push({
            name: "payment",
            params: { id: docid }
          });
        }
      };
      http.send(params);
    }
  }
};
</script>
