<template>
    <div>
        <label for="month">Time of day</label>
    <input type="text" name="time" v-model="sessiontime">
    <button v-on:click="addtime" type="button">Save and Continue</button>
    </div>
</template>
<script>
import axios from "axios";
export default {
  name: "sessiontime",
  data() {
    return {
      sessiontime: ""
    };
  },
  methods: {
    addtime() {
      var ref = this;
      var docid = this.$route.params.id;
      var http = new XMLHttpRequest();
      var url = "http://127.0.0.1:8888/savetime";
      var params = "id=" + this.$route.params.id + "&time=" + this.sessiontime;
      http.open("POST", url, true);
      http.setRequestHeader(
        "Content-type",
        "application/x-www-form-urlencoded"
      );
      http.onreadystatechange = function() {
        //Call a function when the state changes.
        if (http.readyState == 4 && http.status == 200) {
          ref.$router.push({
            name: "seatnum",
            params: { id: docid }
          });
        }
      };
      http.send(params);
    }
  }
};
</script>
