<template>
<div>
   <h1>Form Filled</h1>
   <div id="formdiv">
       <div> <strong>Day</strong> {{day}}</div>
        <div><strong>Date of month:</strong> {{date}}</div>
        <div><strong>Reservation Time :</strong>{{time}}</div>
        <div><strong>Number of seats Reserved:</strong> {{seatnum}}</div>
        <div><strong> Payment Method:</strong> {{payment}}</div>
        <div><Strong>Voucher Code: </strong>{{vchrcode}}</div>
        <router-link tag="button" to="/">Confirm</router-link>
   </div>
</div>
</template>
<script>
export default {
  name: "success",
  data() {
    return {
      day: "",
      date: "",
      time: "",
      seatnum: "",
      payment: "",
      vchrcode: ""
    };
  },
  mounted: function() {
    var ref = this;
    var http = new XMLHttpRequest();
    var url = "http://127.0.0.1:8888/latest";
    http.open("GET", url, true);
    http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    http.onreadystatechange = function() {
      //Call a function when the state changes.
      if (http.readyState == 4 && http.status == 200) {
        var resp = JSON.parse(http.responseText);
        var obj = resp["rows"][0]["value"];
        ref.day = obj["day"];
        ref.date = obj["month"];
        ref.time = obj["time"];
        ref.seatnum = obj["seatnum"];
        ref.payment = obj["payment"];
        ref.vchrcode = obj["voucher"];
      }
    };
    http.send();
  }
};
</script>
<style>
#formdiv {
  display: flex;
  flex-direction: column;
}
</style>

