<template>
  <div>
    Select Session Date: <input v-model="date" v-bind:placeholder="value1">
    <br>
    Select Session Time: <input v-model="time" v-bind:placeholder="value2">
    <br>
    Book Number of Seat: <input v-model="number" v-bind:placeholder="value3">
    <br>
    <button v-on:click="senddata">Book Now</button>
  </div>
</template>

<script>

export default {
  name: 'test',
  data () {
    return {
      date: '',
      time: '',
      number: '',
      value1: '',
      value2: '',
      value3: ''
    }
  },
  methods: {
      senddata() {
        var http = new XMLHttpRequest();
        var url = 'http://127.0.0.1:8888/postdata';
        var total= this.number * 20;
        var params = 'Day='+this.date+'&month='+this.time +'&seatnum=' + this.number + '&total=' +total ;
        http.open('POST', url, true);

        //Send the proper header information along with the request
        http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

        http.onreadystatechange = function() {//Call a function when the state changes.
            if(http.readyState == 4 && http.status == 200) {
                alert(http.responseText);
            }
        }
        http.send(params);
        alert("booked");
      }
  },
  mounted: function() {
      var x=this;
      var http = new XMLHttpRequest();
        var url = 'http://localhost:8888/latestdata';
        http.open('GET', url, true);
        http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        http.onreadystatechange = function() {//Call a function when the state changes.
        if(http.readyState == 4 && http.status == 200) {
          var y=JSON.parse(http.responseText)['rows'][0]['value'];
          console.log(y);
          x.value1=y.day;
          x.value2=y.hour;
          x.value3=y.numberofseats;
        }	
        
      }
      http.send(null);
    }
}
</script>

<style>
input, button {

  margin-top: 30px;
}

</style>