:root{
	--bg-color: #000000;
}
@media only screen and (min-width: 900px){

	.upperLeft{
		display: inline-block;
	}
	.upperRight{
		display: inline-block;
		position: absolute;
		border-left: 0.1rem solid gray;
		height: 95%;
		opacity: 20%;
		margin-left: 2.5rem;
	}
	.menu{
		display: none !important;
	}
	.blue-header{
		width: 175px;
	}
	.inline-display{
		display: inline;
	}
	.blue-header-margin{
		width: 175px;
		margin-right: 2.8rem;
	}

	.book-now{
		max-width: 12.3rem;
	}

	#user-menu{
		display: inline-block !important;
		color: #CCCCCC;
		opacity: 100%;
		font-size: 0.8rem;
		letter-spacing: 0.1rem;
		line-height: 1rem;
	}
	#showing:hover, #account:hover, #session:hover, .user-menu-clicked{
		color: #FFFFFF;
		opacity: 100%;
		font-size: 0.8rem;
		letter-spacing: 0rem;
		line-height: 1rem;
	}
	#showing, #account{
		margin-right: 1.1rem;
	}

	.footer-menu{
		display: inline-block;
		color: #979797;
		opacity: 100%;
		font-size: 0.8rem;
		font-family: Montserrat-Regular;
		letter-spacing: 0.1rem;
		line-height: 1rem;
	}
	.footer-menu:hover{
		display: inline-block;
		color: #FFFFFF;
	}
	.footer-menu:not(#escape){
		margin-left: 3.2rem;
	}
	.arrow-display{
		display: none !important;
	}
}
@media only screen and (max-width: 800px){

}

@font-face{
	font-family: 'Montserrat-Bold';
	src: url('Font/Montserrat-Bold.ttf')
}
@font-face{
	font-family: 'Montserrat-Regular';
	src: url('Font/Montserrat-Regular.ttf')
}
@font-face{
	font-family: 'Montserrat-Light';
	src: url('Font/Montserrat-Light.ttf')
}
@font-face{
	font-family: 'Montserrat-SemiBold';
	src: url('Font/Montserrat-SemiBold.ttf')
}
@font-face{
	font-family: 'Montserrat-Medium';
	src: url('Font/Montserrat-Medium.ttf')
}
body{
	background-color: var(--bg-color);
	cursor: context-menu;
}
html, body{
	margin:0;
	padding: 0;
}
.upper{
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	padding-top: 2.1rem;
}
.upperLeft{
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	width: 50%;
}
.upperRight{
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	width: 50%;
}

#upper-bar{
	display: flex;
	flex-direction: row;
	/*flex-wrap: wrap;*/
	justify-content: space-between;
}

#logo {
	display: inline-block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(/icons/bbang_icon.svg) no-repeat;

	width: 5.3rem; /* Width of new image */
	height: 1.8rem; /* Height of new image */
}
#logo2 {
	display: inline-block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(/icons/bbang_icon.svg) no-repeat;
	margin-left: 2.5rem;
	margin-top: 2.1rem;
	margin-bottom: 2.3rem;
	width: 5.3rem; /* Width of new image */
	height: 1.8rem; /* Height of new image */
}
.menu{
	display: inline-block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	width: 1.6rem; /* Width of new image */
	height: 1.6rem; /* Height of new image */
}

#popup{
	background-color: #1F1F1F;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 18.3rem;				
	opacity: 100%;
	display: none;
}
#user-menu{
	display: none;
}
.menu:hover ~ #popup{
	display: block;
}
#popup:hover{
	display: block;
}
.user{
	color: #CCCCCC;
	opacity: 100%;
	font-size: 0.8rem;
	font-family: Montserrat-Regular;
	letter-spacing: 0.1rem;
	line-height: 1rem;
	margin-left: 2.5rem;
}
.user>#showing:hover{
	color: #FFFFFF;
	opacity: 100%;
	font-size: 0.8rem;
	font-family: Montserrat-Medium;
	letter-spacing: 0rem;
	line-height: 1rem;
}
.user>#account:hover{
	color: #FFFFFF;
	opacity: 100%;
	font-size: 0.8rem;
	font-family: Montserrat-Medium;
	letter-spacing: 0rem;
	line-height: 1rem;
}
.user>#session:hover{
	color: #FFFFFF;
	opacity: 100%;
	font-size: 0.8rem;
	font-family: Montserrat-Medium;
	letter-spacing: 0rem;
	line-height: 1rem;
}
#booking{
	color: #222222;
	opacity: 100%;
	font-size: 3.1rem;
	font-family: Montserrat-Bold;
	letter-spacing:0.1rem;
	line-height:3.8rem;
	padding-top: 2.3rem;

}

.major-header{
	color: #FFFFFF;
	opacity: 100%;
	font-size: 0.9rem;
	font-family: Montserrat-Regular;
	letter-spacing:0.1rem;
	line-height:1.1rem;
	margin-top: 1.8rem; /* this is margin from the BOOKING statement*/ 
}
.minor-header{
	color: #CCCCCC;
	opacity: 100%;
	font-size: 0.8rem;
	font-family: Montserrat-Light;
	letter-spacing: 0.1rem; 
	line-height: 1rem;
	margin-top: 0.3rem; /* this is margin from the above statement*/ 
}

#calender{
	display: flex;
	flex-direction: row;
	/*flex-wrap: wrap;*/
	justify-content: flex-start;
	color: #838383;
	opacity: 100%;
	font-size: 0.9rem;
	font-family: Montserrat-Regular;
	letter-spacing: 0.0rem; 
	line-height: 1.1rem;
	text-align: center;
	margin-top: 1.6rem; /* margin from the above statement (minor-header)*/
}

#sunday:hover , #monday:hover , #tuesday:hover , #wednesday:hover , #thursday:hover {
	color: #FFFFFF !important;
	opacity: 100%;
	font-size: 0.8rem;
	font-family: Montserrat-SemiBold;
	letter-spacing: 0rem;
	line-height: 0.9rem;
}

#sunday:hover> #sun-orng , #monday:hover> #mon-orng, #tuesday:hover> #tue-orng , #wednesday:hover>#wed-orng , #thursday:hover> #thu-orng{
	padding: 0.2rem;
	border-radius: 0rem;
	color: #FFFFFF !important;
	font-size: 0.9rem;
	font-family: Montserrat-SemiBold;
	letter-spacing: 0rem;
	line-height: 1.1rem;
}

.day-date{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.8rem;
	margin-left: 2.9rem;
}

.hidden-dates{
	display: none;
}

#right-arrow, #left-arrow{
	color: white;
	font-size: 2rem;
	font-weight:bold;
	padding-top: 0.8rem;
	margin-top: 0.8rem;
}

#left-arrow{
	display: none;
}

#time-range{
	display: flex;
	flex-direction: row;
	/*flex-wrap: wrap;*/
	justify-content: flex-start;
	color: #838383;
	opacity: 100%;
	font-size: 0.9rem;
	font-family: Montserrat-Regular;
	letter-spacing: 0.0rem; 
	line-height: 1.1rem;
	text-align: center;
	margin-top: 1.6rem; /* margin from the above statement (minor-header)*/
}
.time-date{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.8rem;
	margin-left: 2.9rem;
}

#slot-1:hover, #slot-2:hover, #slot-3:hover, #slot-4:hover{
	color: #FFFFFF;
	font-size: 0.9rem;
	font-family: Montserrat-SemiBold;
	letter-spacing: 0rem;
	line-height: 1.1rem;
}
#ticket-range{
	display: flex;
	flex-direction: row;
	/*flex-wrap: wrap;*/
	justify-content: flex-start;
	color: #838383;
	opacity: 100%;
	font-size: 0.9rem;
	font-family: Montserrat-Regular;
	letter-spacing: 0.0rem; 
	line-height: 1.1rem;
	text-align: center;
	margin-top: 1.6rem; /* margin from the above statement (minor-header)*/

}
.ticket-type{
	padding: 0.8rem;
	margin-left: 2.9rem;

}
#one_ticket:hover, #two_ticket:hover{
	color: #FFFFFF;
	font-size: 0.9rem;
	font-family: Montserrat-SemiBold;
	letter-spacing: 0rem;
	line-height: 1.1rem;
} 
.ticket-type-clicked, .time-date-clicked, .payment-type-clicked{
	background-color: #F26621;
	opacity: 100%;
	border-radius: 0rem;
	color: #FFFFFF;
	opacity: 100%;
	font-size: 0.9rem;
	font-family: Montserrat-SemiBold;
	letter-spacing: 0rem;
	line-height: 1.1rem;
}
#payment-options{
	display: flex;
	/*flex-direction: row;*/
	flex-wrap: wrap;
	justify-content: flex-start;
	color: #838383;
	opacity: 100%;
	font-size: 0.9rem;
	font-family: Montserrat-Regular;
	letter-spacing: 0.0rem; 
	line-height: 1.1rem;
	text-align: center;
	margin-bottom: 3rem;
}
.payment-type{
	padding: 0.8rem;
	margin-left: 2.9rem;
}
#card:hover, #voucher:hover{
	color: #FFFFFF;
	font-size: 0.9rem;
	font-family: Montserrat-SemiBold;
	letter-spacing: 0rem;
	line-height: 1.1rem;
}
input{
	color: #CCCCCC;
	width: 31.1rem;
	background-color: var(--bg-color);
	border: none;
}
span.minor-header{
	margin-left: 1.7rem;
}
.blue-header{
	color: #1FC5ED;
	opacity: 100%;
	font-size: 0.8rem;
	font-family: Montserrat-Regular;
	letter-spacing: 0.1rem;
	line-height: 1rem; 
	margin-top: 2.8rem;
}
.no-margin{
	margin-left: 0rem;
}
hr{
	width:100%;
	display: inline-block; 
	color: gray;
	opacity: 20%;
}
.booking-details{
	color: #FFFFFF;
	opacity: 100%;
	font-size: 1rem;
	font-family: Montserrat-SemiBold;
	letter-spacing: 0rem;
	line-height: 1.2rem;
}
.book-now{
	width: 100%;
	height: 2.4rem;
	fill: #FFFFFF;
	color: #FF3363;
	cursor: pointer;
	opacity: 100%;
	font-size: 0.8rem;
	font-family: Montserrat-SemiBold;
	letter-spacing: 0.1rem;
	line-height: 1rem;
	border-radius: 0rem;
	margin-top: 2.8rem;
}
.footer{
	color: #979797;
	opacity: 100%;
	font-size: 0.8rem;
	font-family: Montserrat-Regular;
	letter-spacing: 0.1rem;
	line-height: 1rem ;
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	margin-top: 6.7rem;
}

.footer-icons:hover{
	filter:brightness(0) invert(1);
}
#icons-container{
	position: absolute;
	right: 2.5rem;
}

.orange-border{
	border-color: #F26621;
	border-style: solid;
	border-radius: 0.1rem !important;
}