<template>
<div id="app">
    <span>{{value}}</span>
    <button v-on:click="handleIncrement">Increment</button>
    <button v-on:click="handleDelete">Delete</button>
</div> 
</template>

<script>
export default {
  name: "todo-item",
  props: ["value", "id"],
  methods: {
    handleIncrement: function() {
      this.$emit("clickedsomething", this);
    },
    handleDelete: function() {
      this.$emit("deletedsomething", this);
    }
  }
};
</script>

<style>
#app > * {
  margin-left: 10px;
  margin-bottom: 10px;
}
</style>
