<template>

    <div>
 
         <div v-bind:class="{page_title:true}">ACCOUNT</div>
       <div :class="{logoutshow:!$store.state.loggedin}">
          
        <div :class="{profile:true, styling:true}">PROFILE</div>
        <div :class="{name_label:true, styling:true}">Your Name: <span :class="{name:true,styling:true}">{{this.$store.getters.getname}}</span></div>
        <div :class="{num_label:true, styling:true}">Phone Number: <span :class="{num:true, styling:true}">{{this.$store.getters.getphonenum}}</span></div>
        <div :class="{email_label:true, styling:true}">Email Address: <span :class="{email:true, styling:true}">{{this.$store.getters.getemail}}</span></div>
       
          <div :class="{warning:exists, displayit:!exists}">Username Already Taken !</div>
        <input :class="{inputname:true, change:namechange}" v-model="name" type="text">
         <input :class="{inputnum:true, change:numchange}" v-model="number" type="text">
          <input :class="{inputemail:true, change:emailchange}" v-model="email" type="text">
          <div :class="{changename:true,change:!namechange}" v-on:click="editname">Change</div>
           <div :class="{changenum:true,change:!numchange}" v-on:click="editnum">Change</div>
            <div :class="{changeemail:true,change:!emailchange}" v-on:click="editemail">Change</div>
           <div :class="{changes:true}"> <div :class="{save:true, saveappears:false}" v-on:click="applychanges"><p>SAVE</p></div> <div :class="{logout:true}" v-on:click="signout"><p>LOGOUT</p></div> </div>
           
            </div>
              <div :class="{logoutshow:$store.state.loggedin}">
        <div :class="{login_welcome:true, styling:true}">It seems that you are not registered on <span :class="{boldword:true}">BIGBANG</span>, or you are not logged in. But before that, here is a glance of who we are. <br><br> We are a <span :class="{boldword:true}">VR</span> temple located in the heart of Beirut. Lebanon’s very first Bigbang offers access to virtual experiences, a variation of passive trips to augmented realities. <br><br> Browse our collection with over 400 movies to pick from, and enjoy the immersive experience with our latest technologies made just for you. <br><br> To start your VR adventure, please <span :class="{boldword:true}"> LOGIN</span> or <span :class="{boldword:true}">SIGN UP</span> if uou are not registered.</div>
               <div :class="{login:true}" v-on:click="gotologinpage"><p>LOGIN</p></div>
                <div :class="{signup:true}" v-on:click="gotosignuppage"><p>SIGN UP</p></div>
            </div>
    </div>
</template>

<script>
import axios from "axios";
import menunav from "./menunav.vue";
import footernav from "@/components/footernav";
export default {
  components: {
    menunav,
    footernav
  },
  name: "account",

  data() {
    return {
      nameholder: "",
      numberholder: "",
      emailholder: "",
      name: "",
      number: "",
      email: "",
      numchange: true,
      namechange: true,
      emailchange: true,
      savebox: true,
      exists: false
    };
  },
  methods: {
    gotologinpage() {
      this.$router.push({ name: "login" });
    },
    gotosignuppage() {
      this.$router.push({ name: "signup" });
    },
    signout() {
      this.$store.state.loggedin = false;
      //this.$router.push({ name: "login" });
      this.$store.state.sessioncount = 0;
      this.$store.commit("setname", "");
      this.$store.commit("setphonenum", "");
      this.$store.commit("setemail", "");
      this.$store.state.userid = 0;
      this.$session.destroy();
    },

    editname() {
      this.namechange = false;
      this.savebox = false;
    },
    editnum() {
      this.numchange = false;
      this.savebox = false;
    },
    editemail() {
      this.emailchange = false;
      this.savebox = false;
    },
    applychanges() {
      this.namechange = true;
      this.emailchange = true;
      this.numchange = true;
      this.savebox = true;

      let ref = this;
      axios({
        method: "post",
        url: "http://localhost:8888/update",
        data: {
          id: ref.$store.getters.getuserid,
          name: this.name,
          phonenumber: this.number,
          email: this.email
        },
        headers: {
          "Content-Type": "application/json"
        }
      })
        .then(function(response) {
          console.log(response.data, "hey");
          if (
            response.data == "true" &&
            ref.name != ref.$store.getters.getname
          ) {
            ref.exists = response.data;
            ref.namechange = false;
            ref.savebox = false;
          } else if (response.data == "false" && ref.name != "") {
            ref.$store.commit("setname", ref.name);
            ref.exists = false;
          } else if (
            response.data == "true" &&
            ref.$store.getters.getname == ref.name
          ) {
            ref.exists = false;
          }

          if (ref.number != "") {
            ref.$store.commit("setphonenum", ref.number);
          }
          if (ref.email != "") {
            ref.$store.commit("setemail", ref.email);
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  },
  beforeCreate: function() {
    document.body.className = "account";
  },
  mounted: function() {
    if (this.$session.exists()) {
      this.$store.state.sessioncount = this.$session.get("sessioncount");
      this.$store.state.username = this.$session.get("username");
      this.$store.state.loggedin = this.$session.get("loggedin");
      this.$store.state.userid = this.$session.get("userid");
      this.$store.commit("setname", this.$session.get("name"));
      this.$store.commit("setuserid", this.$session.get("setuserid"));
      this.$store.commit("setphonenum", this.$session.get("phonenum"));
      this.$store.commit("setemail", this.$session.get("email"));
    }

    if (this.$store.state.loggedin == false) {
      this.$router.push({ name: "account" });
    }
    this.$store.commit("setnowshowing", false);
    this.$store.commit("setaccount", true);
    this.$store.commit("setsession", false);
  }
};
</script>

<style scoped>
.changes {
  width: 100%;
  display: flex;
  flex-direction: row;
  right: 0%;
  margin-bottom: 18rem;
  position: relative;
}
.boldword {
  font-family: Montserrat-Bold;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 16px;
}
.logoutshow {
  display: none;
}
.warning {
  position: absolute;
  top: 0%;
  left: 0%;
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #ff3363;
  margin-top: 11.88rem;
  margin-left: 65rem;
}
.displayit{
  display: none;
}
.page_title {
  width: 441px;
  height: 61px;
  font-family: Montserrat-Bold;
  font-size: 50px;
  color: #222222;
  letter-spacing: 1.88px;
  margin-left: 2.44rem;
}
.logout {
  width: 9.94rem;
  height: 2.88rem;
  position: absolute;
  right: 0;
  margin-right: 18.25rem;
  font-family: Montserrat-SemiBold;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 1.39px;
  text-align: center;
  border: 1px solid white;
  cursor: pointer;
}
.signup {
  width: 9.94rem;
  height: 2.88rem;
  margin-left: 44%;
  transform: translate(-50%);
  margin-top: 2rem;
  font-family: Montserrat-SemiBold;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 1.39px;
  text-align: center;
  border: 1px solid white;
  cursor: pointer;
  margin-bottom: 11rem;
}
.login {
  width: 9.94rem;
  height: 2.88rem;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 57%;
  transform: translate(-50%);
  margin-top: 25.05rem;
  font-family: Montserrat-SemiBold;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 1.39px;
  text-align: center;
  border: 1px solid white;
  cursor: pointer;
}
.login:hover {
  color: black;
  background-color: #ffffff;
}
.signup:hover {
  color: black;
  background-color: #ffffff;
}
.logout:hover {
  color: black;
  background-color: #ffffff;
}
.save {
  width: 9.94rem;
  height: 2.88rem;
  font-family: Montserrat-SemiBold;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 1.39px;
  text-align: center;
  border: 1px solid white;
  cursor: pointer;
  right: 0;
  margin-right: 28.6rem;
  position: absolute;
}
.saveappears {
  display: none;
}

.changename,
.changenum,
.changeemail {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #ff3363;
  letter-spacing: 1.39px;
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 18.25rem;
  cursor: pointer;
}
.changename {
  margin-top: 11.88rem;
}
.changenum {
  margin-top: 14.44rem;
}
.changeemail {
  margin-top: 16.88rem;
}
.change {
  display: none;
}
.inputname {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 18.25rem;
  margin-top: 11.88rem;
  background-color: transparent;
  border: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  outline: none;
}
.inputnum {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 18.25rem;
  margin-top: 14.44rem;
  background-color: transparent;
  border: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  outline: none;
}
.inputemail {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 18.25rem;
  margin-top: 16.88rem;
  background-color: transparent;
  border: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  outline: none;
}
.num,
.name,
.email {
  margin-left: 0.1rem;
}
.styling {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 1.39px;
}
.profile {
  width: 4.19rem;
  margin-top: 1.81rem;
  margin-left: 2.5rem;
}

.name_label {
  width: 12.5rem;
  height: 1rem;
  position: absolute;
  left: 0%;
  top: 0%;
  margin-top: 11.88rem;
  margin-left: 14.06rem;
}
.login_welcome {
  width: 60rem;
  margin-top: 3rem;
  margin-left: 50%;
  transform: translate(-50%);
}
.num_label {
  width: 15.81rem;
  height: 1rem;
  margin-top: 1.56rem;
  margin-left: 14.06rem;
}
.email_label {
  width: 24rem;
  height: 61px;
  margin-top: 1.44rem;
  margin-left: 14.06rem;
}
</style>
