<template>
<div>
<div v-bind:class="{page_title:true}">BOOKING</div>
 <div :class="{warning:error}">Missing Required Fields</div>
 <div :class="{entire:true}">
<div :class="{leftdiv:true}">
        <div :class="{select_session_date:true, bigtitle:true}">SELECT SESSION DATE</div>
        <div :class="{close_dates:true, smalltitlenone:true}">Studio close on Sunday & Monday</div>
        <div :class="{dates:true}" >
            <div :class="{date_item:true}"  v-for="i in 7" v-on:click="selectit($event,i)" :key="i">
            <div :class="{smalltitledays:true, i:true}">{{days[i-1]}}</div>
            <div :class="{smalltitledays:true, date:true}" >24</div>
            </div>
            
        </div>
        <div :class="{select_session_time:true, bigtitle:true}">SELECT SESSION TIME</div>
        <div :class="{session_duration:true, smalltitlenone:true}">Interactive Session: 50mn</div>
        <div :class="{times:true}" >
            <div :class="{time_item:true}" v-for="i in 4" v-on:click="selecttime($event)" :key="i">
            <div :class="{smalltitletimes:true}" >{{times[i-1]}}</div>
            </div>
        </div>
            <div :class="{select_seat_number:true, bigtitle:true}">BOOK NUMBER OF SEAT</div>
        <div :class="{session_duration:true, smalltitlenone:true}">Ticket Price: $20</div>
        <div :class="{seats:true}" >
            <div :class="{seat_item:true}" v-for="i in 2" v-on:click="selectseat($event)" :key="i">
            <div :class="{smalltitleseats:true}" >{{seatnum[i-1]}}</div>
            </div>
            </div>
                <div :class="{select_payment_method:true, bigtitle:true}">SELECT YOUR PAYMENT METHOD</div>
        <div :class="{payments:true}" >
            
            <div :class="{smalltitlecr:true}"  id="credit" v-on:click="selectcr($event)">Credit/Debit Card</div>
            <div :class="{smalltitlevc:true}" id="voucher" v-on:click="selectvr($event)">Use a Voucher</div>
            
        
            </div>
            <input placeholder="VOUCHER CODE*" id="vouchercoder" :class="{voucher_code:true}" type="text">
            <div :class="{smalltitle:true, instruction:true}">*Fill in your personla Bigbang voucher code</div>
</div>
<div :class="{rightdiv:true}">
<div :class="{ bigtitle:true}">REVIEW</div>
        <div :class="{session_duration:true, smalltitle:true}">Your interactive session titles</div>
        <div :class="{gametitle1:true, bigtitle:true}">MOVIE TITLE #1 <span :class="{game:true}">{{$route.query.title1}}</span></div>
        <div :class="{gametitle2:true, bigtitle:true}">MOVIE TITLE #2 <span :class="{game:true}">{{$route.query.title2}}</span></div>
        <hr>
        <div :class="{bigtitle:true, booking_label:true}">YOUR BOOKING: <span id="dayholder" :class="{day:true}"></span><span id="dateholder" :class="{datenum:true}"></span><span id="timeholder" :class="{time:true}"></span><span id="seatholder" :class="{seatnumber:true}"></span></div>
        <div :class="{bigtitle:true, total_label:true}" >TOTAL: <span :class="{total:true}" id="total"></span></div>
        <div :class="{booknow:true}" v-on:click="booknow"><p>BOOK NOW</p></div>
</div>
</div>

<!-- <footernav/> -->
</div>

</template>

<script>
import axios from "axios";
import menunav from "./menunav.vue";
import footernav from "@/components/footernav";
export default {
  name: "booking",
  components: {
    menunav,
    footernav
  },
  data() {
    return {
      days: ["S", "M", "T", "W", "T", "F", "S"],
      dayscom: [
        "Sunday",
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday"
      ],
      times: ["12pm", "6pm", "8pm", "10pm"],
      seatnum: ["01", "02"],
      payment: "",
      error: false
    };
  },
  methods: {
    booknow() {
      if (
        document.getElementById("dayholder").innerHTML == "" ||
        document.getElementById("dateholder").innerHTML == "" ||
        document.getElementById("timeholder").innerHTML == "" ||
        document.getElementById("seatholder").innerHTML == ""
      ) {
        this.error = true;
      } else {
        this.error = false;
        let ref = this;
        axios({
          method: "post",
          url: "http://localhost:8888/addbooking",
          data: {
            userid: ref.$store.state.userid,
            titleone: ref.$route.query.title1,
            titletwo: ref.$route.query.title2,
            day: document.getElementById("dayholder").innerHTML,
            date: document.getElementById("dateholder").innerHTML,
            time: document.getElementById("timeholder").innerHTML,
            numofseats: document.getElementById("seatholder").innerHTML,
            paymentmethod: ref.payment,
            vouchercode: document.getElementById("vouchercoder").value,
            total: document.getElementById("total").innerHTML
          },
          headers: {
            "Content-Type": "application/json"
          }
        })
          .then(function(response) {
            ref.$router.push({
              name: "reciept",
              params: {
                movie1: ref.$route.query.title1,
                movie2: ref.$route.query.title2,
                seatnum: document.getElementById("seatholder").innerHTML,
                date:
                  document.getElementById("dayholder").innerHTML +
                  " " +
                  document.getElementById("dateholder").innerHTML +
                  " @ " +
                  document.getElementById("timeholder").innerHTML,
                total: document.getElementById("total").innerHTML
              }
            });
          })
          .catch(function(error) {
            ref.wrong = true;
          });
      }
    },
    selectcr(e) {
      e.target.classList.add("selected");
      document.getElementById("voucher").classList.remove("selected");
      this.payment = "credit card";
    },
    selectvr(e) {
      e.target.classList.add("selected");
      document.getElementById("credit").classList.remove("selected");
      this.payment = "voucher code";
    },
    selectit(e, i) {
      var main = document.getElementsByClassName("dates")[0];
      for (let i = 0; i < main.children.length; i++) {
        main.children[i].children[0].classList.remove("selectednobg");
        main.children[i].children[1].classList.remove("selected");
      }
      e.target.children[1].classList.add("selected");
      e.target.children[0].classList.add("selectednobg");
      console.log(e.target.children[0].classList[1]);
      document.getElementById("dayholder").innerHTML = this.dayscom[i - 1];
      document.getElementById("dateholder").innerHTML =
        e.target.children[1].innerHTML;
    },
    selecttime(e) {
      var timediv = document.getElementsByClassName("times")[0].children;
      timediv[1].classList.add("selected");
      for (let i = 0; i < timediv.length; i++) {
        timediv[i].classList.remove("selected");
        timediv[i].children[0].classList.remove("selected");
      }
      e.target.classList.add("selected");
      document.getElementById("timeholder").innerHTML = e.target.innerHTML;
    },
    selectseat(e) {
      var timediv = document.getElementsByClassName("seats")[0].children;
      timediv[1].classList.add("selected");
      for (let i = 0; i < timediv.length; i++) {
        timediv[i].classList.remove("selected");
        timediv[i].children[0].classList.remove("selected");
      }
      e.target.classList.add("selected");
      document.getElementById("seatholder").innerHTML =
        "#" + e.target.innerHTML;
      document.getElementById("total").innerHTML =
        "$" + document.getElementById("seatholder").innerHTML[2] * 20;
    }
  },
  beforeCreate: function() {
    document.body.className = "booking";
  },
  mounted: function() {
    if (this.$session.exists()) {
      this.$store.state.sessioncount = this.$session.get("sessioncount");
      this.$store.state.username = this.$session.get("username");
      this.$store.state.loggedin = this.$session.get("loggedin");
      this.$store.state.userid = this.$session.get("userid");
      this.$store.commit("setname", this.$session.get("name"));
      this.$store.commit("setuserid", this.$session.get("setuserid"));
      this.$store.commit("setphonenum", this.$session.get("phonenum"));
      this.$store.commit("setemail", this.$session.get("email"));
    }
    if (this.$store.state.loggedin == false) {
      this.$router.push({ name: "login" });
    }
    this.$store.commit("setnowshowing", false);
    this.$store.commit("setaccount", false);
    this.$store.commit("setsession", false);
    console.log(this.$route.query);
  }
};
</script>


<style scoped>
.entire {
  display: flex;
  flex-direction: row;
}
.warning {
  position: absolute;
  top: 0%;
  left: 0%;
  font-family: Montserrat-Regular;
  font-size: 13px;
  margin-top: 32.6rem;
  margin-left: 63rem;
  color: white;
  padding: 5px;
  background-color: red;
}
.smalltitlecr,
.smalltitlevc {
  color: #838383;
  opacity: 100%;
  font-size: 0.9rem;
  font-family: Montserrat-Regular;
  letter-spacing: 0rem;
  line-height: 1.1rem;
  padding: 4px;
}
.smalltitlecr:hover {
  background-color: #f26621;
  color: #ffffff !important;
  opacity: 100%;
  font-size: 0.9rem;
  font-family: Montserrat-SemiBold;
  letter-spacing: 0rem;
  line-height: 1.1rem;
  cursor: pointer;
}
.smalltitlevc:hover {
  background-color: #f26621;
  color: #ffffff !important;
  opacity: 100%;
  font-size: 0.9rem;
  font-family: Montserrat-SemiBold;
  letter-spacing: 0rem;
  line-height: 1.1rem;
  cursor: pointer;
}
.smalltitletimes {
  color: #838383;
  opacity: 100%;
  font-size: 0.9rem;
  font-family: Montserrat-Regular;
  letter-spacing: 0rem;
  line-height: 1.1rem;
  padding: 3px;
}
.smalltitletimes:hover {
  background-color: #f26621;
  color: #ffffff !important;
  opacity: 100%;
  font-size: 0.9rem;
  font-family: Montserrat-SemiBold;
  letter-spacing: 0rem;
  line-height: 1.1rem;
  cursor: pointer;
}
.smalltitleseats {
  color: #838383;
  opacity: 100%;
  font-size: 0.9rem;
  font-family: Montserrat-Regular;
  letter-spacing: 0rem;
  line-height: 1.1rem;
  cursor: pointer;
  padding: 3px;
}
.smalltitleseats:hover {
  background-color: #f26621;
  color: #ffffff !important;
  opacity: 100%;
  font-size: 0.9rem;
  font-family: Montserrat-SemiBold;
  letter-spacing: 0rem;
  line-height: 1.1rem;
  cursor: pointer;
}
.selectednobg {
  color: #ffffff !important;
  opacity: 100%;
  font-size: 0.9rem;
  font-family: Montserrat-SemiBold;
  letter-spacing: 0rem;
  line-height: 1.1rem;
  cursor: pointer;
}
.smalltitle:hover {
  background-color: #f26621;
  color: #ffffff !important;
  opacity: 100%;
  font-size: 0.9rem;
  font-family: Montserrat-SemiBold;
  letter-spacing: 0rem;
  line-height: 1.1rem;
  cursor: pointer;
}
.selected {
  background-color: #f26621;
  color: #ffffff !important;
  opacity: 100%;
  font-size: 0.9rem;
  font-family: Montserrat-SemiBold;
  letter-spacing: 0rem;
  line-height: 1.1rem;
}
.date_item:hover > :last-child {
  background-color: #f26621;
  color: #ffffff !important;
  opacity: 100%;
  font-size: 0.9rem;
  font-family: Montserrat-SemiBold;
  letter-spacing: 0rem;
  line-height: 1.1rem;
  cursor: pointer;
}

.date_item:hover > :first-child {
  color: #ffffff !important;
  opacity: 100%;
  font-size: 0.9rem;
  font-family: Montserrat-SemiBold;
  letter-spacing: 0rem;
  line-height: 1.1rem;
  cursor: pointer;
}
.booknow {
  width: 12.3rem;
  height: 2.4rem;
  background-color: #ffffff;
  text-align: center;
  margin-top: 2.8rem;
  cursor: pointer;
}
.booknow:hover {
  background-color: #ff3363;
}

.booknow:hover > p {
  color: white;
}
.booknow > p {
  color: #ff3363;
  opacity: 100%;
  font-size: 0.8rem;
  font-family: Montserrat-SemiBold;
  letter-spacing: 0.1rem;
  line-height: 1.2rem;
  padding-top: 0.6rem;
}
.total {
  color: white;
  margin-left: 6.8rem;
  color: #ffffff 100%;
  opacity: 100%;
  font-size: 1rem;
  font-family: Montserrat-SemiBold;
}
.day,
.time,
.datenum,
.seatnumber {
  color: white;
  margin-left: 4px;
  color: #ffffff 100%;
  opacity: 100%;
  font-size: 1rem;
  font-family: Montserrat-SemiBold;
}
.day {
  margin-left: 2rem;
}
.booking_label {
  margin-top: 2.8rem;
  color: #1fc5ed !important;
  font-size: 0.8rem !important;
}
.total_label {
  margin-top: 1.8rem;
  color: #1fc5ed !important;
  font-size: 0.8rem !important;
}
hr {
  width: 25.6rem;
  height: 0px;
  margin-left: 0rem;
  margin-top: 2.8rem;
  color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.game {
  margin-left: 1.7rem;
  font-family: Montserrat-Light;
}
.gametitle1 {
  margin-top: 1.6rem;
}
.gametitle2 {
  margin-top: 1.8rem;
}
.instruction {
  margin-top: 7px;
}
.voucher_code {
  left: 0;
  background-color: black;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  color: #ffffff;
  opacity: 100%;
  font-size: 0.8rem;
  font-family: Montserrat-Regular;
  letter-spacing: 0.1rem;
  width: 31.1rem;
  margin-top: 3rem;
  outline: none;
  padding-bottom: 7px;
}
.voucher_code::placeholder {
  color: white;
  opacity: 100%;
  font-size: 0.8rem;
  font-family: Montserrat-Regular;
}
.session_duration {
  margin-top: 0.3rem;
}
.select_session_time {
  margin-top: 2.8rem;
}
.select_seat_number {
  margin-top: 2.8rem;
}
.select_payment_method {
  margin-top: 2.8rem;
}
.date {
  margin-top: 10px;
}
.date_item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.dates {
  display: flex;
  flex-direction: row;
  width: 27rem;
  margin-top: 1.6rem;
  background-color: transparent;
  justify-content: space-between;
  margin-left: 1rem;
  cursor: pointer;
}
.payments {
  display: flex;
  flex-direction: row;
  width: 17.7rem;
  margin-top: 1.6rem;
  background-color: transparent;
  justify-content: space-between;
  margin-left: 1rem;
}
.seats {
  display: flex;
  flex-direction: row;
  width: 4.4rem;
  margin-top: 1.6rem;
  background-color: transparent;
  justify-content: space-between;
  margin-left: 1rem;
}
.times {
  display: flex;
  flex-direction: row;
  width: 16.5rem;
  margin-top: 1.6rem;
  background-color: transparent;
  justify-content: space-between;
  margin-left: 1rem;
}
.close_dates {
  margin-top: 0.3rem;
}
.smalltitle {
  color: #838383;
  opacity: 100%;
  font-size: 0.9rem;
  font-family: Montserrat-Regular;
  letter-spacing: 0rem;
  line-height: 1.1rem;
  pointer-events: none;
}
.smalltitledays {
  color: #838383;
  opacity: 100%;
  font-size: 0.9rem;
  font-family: Montserrat-Regular;
  letter-spacing: 0rem;
  line-height: 1.1rem;
  pointer-events: none;
  width: 1.2rem;
  text-align: center;
  cursor: pointer;
  padding: 3px;
}
.smalltitlenone {
  color: #838383;
  opacity: 100%;
  font-size: 0.9rem;
  font-family: Montserrat-Regular;
  letter-spacing: 0rem;
  line-height: 1.1rem;
  pointer-events: none;
}
.smalltitledays {
  color: #838383;
  opacity: 100%;
  font-size: 0.9rem;
  font-family: Montserrat-Regular;
  letter-spacing: 0rem;
  line-height: 1.1rem;
  pointer-events: none;
  text-align: center;
}
.bigtitle {
  color: #ffffff;
  opacity: 100%;
  font-size: 0.8rem;
  font-family: Montserrat-Regular;
  letter-spacing: 0.1rem;
}
.leftdiv {
  width: 50%;
  background-color: transparent;
  margin-left: 2.5rem;
  margin-top: 1.8rem;
  margin-bottom: 6.5rem;
}
.rightdiv {
  width: 50%;
  height: 500px;
  background-color: transparent;
  border-left: 0.1rem solid rgba(255, 255, 255, 0.1);
  padding-left: 2.5rem;
  margin-top: 1.8rem;
}
.page_title {
  width: 270px;
  height: 61px;
  margin-left: 2.5rem;
  font-family: Montserrat-Bold;
  font-size: 50px;
  color: #222222;
  letter-spacing: 1.88px;
}
.rfnd_footer_item {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #979797;
  letter-spacing: 1.39px;
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 181px;
  height: 16px;
  margin-left: 39px;
  margin-bottom: 4.9rem;
}
.privacy_footer_item {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #979797;
  letter-spacing: 1.39px;
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 108px;
  height: 16px;
  margin-left: 270px;
  margin-bottom: 4.9rem;
}
.contact_footer_item {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #979797;
  letter-spacing: 1.39px;
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 85px;
  height: 16px;
  margin-left: 427px;
  margin-bottom: 4.9rem;
}

.fb_logo {
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 20px;
  height: 20px;
  margin-left: 1167px;
  margin-bottom: 4.9rem;
}
.inst_logo {
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 20px;
  height: 20px;
  margin-left: 1224px;
  margin-bottom: 4.9rem;
}
.bbang_logo {
  height: 1.8rem;
  width: 5.3rem;
  margin-left: 42px;
  margin-top: 34px;
  display: inline-block;
}
.now_showing_menu_item {
  font-family: Montserrat-Regular;
  display: inline-block;
  color: #cccccc;
  letter-spacing: 1.39px;
  position: absolute;
  left: 0%;
  margin-left: 870px;
  margin-top: 32px;
  width: 123px;
  height: 16px;
  font-size: 13px;
}
.account_menu_item {
  font-family: Montserrat-Regular;
  display: inline-block;
  position: absolute;
  margin-left: 1008.5px;
  left: 0%;
  margin-top: 2rem;
  width: 76px;
  height: 16px;
  font-size: 13px;
  color: #cccccc;
  letter-spacing: 1.39px;
}
.your_session_menu_item {
  font-family: Montserrat-Regular;
  display: inline-block;
  position: absolute;
  margin-top: 32px;
  margin-left: 1102px;
  left: 0%;
  width: 117px;
  height: 16px;
  font-size: 13px;
  color: #cccccc;
  letter-spacing: 1.39px;
  margin-right: 62px;
}
</style>
