<template>

    <div>
     <img :class="{map:true}" src="@/assets/bigbangmap.jpg" alt="">
     <div :class="{overlay:true}"></div>
    <div :class="{address:true}">ADDRESS</div>
    <div :class="{details:true}">Auguste Pacha Adib - Sirian street, lot 1687 <br>Ashrafieh - Beirut</div>
    <div :class="{phone:true}">Phone</div>
    <div :class="{phonenumber:true}">+961 76 083 973</div>
    
    </div>
</template>

<script>
import menunav from "./menunav.vue";
export default {
  name: "privacypolicy",
  components: {
    menunav
  },

  data() {
    return {};
  },
  methods: {},
  mounted: function() {
    if (this.$session.exists()) {
      this.$store.state.sessioncount = this.$session.get("sessioncount");
      this.$store.state.username = this.$session.get("username");
      this.$store.state.loggedin = this.$session.get("loggedin");
      this.$store.state.userid = this.$session.get("userid");
      this.$store.commit("setname", this.$session.get("name"));
      this.$store.commit("setuserid", this.$session.get("setuserid"));
      this.$store.commit("setphonenum", this.$session.get("phonenum"));
      this.$store.commit("setemail", this.$session.get("email"));
    }
    this.$store.commit("setnowshowing", false);
    this.$store.commit("setaccount", false);
    this.$store.commit("setsession", false);
  },
  beforeCreate: function() {
    document.body.className = "contactus";
  }
};
</script>

<style scoped>
.overlay {
  display: none;
  border: none;
  /* position: fixed; */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  /* background-image: url("../assets/img1.jpg"); */
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.map:hover ~ .overlay {
  display: block;
}
.details {
  color: white;
  width: fit-content;
  text-align: center;
  margin-left: 50%;
  transform: translate(-50%);
  font-family: Montserrat-Light;
  margin-top: 1rem;
}
.phonenumber {
  color: white;
  text-align: center;
  font-family: Montserrat-Light;
  width: fit-content;
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 1rem;
  margin-bottom: 3rem;}
.phone {
  color: white;
  font-family: Montserrat-Regular;
  width: fit-content;
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 1rem;

}
.map {
  height: 270px;
  width: 470x;
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 5%;
  cursor: pointer;
  z-index: 3;
}
.map:hover {
  height: 500px;
  width: 700px;
  z-index: 88;
}
.address {
  color: white;
  width: fit-content;
  font-family: Montserrat-Regular;
  margin-left:50%;
  transform: translate(-50%);
}
</style>
