<template>
   <div :class="{footerdiv:true}">
        <div v-bind:class="{rfnd_footer_item:true}" v-on:click="gotorefund" >Refund & Return policy</div>
       <div v-bind:class="{privacy_footer_item:true}" v-on:click="gotoprivacy">Privacy policy</div>
        <div v-bind:class="{contact_footer_item:true}" v-on:click="gotocontact">Contact us</div>
        <img v-bind:class="{fb_logo:true}" v-on:click="gotofb" src="@/assets/facebook_icom.svg" alt="">
        <img v-bind:class="{inst_logo:true}" v-on:click="gotoinstagram" src="@/assets/instagram_icon.svg" alt="">
   </div>
</template>
<script>
export default {
  name: "footernav",
  data() {
    return {};
  },
  methods: {
    gotorefund() {
      this.$router.push({ name: "refundreturn" });
    },
    gotoprivacy() {
      this.$router.push({ name: "privacypolicy" });
    },
    gotocontact() {
      this.$router.push({ name: "contactus" });
    },
    gotofb() {
      window.open("https://www.facebook.com/BbangStudios");
    },
    gotoinstagram() {
      window.open("https://www.instagram.com/bbangstudios");
    }
  }
};
</script>

<style scoped>
.footerdiv {
  display: block;
  /* position: relative; */
  background-color: transparent;
  height: 6.25rem;
  width: 100%;
}
.rfnd_footer_item:hover,
.privacy_footer_item:hover,
.contact_footer_item:hover {
  font-family: Montserrat-SemiBold;
  color: #ffffff;
}
.rfnd_footer_item {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #979797;
  letter-spacing: 1.39px;
  position: absolute;
  left: 0%;
  bottom: 0%;
  margin-left: 2.44rem;
  margin-bottom: 2.06rem;
  width: 187px;
  height: 18px;
  cursor: pointer;
}
.privacy_footer_item {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #979797;
  letter-spacing: 1.39px;
  position: absolute;
  left: 0%;
  bottom: 0%;
  margin-bottom: 2.06rem;
  margin-left: 16.88rem;
  width: 140px;
  height: 16px;
  cursor: pointer;
}
.contact_footer_item {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #979797;
  letter-spacing: 1.39px;
  position: absolute;
  left: 0%;
  bottom: 0%;
  margin-bottom: 2.06rem;
  margin-left: 26.69rem;
  width: 100px;
  height: 16px;
  cursor: pointer;
}

.fb_logo {
  position: absolute;
  right: 0%;
  bottom: 0%;
  width: 20px;
  height: 20px;
  margin-bottom: 1.81rem;
  margin-right: 5.81rem;
  cursor: pointer;
}
.inst_logo {
  position: absolute;
  right: 0%;
  bottom: 0%;
  width: 20px;
  height: 20px;
  margin-bottom: 1.81rem;
  margin-right: 2.25rem;
  cursor: pointer;
}
</style>
