<template>
    <div>
      <progressive-background v-if="ready" :src="'https://viakeyscreen.com/domain/cinemoz.com/asset/'+movie_ids[index]+'/105-featured_big.jpg'" :class="{overlay:true, slider:true}"   placeholder="https://unsplash.it/1920/1080?image=10"
:blur="30"/>
   
        <div :class="{divgradient:true}"></div>
        <div :class="{divgradient2:true}"></div>
         <div :class="{divgradient3:true}"></div>
        <div  v-bind:class="{leftdiv:true}">
        <div :class="{slidernum:true}">{{indexslider}}</div>
        <div v-bind:class="{now_showing:true}">NOW SHOWING</div>
        <div v-if="ready"  v-bind:class="{movie_title:true}">{{movie_titles[index]}}</div>
        <div v-bind:class="{genre1:true}">{{movie_categories[index]}}</div>
        <div v-if="ready"  v-bind:class="{genre2:true}">{{movie_genre[index].toString()}}</div>
        <div v-bind:class="{learn_more:true}" v-on:click="gotoinfo">LEARN MORE</div>
         <div v-bind:class="{previous:true}" v-on:click="previousfilm">Previous</div>
        <div v-bind:class="{next:true}" v-on:click="nextfilm">Next</div>
   </div>
    
        <div :class="{slider:true}"></div>     
    </div>
</template>

<script>
import axios from "axios";
import menunav from "@/components/menunav";
import footernav from "@/components/footernav";
export default {
  name: "home",
  components: {
    menunav,
    footernav
  },
  data() {
    return {
      movie_ids: [],
      movie_titles: [],
      movie_genre: [],
      movie_data: [],
      movie_categories:[],
      indexslider: "0" + 1,
      index: 0,
      ready: false
    };
  },
  methods: {
    nextfilm() {
      this.index = this.index + 1;
      if (this.index == 12) {
        this.index = 0;
      }
      if (this.index < 9) {
        this.indexslider = "0" + (this.index + 1);
      } else this.indexslider = this.index + 1;
    },
    previousfilm() {
      if (this.index == 0) {
        this.index = 11;
      } else {
        this.index = this.index - 1;
      }
      if (this.index < 9) {
        this.indexslider = "0" + (this.index + 1);
      } else this.indexslider = this.index + 1;
    },
    gotoinfo() {
      this.$store.commit("setboolhome", true);
      this.$store.commit("setboolp1", false);
      this.$store.commit("setboolp2", false);
      this.$store.state.getboolsession = false;
      this.$router.push({
        name: "info",
        query: { id: this.movie_ids[this.index] }
      });
    }
  },
  // beforeCreate: function() {
  //   document.body.className = "home";
  // },
  mounted: function() {
    if (this.$session.exists()) {
      this.$store.state.sessioncount = this.$session.get("sessioncount");
      this.$store.state.username = this.$session.get("username");
      this.$store.state.loggedin = this.$session.get("loggedin");
      this.$store.state.userid = this.$session.get("userid");
      this.$store.commit("setname", this.$session.get("name"));
      this.$store.commit("setuserid", this.$session.get("setuserid"));
      this.$store.commit("setphonenum", this.$session.get("phonenum"));
      this.$store.commit("setemail", this.$session.get("email"));
    }
    var d = new Date();
    var n = d.getDate;
    let ref = this;
    this.$store.commit("setnowshowing", false);
    this.$store.commit("setaccount", false);
    this.$store.commit("setsession", false);
    axios({
      method: "get",
      url:
        "https://viakeyscreen.com/domain/cinemoz.com/feed/random?limit=12&language=english&seed=2018-10-23T00:00:00:000",
      headers: {
        "Content-Type": "application/json"
      }
    })
      .then(function(response) {
        var data = response.data.rows;
        console.log(data[0].doc,"HERE");

        for (let i = 0; i < 12; i++) {
          var information = [];
          information.push(data[i].doc.synopsis);
          information.push(data[i].doc.keywords);
          ref.movie_ids.push(data[i].id);
          ref.movie_titles.push(data[i].doc.name);
          ref.movie_categories.push(data[i].doc.keywords.category.toString())
          ref.movie_genre.push(data[i].doc.keywords.genre);
          information.push(data[i].doc.name);
          ref.movie_data.push(information);
        }
        ref.ready = true;
      })
      .catch(function(error) {
        console.log(error);
      });
  }
};
</script>



<style scoped>
.slidernum {
  -webkit-text-fill-color: rgb(255, 255, 255, 0);
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 0.3rem;
  border: 0 solid #ffffff;
  font-family: Montserrat-Bold;
  font-size: 400px;
  color: rgba(255, 255, 255, 0);
  letter-spacing: 15px;
  position: fixed;
  right: 0;
  top: 0;
  width: 33.75rem;
  height: 30.44rem;
  margin-top: 23rem;
  margin-right: 6.94rem;
  overflow: hidden;
}
.wrapper {
  background-color: red;
}
.slider {
  display: none;
}
.divgradient2 {
  display: block;
  border: none;
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.65)
  );

  /* background-color: red; */
  z-index: -1;
  cursor: pointer;
}
.divgradient {
  display: block;
  border: none;
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.45)
  );

  /* background-color: red; */
  z-index: -1;
  cursor: pointer;
}
.divgradient3 {
  display: block;
  border: none;
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.45)
  );

  /* background-color: red; */
  z-index: -1;
  cursor: pointer;
}

.overlay {
  display: block;
  border: none;
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.now_showing {
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 1.5px;
  height: 37px;
  width: 108px;
  font-family: Montserrat-SemiBold;
  margin-top: 4.69rem;
  margin-left: 9.06rem;
}
.leftdiv {
  width: 643px;
  position: relative;
  display: flex;
  flex-direction: column;
  left: 0;
  /* margin-bottom: 6rem; */
}
.movie_title {
  font-family: Montserrat-Bold;
  width: 1000px;
  font-size: 80px;
  color: #ffffff;
  letter-spacing: 3px;
  margin-left: 8.94rem;
}
.genre1 {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 1.39px;
  width: 108px;
  height: 22px;
  margin-left: 8.94rem;
  top: 0%;
}
.genre2 {
  font-family: Montserrat-Regular;
  width: 108px;
  height: 22px;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 1.39px;
  margin-left: 16.75rem;
  margin-top: -22px;
  top: 0%;
}
.learn_more {
  font-family: Montserrat-SemiBold;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 1.39px;
  width: 157px;
  height: 15px;
  border: 1px solid #ffffff;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
  margin-left: 8.94rem;
  margin-top: 3.38rem;
}
.previous {
  font-family: Montserrat-Regular;
  display: block;
  font-size: 13px;
  width: 67px;
  height: 22px;
  color: #ffffff;
  letter-spacing: 1.39px;
  cursor: pointer;
  margin-left: 8.94rem;
  margin-top: 5.56rem;
}
.next {
  font-family: Montserrat-Regular;
  display: block;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 1.39px;

  width: 42px;
  height: 22px;
  margin-left: 15.38rem;
  margin-top: -1.325rem;
  cursor: pointer;
}
.rfnd_footer_item {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #979797;
  letter-spacing: 1.39px;
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 181px;
  height: 16px;
  margin-left: 39px;
  margin-bottom: 33px;
}
.privacy_footer_item {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #979797;
  letter-spacing: 1.39px;
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 108px;
  height: 16px;
  margin-left: 270px;
  margin-bottom: 33px;
}
.contact_footer_item {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #979797;
  letter-spacing: 1.39px;
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 85px;
  height: 16px;
  margin-left: 427px;
  margin-bottom: 33px;
}

.fb_logo {
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 20px;
  height: 20px;
  margin-left: 1167px;
  margin-bottom: 29px;
}
.inst_logo {
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 20px;
  height: 20px;
  margin-left: 1224px;
  margin-bottom: 29px;
}

.bbang_logo {
  height: 1.8rem;
  width: 5.3rem;
  margin-left: 42px;
  margin-top: 34px;
  display: inline-block;
}
.now_showing_menu_item {
  font-family: Montserrat-Regular;
  display: inline-block;
  color: #cccccc;
  letter-spacing: 1.39px;
  position: absolute;
  left: 0%;
  margin-left: 870px;
  margin-top: 32px;
  width: 123px;
  height: 16px;
  font-size: 13px;
}
.account_menu_item {
  font-family: Montserrat-Regular;
  display: inline-block;
  position: absolute;
  margin-left: 1008.5px;
  left: 0%;
  margin-top: 32px;
  width: 76px;
  height: 16px;
  font-size: 13px;
  color: #cccccc;
  letter-spacing: 1.39px;
}
.your_session_menu_item {
  font-family: Montserrat-Regular;
  display: inline-block;
  position: absolute;
  margin-top: 32px;
  margin-left: 1102px;
  left: 0%;
  width: 117px;
  height: 16px;
  font-size: 13px;
  color: #cccccc;
  letter-spacing: 1.39px;
  margin-right: 62px;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
</style>
