<template>
    <div> 
        <div :class="{overlay:over}" v-on:click="closevideo"></div>
        <img  v-if="ready" :src="'https://viakeyscreen.com/domain/cinemoz.com/asset/'+movid+'/105-featured_big.jpg'"  :class="{overlaybg:true}" alt="">
        <div :class="{divgradient:true}"></div>
        <div :class="{close_btn:over, displayit:!over}"  v-on:click="closevideo"><p :class="{sign:true}">x</p></div>
        <div :class="{close_text:over ,displayit:!over}">close</div>
         <div :class="{back:true}" v-on:click=" goback">Back</div>
        <div :class="{back_arrow:true}">&lt</div>
        <div :class="{movie_title:true}">{{title}}</div>
        <div :class="{genre:true}">{{genre}}</div>
        <div :class="{about_game_title:true, title_style:true}">ABOUT THIS MOVIE:</div>
        <div :class="{about_game:true,desc_style:true}">{{description}}</div>
         <div :class="{genre_title:true, title_style:true}">GENRE:</div>
         <div :class="{genre_desc:true, desc_style:true}">{{genre}}</div>
         <div :class="{rls_date_title:true, title_style:true}">YEAR:</div>
           <div :class="{rls_date_desc:true, desc_style:true}">{{year}}</div>
           <div :class="{dev_title:true, title_style:true}">DIRECTOR:</div>
            <div :class="{dev_desc:true, desc_style:true}">{{director}}</div>
            <div :class="{time_title:true, title_style:true}">SESSION TIME:</div>
            <div :class="{time_desc:true, desc_style:true}">12:00pm, 6:00pm, 8:00pm, 10:00pm</div>
            <div :class="{add_btn:true}" v-on:click="addtosession"><p>ADD TO SESSION</p></div>
            <div :class="{trailer_title:true,title_style:true}">TRAILER</div>
            <div :class="{warning:true, showwarning: !exists}">MOVIE ALREADY ADDED</div>
           <div>
      <img  v-if="ready"   :src="'https://viakeyscreen.com/domain/cinemoz.com/asset/'+movid+'/103-featured_small.jpg'"  v-on:click="openvideo"   :class="{trailerholder:true}" >
        <img  v-if="ready" :class="{playbutton:true}" src='@/assets/play.png' >
           </div>
          <video id="video"  :class="{film_trailer_pressed:bg,displaysmall:!bg}" controls></video>
     
    </div>
</template>
<script>
import axios from "axios";
import menunav from "./menunav.vue";
import footernav from "@/components/footernav";
import Hls from "hls.js";
export default {
  components: { menunav, footernav },
  name: "info",
  data() {
    return {
      sm: true,
      bg: false,
      over: false,
      description: "",
      genre: "",
      year: "",
      director: "",
      title: "",
      movieids: [],
      indexnow: 0,
      ready: false,
      moviedata: [],
      exists: false,
      movid: "",
      length: ""
    };
  },
  beforeCreate: function() {
    document.body.className = "info";
  },
  methods: {
    openvideo() {
      let ref = this;
      axios({
        method: "get",
        url:
          "https://viakeyscreen.com/domain/cinemoz.com/xchg/video/" +
          this.$route.query.id,
        headers: {
          "Content-Type": "application/json"
        }
      })
        .then(function(response) {
          console.log(response.data[0].url, "khattab");

          ref.bg = true;
          ref.sm = false;
          ref.over = true;
          var video = document.getElementById("video");
          if (Hls.isSupported()) {
            console.log(video);
            var hls = new Hls();
            // bind them together
            hls.attachMedia(video);
            hls.on(Hls.Events.MEDIA_ATTACHED, function() {
              console.log("video and hls.js are now bound together !");

              hls.loadSource(response.data[0].url);
              video.play();
              hls.on(Hls.Events.MANIFEST_PARSED, function(event, data) {
                video.play();
                console.log(
                  "manifest loaded, found " +
                    data.levels.length +
                    " quality level"
                );
              });
            });
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    closevideo() {
      this.bg = false;
      this.sm = true;
      this.over = false;
      if (Hls.isSupported()) {
        console.log(video);
        var video = document.getElementById("video");
        var hls = new Hls();
        // bind them together
        hls.attachMedia(video);
        hls.on(Hls.Events.MEDIA_ATTACHED, function() {
          console.log("video and hls.js are now bound together !");

          hls.loadSource(
            "https://viakeyscreen.com/domain/cinemoz.com/hls/master/bbdaf79be70accbbff9c6662d95a5431/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJtX2lkIjoiMDZjZDE1ZGIwZjE3YmRkYzk4MTM0NGYyMTUwMTJiNDYiLCJkcm0iOnRydWUsInNjb3BlIjpbInN0cmVhbV9obHMiXSwibCI6ImVuZ2xpc2giLCJpYXQiOjE1Mzk4NjU4MzEsImV4cCI6MTUzOTk1MjIzMX0.hGvcB1yGBO0wCGCzLsIXBOSudxj6XhlVL7rhkYDvFRk/master.m3u8"
          );
          hls.on(Hls.Events.MANIFEST_PARSED, function(event, data) {
            video.pause();
            console.log(
              "manifest loaded, found " + data.levels.length + " quality level"
            );
          });
        });
      }
    },
    goback() {
      if (this.$store.getters.getboolp1 == true)
        this.$router.push({ name: "nowshowing" });
      else if (this.$store.getters.getboolp2 == true)
        this.$router.push({ name: "nowshowing2" });
      else if (this.$store.getters.getboolhome == true)
        this.$router.push({ name: "home" });
      else if (this.$store.state.getboolsession == true)
        this.$router.push({ name: "session" });
    },
    addtosession() {
      let ref=this;
      if (this.$store.state.loggedin == false) {
        this.$router.push({ name: "account" });
      } else {
        let ref = this;
        axios({
          method: "post",
          url: "http://localhost:8888/getusers",
          data: {
            userid: ref.$store.state.userid
          },
          headers: {
            "Content-Type": "application/json"
          }
        })
          .then(function(response) {
            console.log(response, "here");
            axios({
              method: "post",
              url: "http://localhost:8888/updatesession",
              data: {
                id: response.data.rows[0].value[1],
                movies: ref.$route.query.id
              },
              headers: {
                "Content-Type": "application/json"
              }
            })
              .then(function(response) {
                console.log(response, "here");
                ref.$session.set(
                  "sessioncount",
                  ref.$session.get("sessioncount") + 1
                );
                ref.$store.state.sessioncount =
                  ref.$store.state.sessioncount + 1;
                ref.$router.push({ name: "session" });
                ref.exists=false;
              })
              .catch(function(error) {
                  ref.exists=true;
                console.log(error);
              });
          })
          .catch(function(error) {
           
            console.log(error);
          });
      }
    }
  },
  mounted: function() {
    if (this.$session.exists()) {
      this.$store.state.sessioncount = this.$session.get("sessioncount");
      this.$store.state.username = this.$session.get("username");
      this.$store.state.loggedin = this.$session.get("loggedin");
      this.$store.state.userid = this.$session.get("userid");
      this.$store.commit("setname", this.$session.get("name"));
      this.$store.commit("setuserid", this.$session.get("setuserid"));
      this.$store.commit("setphonenum", this.$session.get("phonenum"));
      this.$store.commit("setemail", this.$session.get("email"));
    }
    console.log(this.$store.getters.getnsdata, "hello");
    this.$store.commit("setnowshowing", false);
    this.$store.commit("setaccount", false);
    this.$store.commit("setsession", false);

    var ref = this;
    axios({
      method: "get",
      url:
        "https://viakeyscreen.com/domain/cinemoz.com/media/" +
        this.$route.query.id,
      headers: {
        "Content-Type": "application/json"
      }
    })
      .then(function(response) {
        console.log(response.data.rows[0].doc);
        ref.movid = response.data.rows[0].doc._id;
        ref.description = response.data.rows[0].doc.synopsis;
        ref.genre = response.data.rows[0].doc.keywords.genre.toString();
        ref.year = response.data.rows[0].doc.keywords.year[0];
        ref.director = response.data.rows[0].doc.keywords.director[0];
        ref.title = response.data.rows[0].doc.name;
        ref.length = response.data.rows[0].doc.video_length;
        ref.ready = true;
      })
      .catch(function(error) {
        console.log(error);
      });

    console.log(this.movieids);
  }
};
</script>

<style scoped>
.add_btn:hover {
  background-color: #ff3363;
}
.add_btn:hover > p {
  color: #ffffff;
}
.warning {
  color: white;
  background-color: red;
  margin-top: 0rem;
  padding: 5px;
  font-family: Montserrat-SemiBold;
  font-size: 10px;
  margin-left: 50%;
  width: fit-content;
  transform: translate(-50%);
  margin-bottom: 1.5rem;
}
.showwarning {
  display: none;
}
.playbutton {
  position: absolute;
  left: 0;
  top: 0;
  width: 3.31rem;
  height: 3.31rem;
  margin-left: 68.38rem;
  margin-top: 17.94rem;
  z-index: 0;
}
.divgradient {
  display: block;
  top: 0;
  width: 100%;
  position: fixed;
  height: 720px;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.85),
    black,
    black,
    black,
    black,
    black,
    black,
    black
  );
  border: none;
  z-index: -1;
}
.displaysmall {
  display: none;
}
.overlaybg {
  display: none;
  border: none;
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 720px; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0, 0, 0, 0.85); Black background with opacity */
  /* background-image: url("../assets/img1.jpg"); */
  z-index: -2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.mennav {
  position: absolute;
  top: 0;
  left: 0;
}
.displayit {
  display: none;
}
.page_title {
  width: 441px;
  height: 61px;
  position: absolute;
  left: 0%;
  top: 0%;
  margin-top: 100px;
  margin-left: 39px;
  font-family: Montserrat-Bold;
  font-size: 50px;
  color: #222222;
  letter-spacing: 1.88px;
}
.trailerholder {
  width: 15.06rem;
  height: 9.25rem;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 15rem;
  margin-right: 18.5rem;
  cursor: pointer;
}
.close_btn {
  border-radius: 50%;
  background-color: grey;
  display: block;
  color: #cccccc;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  margin-top: 106px;
  margin-left: 50%;
  transform: translate(-80%);
  z-index: 2;
  cursor: pointer;
  align-content: center;
}
.sign {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  margin-top: 0px;
  margin-left: 5.5px;
  color: black;
  font-family: Montserrat-Regular;
}
.close_text {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #cccccc;
  letter-spacing: 1.39px;
  display: block;
  color: #cccccc;
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 16px;
  margin-top: 130px;
  margin-left: 50%;
  transform: translate(-50%); 
  z-index: 2;
}
.overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 720px; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85); /* Black background with opacity */
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */

}

.film_trailer_pressed {
  height: 395px;
  width: 643px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  z-index: 2;
}
.add_btn {
  height: 46px;
  width: 206px;
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 3.06rem;
  background: #ffffff;
  font-family: Montserrat-SemiBold;
  font-size: 13px;
  color: #ff3363;
  letter-spacing: 1.39px;
  text-align: center;
  cursor: pointer;
  position: relative;
  margin-bottom: 2.3rem;
}
.add_btn > p {
  position: absolute;
  width: 200px;
  margin-top: 7%;
  margin-left: 50%;
  transform: translate(-50%);
}
.title_style {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 1.39px;
}
.desc_style {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #cccccc;
  letter-spacing: 1.39px;
}
.genre_title {
  height: 16px;
  width: 58px;
  margin-top: 7.06rem;
  margin-left: 3.25rem;
}
.trailer_title {
  height: 16px;
  width: 69px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 239px;
  margin-right: 35.69rem;
}
.rls_date_desc {
  height: 16px;
  width: 119px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 405px;
  margin-left: 235px;
}
.dev_title {
  height: 16px;
  width: 119px;
  margin-left: 3.25rem;
  margin-top: 1.31rem;
}
.dev_desc {
  height: 16px;
  width: 178px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 441px;
  margin-left: 235px;
}
.time_title {
  height: 16px;
  width: 119px;
  margin-left: 3.25rem;
  margin-top: 1.31rem;
}
.time_desc {
  height: 16px;
  width: 275px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 477px;
  margin-left: 235px;
}
.rls_date_title {
  height: 16px;
  width: 121px;
  margin-top: 1.31rem;
  margin-left: 3.25rem;
}
.desc {
  height: 16px;
  width: 119px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 405px;
  margin-left: 50px;
}
.desc {
  height: 16px;
  width: 86px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 405px;
  margin-left: 235px;
}
.genre_desc {
  height: 16px;
  width: 145px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 368px;
  margin-left: 234px;
}
.about_game {
  height: 112px;
  width: 343px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 239px;
  margin-left: 235px;
}
.about_game_title {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 1.39px;
  height: 16px;
  width: 160px;
  margin-left: 3.13rem;
  margin-top: 4.81rem;
}
.movie_title {
  font-family: Montserrat-Bold;
  font-size: 32px;
  color: #ffffff;
  letter-spacing: 1.2px;
  height: 39px;
  width: 640px;
  margin-left: 50%;
  transform: translate(-50%);
  text-align: center;
}
.genre {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 1.39px;
  text-align: center;
  height: 22px;
  width: 267px;
  margin-left: 50%;
  transform: translate(-50%);
}
.back_arrow {
  height: 18px;
  width: 18px;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 105px;
  margin-left: 50px;
}
.back {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 1.39px;
  height: 18px;
  width: 18px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 105px;
  margin-left: 72px;
  cursor: pointer;
}
.back:hover {
  color: #f26621;
  font-family: Montserrat-Medium;
}
.back:hover ~ .back_arrow {
  color: #f26621;
}
.rfnd_footer_item {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #979797;
  letter-spacing: 1.39px;
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 181px;
  height: 16px;
  margin-left: 39px;
  margin-bottom: 33px;
}
.privacy_footer_item {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #979797;
  letter-spacing: 1.39px;
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 108px;
  height: 16px;
  margin-left: 270px;
  margin-bottom: 33px;
}
.contact_footer_item {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #979797;
  letter-spacing: 1.39px;
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 85px;
  height: 16px;
  margin-left: 427px;
  margin-bottom: 33px;
}

.fb_logo {
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 20px;
  height: 20px;
  margin-left: 1167px;
  margin-bottom: 29px;
}
.inst_logo {
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 20px;
  height: 20px;
  margin-left: 1224px;
  margin-bottom: 29px;
}
</style>
