<template>
    <div>
          <div v-bind:class="{page_title:true}">SIGN IN</div>
        <div :class="{loginform:true}">
            <div>
                <label :class="{namelabel:true}"  for="name">Name</label>
                <input  :class="{namefield:true}" v-model="name" type="text">
                 <label :class="{passlabel:true}" for="name">Password</label>
                <input  :class="{passfield:true}" v-model="password" type="password">
                <div :class="{login:true}" v-on:click="login">LOGIN</div>
                <p :class="{question:true}">Dont' have an account?</p>
                <a href="/#/signup" :class="{register:true}">Register</a>
                   <div :class="{warning:wrong}">Invalid Username or Password</div>
            </div>
        </div>
    </div>
</template>

<script>
import menunav from "@/components/menunav";
import footernav from "@/components/footernav";
import axios from "axios";
export default {
  components: {
    menunav,
    footernav
  },
  name: "login",
  data() {
    return {
      name: "",
      password: "",
      wrong: false
    };
  },
  methods: {
    login() {
      let ref = this;
      axios({
        method: "post",
        url: "http://localhost:8888/login",
        data: {
          name: this.name,
          password: this.password
        },
        headers: {
          "Content-Type": "application/json"
        }
      })
        .then(function(response) {
          for (let i = 0; i < response.data.rows.length; i++) {
            if (ref.name == response.data.rows[i].key)
              ref.$store.state.userid = response.data.rows[i].value._id;
            ref.$session.set("userid", response.data.rows[i].value._id);
          }

          ref.wrong = false;
          ref.$store.state.username = ref.name;
          ref.$store.state.loggedin = true;
          ref.$session.set("username", ref.name);
          ref.$session.set("loggedin", true);
          console.log("hey");
          ref.$router.push({ name: "home" });
          ref.getuser();
        })
        .catch(function(error) {
          ref.wrong = true;
        });
    },
    getuser() {
      let ref = this;
      axios({
        method: "post",
        url: "http://localhost:8888/getuser",
        data: {
          name: this.name
        },
        headers: {
          "Content-Type": "application/json"
        }
      })
        .then(function(response) {
          ref.$store.commit("setname", response.data.rows[0].value.name);
          ref.$store.commit(
            "setphonenum",
            response.data.rows[0].value.phonenumber
          );
          ref.$store.commit("setuserid", response.data.rows[0].value._id);
          ref.$store.commit("setemail", response.data.rows[0].value.email);
          ref.$session.set("name", response.data.rows[0].value.name);
          ref.$session.set("phonenum", response.data.rows[0].value.phonenumber);
          ref.$session.set("setuserid", response.data.rows[0].value._id);
          ref.$session.set("email", response.data.rows[0].value.email);
          ref.$store.state.loggedin = true;
          ref.$router.push({ name: "home" });
          ref.getcount();
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    getcount() {
      let ref = this;
      axios({
        method: "post",
        url: "http://localhost:8888/getusers",
        data: {
          userid: ref.$store.state.userid
        },
        headers: {
          "Content-Type": "application/json"
        }
      })
        .then(function(response) {
          console.log(response);
          // ref.$store.state.sessioncount = response.data.rows[0].value[0].length;
          ref.$session.set(
            "sessioncount",
            response.data.rows[0].value[0].length
          );
          ref.$store.state.sessioncount = ref.$session.get("sessioncount");
        })
        .catch(function(error) {
          console.log(userid);
        });
    }
  },
  mounted: function() {
    if (this.$store.state.loggedin == true) {
      this.$router.push({ name: "account" });
    }
    this.$store.commit("setnowshowing", false);
    this.$store.commit("setaccount", false);
    this.$store.commit("setsession", false);
  },
  beforeCreate: function() {
    document.body.className = "login";
  }
};
</script>

<style scoped>
.warning {
  font-family: Montserrat-SemiBold;
  font-size: 10px;
  color: red;
  letter-spacing: 1.39px;
  width: 13rem;
  height: 0.88rem;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 3.9rem;
  margin-top: 19rem;
}
.question {
  font-family: Montserrat-SemiBold;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 1.39px;
  width: 11.94rem;
  height: 0.88rem;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 3.4rem;
  margin-top: 13.5rem;
}
.register {
  font-family: Montserrat-SemiBold;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 1.39px;
  width: 11.94rem;
  height: 0.88rem;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 7.4rem;
  margin-top: 15rem;
}
.login {
  width: 5.94rem;
  height: 0.88rem;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 6rem;
  margin-top: 11rem;
  font-family: Montserrat-SemiBold;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 1.39px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 6px;
  border: 1px solid white;
  cursor: pointer;
}
.login:hover {
  color: black;
  background-color: #ffffff;
}
label {
  font-family: Montserrat-SemiBold;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 1.39px;
}
.namelabel {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 2.5rem;
  margin-left: 2.5rem;
}
.namefield {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 4rem;
  margin-left: 2.5rem;
  width: 210px;
  padding: 4px;
}
.passlabel {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 6.5rem;
  margin-left: 2.5rem;
}
.passfield {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 8rem;
  margin-left: 2.5rem;
  width: 210px;
  padding: 4px;
}
.loginform {
  background-color: transparent;
  border: 0.1rem solid rgba(255, 255, 255, 0.4);
  width: 300px;
  height: 300px;
  margin-left: 50%;
  transform: translate(-50%);
  margin-bottom: 10rem;
}
.page_title {
  width: 441px;
  height: 61px;
  margin-left: 39px;
  font-family: Montserrat-Bold;
  font-size: 50px;
  color: #222222;
  letter-spacing: 1.88px;
}
.styling {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 1.39px;
}

.name_label {
  width: 12.5rem;
  height: 1rem;
  position: absolute;
  left: 0%;
  top: 0%;
  margin-top: 11.88rem;
  margin-left: 14.06rem;
}
.num_label {
  width: 15.81rem;
  height: 1rem;
  position: absolute;
  left: 0%;
  top: 0%;
  margin-top: 14.44rem;
  margin-left: 14.06rem;
}
.email_label {
  width: 18.5rem;
  height: 61px;
  position: absolute;
  left: 0%;
  top: 0%;
  margin-top: 16.88rem;
  margin-left: 14.06rem;
}
</style>
