<template>
    <div :class="{menunav:true}">
      <div :class="{circle:true}" v-on:click="activateys">{{this.$store.state.sessioncount}}</div>
      <div :class="{orangeselector:true, abovens:this.$store.getters.getnowshowing,aboveaccount:this.$store.getters.getaccount,abovesession:this.$store.getters.getsession}"></div>
         <img v-on:click="gohome" v-bind:class="{bbang_logo:true}" src="@/assets/bbang_icon.svg" alt="">
     <div v-bind:class="{now_showing_menu_item:true, selected:this.$store.getters.getnowshowing}" v-on:click="activatens">NOW SHOWING</div>
     <div v-bind:class="{account_menu_item:true,selected:this.$store.getters.getaccount}" v-on:click="activateacc">ACCOUNT</div>
     <div v-bind:class="{your_session_menu_item:true,selected:this.$store.getters.getsession}" v-on:click="activateys">YOUR SESSION</div>
    </div>
</template>
<script>
import axios from "axios";
export default {
  name: "menunav",
  data() {
    return {};
  },
  methods: {
    activatens() {
      this.$store.commit("setnowshowing", true);
      this.$store.commit("setaccount", false);
      this.$store.commit("setsession", false);
      this.$router.push({ name: "nowshowing" });
    },
    activateacc() {
      this.$store.commit("setnowshowing", false);
      this.$store.commit("setaccount", true);
      this.$store.commit("setsession", false);
      this.$router.push({ name: "account" });
    },
    activateys() {
      this.$store.commit("setnowshowing", false);
      this.$store.commit("setaccount", false);
      this.$store.commit("setsession", true);
      this.$router.push({ name: "session" });
    },
    gohome() {
      this.$router.push({ name: "home" });
    }
  },
  mounted: function() {},
  beforeCreate: function() {
    document.body.className = "home";
  }
};
</script>

<style scoped>
.menunav {
  position: relative;
  height: 6.25rem;
}
.now_showing_menu_item:hover {
  font-family: Montserrat-SemiBold;

  color-adjust: #ffffff;
  letter-spacing: 0rem;
  opacity: 100%;
}
.account_menu_item:hover {
  font-family: Montserrat-SemiBold;
  color-adjust: #ffffff;
  letter-spacing: 0rem;
  opacity: 100%;
}
.your_session_menu_item:hover {
  font-family: Montserrat-SemiBold;
  color-adjust: #ffffff;
  letter-spacing: 0rem;
  opacity: 100%;
}
.circle {
  width: 1rem;
  height: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  background-color: white;
  border-radius: 100%;
  margin-right: 2.25rem;
  margin-top: 1.8rem;
  font-family: Montserrat-Bold;
  font-size: 13px;
  color: #ff3363;
  text-align: center;
  cursor: pointer;
}

.orangeselector {
  width: 2.6rem;
  background-color: #f26621;
  height: 2px;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}
.abovens {
  margin-right: 22.5rem;
  display: block;
}
.aboveaccount {
  margin-right: 14.9rem;
  display: block;
}
.abovesession {
  margin-right: 6.5rem;
  display: block;
}
.selected {
  font-family: Montserrat-SemiBold !important;
  color-adjust: #ffffff !important;
  letter-spacing: 0rem !important;
  opacity: 100%;
}
.bbang_logo {
  height: 1.8rem;
  width: 5.3rem;
  margin-left: 42px;
  margin-top: 32px;
  display: inline-block;
  cursor: pointer;
}
.now_showing_menu_item {
  font-family: Montserrat-Regular;
  display: inline-block;
  color: #cccccc;
  letter-spacing: 1.39px;
  position: absolute;
  right: 0%;
  margin-right: 19.5rem;
  margin-top: 30px;
  width: 123px;
  height: 16px;
  font-size: 13px;
  cursor: pointer;
}
.account_menu_item {
  font-family: Montserrat-Regular;
  display: inline-block;
  position: absolute;
  margin-right: 13.25rem;
  right: 0%;
  margin-top: 30px;
  width: 76px;
  height: 16px;
  font-size: 13px;
  color: #cccccc;
  letter-spacing: 1.39px;
  cursor: pointer;
}
.your_session_menu_item {
  font-family: Montserrat-Regular;
  display: inline-block;
  position: absolute;
  margin-top: 30px;
  margin-right: 4, 5rem;
  right: 0%;
  width: 117px;
  height: 16px;
  font-size: 13px;
  color: #cccccc;
  letter-spacing: 1.39px;
  margin-right: 62px;
  cursor: pointer;
}
</style>
