<template>
    <div>
        <div v-bind:class="{page_title:true}">NOW SHOWING</div>
        <div :class="{playlists:true}">
        <div v-bind:class="{interactive:true,selectedplaylist:this.$store.getters.getp1}"  v-on:click="gotons1">{{playlist_title}}</div>
         <div v-bind:class="{theatre:true,selectedplaylist:this.$store.getters.getp2}" v-on:click="gotons2">{{playlist_title2}}</div>
         </div>
         <div v-bind:class="{moviegrid:true}">
             <div :class="{movie:true}" v-for="i in 5" v-if="dataready" v-bind:key="i">
                <div :class="{imgbox:true}"><img v-bind:class="{movieposter:true}"   v-on:click="getinfop1(i-1)" :src="'https://viakeyscreen.com/domain/cinemoz.com/asset/'+ playlist_movie_info[i-1][0]+'/101-poster.jpg'"  ></div>
                 <div :class="{game_title_num:true}" v-on:click="getinfop1(i-1)">{{playlist_movie_info[i-1][3]}}</div>
                 <div :class="{info:true}">{{playlist_movie_info[i-1][2].genre.toString()}} - {{msToTime(playlist_movie_info[i-1][4])}}</div>
                 <div :class="{show_times:true}">12:00pm, 6:00pm, 8:00pm, 10:00pm</div>
                 <div :class="{more_info:true}" v-on:click="getinfop1(i-1)">Learn More</div>
                </div>
         </div>
    </div>
</template>
 <script>
import axios from "axios";
import menunav from "@/components/menunav";
import footernav from "@/components/footernav";
import async from "async";
export default {
  components: {
    menunav,
    footernav
  },
  name: "nowshowing",
  data() {
    return {
      dataready: false,
      playlist_title: "",
      playlist_movie_info: [],
      playlist_title2: ""
    };
  },
  methods: {
    msToTime(duration) {
      var milliseconds = parseInt((duration % 1000) / 100),
        seconds = parseInt((duration / 1000) % 60),
        minutes = parseInt((duration / (1000 * 60)) % 60),
        hours = parseInt((duration / (1000 * 60 * 60)) % 24);

      hours = hours < 10 ? "0" + hours : hours;
      minutes = minutes < 10 ? "0" + minutes : minutes;
      seconds = seconds < 10 ? "0" + seconds : seconds;

      return hours + "h" + minutes + "m";
    },
    gotons1() {
      this.$router.push({ name: "nowshowing" });
    },
    gotons2() {
      this.$router.push({ name: "nowshowing2" });
      this.$store.commit("setp2", true);
      this.$store.commit("setp1", false);
    },
    getinfop1(index) {
      this.$store.commit("setboolhome", false);
      this.$store.commit("setboolp1", true);
      this.$store.commit("setboolp2", false);
      this.$store.state.getboolsession = false;
      this.$router.push({
        name: "info",
        query: { id: this.playlist_movie_info[index][0] }
      });
    }
  },
  beforeCreate: function() {
    document.body.className = "nowshowing";
  },
  mounted: function() {
    if (this.$session.exists()) {
      this.$store.state.sessioncount = this.$session.get("sessioncount");
      this.$store.state.username = this.$session.get("username");
      this.$store.state.loggedin = this.$session.get("loggedin");
      this.$store.state.userid = this.$session.get("userid");
      this.$store.commit("setname", this.$session.get("name"));
      this.$store.commit("setuserid", this.$session.get("setuserid"));
      this.$store.commit("setphonenum", this.$session.get("phonenum"));
      this.$store.commit("setemail", this.$session.get("email"));
    }
    this.$store.commit("setp2", false);
    this.$store.commit("setp1", true);
    this.$store.commit("setnowshowing", true);
    this.$store.commit("setaccount", false);
    this.$store.commit("setsession", false);
    let ref = this;
    axios({
      method: "get",
      url:
        "https://viakeyscreen.com/domain/cinemoz.com/feed/schedule/home?outlet=website&metadata=true&language=english&limit=2",
      headers: {
        "Content-Type": "application/json"
      }
    })
      .then(function(response) {
        ref.playlist_title = response.data.rows[0].doc.name;
        ref.playlist_title2 = response.data.rows[1].doc.name;
        axios({
          method: "get",
          url:
            "https://viakeyscreen.com/domain/cinemoz.com/media/" +
            response.data.rows[0].value.id +
            "/items?language=english",
          headers: {
            "Content-Type": "application/json"
          }
        })
          .then(function(response) {
            for (let i = 0; i < 5; i++) {
              var info = [];
              info.push(response.data.rows[i].doc._id);
              info.push(response.data.rows[i].doc.description);
              info.push(response.data.rows[i].doc.keywords);
              info.push(response.data.rows[i].doc.name);
              info.push(response.data.rows[i].doc.video_length);
              ref.playlist_movie_info.push(info);
            }

            ref.dataready = true;
          })
          .catch(function(error) {
            console.log(error);
          });
      })
      .catch(function(error) {
        console.log(error);
      });
  }
};
</script>
 <style scoped>
.imgbox {
  height: 238px;
  width: 160px;
  overflow: hidden;
}
.playlists {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  margin-top: 1.81rem;
}
.moviegrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 40px;
  background-color: transparent;
  margin-left: 40px;
  width: 1240px;
  height: 794px;
  margin-top: 3.88rem;
  margin-bottom: 8.19rem;
}

.movie {
  position: relative;
  width: 620px;
}
.movieposter {
  height: 238px;
  width: 160px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.movieposter:hover {
  opacity: 0.6;
  transform: scale(1.1);
  overflow: hidden;
}
.more_info {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #cccccc;
  letter-spacing: 1.39px;
  position: absolute;
  top: 0%;
  left: 0%;
  margin-top: 191px;
  margin-left: 179px;
  width: 88px;
  height: 16px;
  cursor: pointer;
}
.more_info:hover {
  color: #f26621;
}
.show_times {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 1.39px;
  position: absolute;
  top: 0%;
  left: 0%;
  margin-top: 104px;
  margin-left: 179px;
  width: 320px;
  height: 64px;
}
.info {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #1fc5ed;
  letter-spacing: 1.39px;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 300px;
  height: 22px;
  margin-top: 62px;
  margin-left: 179px;
}
.game_title_num {
  font-family: Montserrat-SemiBold;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0.6px;
  width: 440px;
  height: 19px;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 179px;
  margin-top: 37px;
  cursor: pointer;
}
.selectedplaylist {
  font-family: Montserrat-SemiBold !important;
  font-size: 18px !important;
  color: #f26621 !important;
  letter-spacing: 1.93px !important;
  text-align: justify !important;
}
.page_title {
  width: 441px;
  height: 61px;
  margin-left: 39px;
  font-family: Montserrat-Bold;
  font-size: 50px;
  color: #222222;
  letter-spacing: 1.88px;
}
.theatre:hover {
  font-family: Montserrat-SemiBold;
  font-size: 18px;
  color: #f26621;
  letter-spacing: 1.93px;
  text-align: justify;
}
.interactive {
  opacity: 0.59;
  font-family: Montserrat-Regular;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 1.93px;
  width: 11rem;
  height: 22px;
  cursor: pointer;
}
.theatre {
  opacity: 0.59;
  font-family: Montserrat-Regular;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 1.93px;
  width: 400px;
  height: 22px;
  margin-left: 2.69rem;
  cursor: pointer;
}
</style>
 