<template>

    <div>
      <div :class="{mydiv:true}"> <p :class="{title:true}">PRIVACY POLICY FOR BIG BANG SERVICES</p><br>Your privacy is important to us. <br> <br>
This Privacy Statement describes the types of information Bigbang collects from and about you <br> when you visit our website. <br> <br>

COLLECTION AND USAGE <br> <br>

We’d like to get to know you <br> <br>
We collect information about your computer or device, e.g. your IP address. We might ask for <br> your name, number, and email so we can ensure you have a great experience. <br> <br>

STORAGE <br> <br>

Your information is safe with us <br> <br>
We are very protective of the information that you provide us with and we have taken certain <br> physical, administrative, and technical steps to safeguard the information we collect from and <br> about our customers and Site visitors. We keep the data for as long as it is needed or required by <br> law.

TRANSFER <br> <br>

Sharing information with others <br><br>
We do not share your information with others unless you allow us to. We do share it with our af- <br> filiated companies and our third party service providers that provide business, professional or <br> technical support functions for us, including to the extent necessary or desirable to complete <br> your transaction. <br> <br>

CONTACT <br> <br>

The information about you <br><br>
If you should have any questions about this Privacy Statement or the practices described herein, <br> or, if you want to know what information we have on you, or if you wish to delete said informa - <br> tion, please don’t hesitate to get in contact with us at Hello@bbangstudios.com
 </div>
 <div :class="{fade:true}"></div>
  
    </div>
</template>

<script>
import menunav from "./menunav.vue";
export default {
  name: "privacypolicy",
  components: {
    menunav
  },

  data() {
    return {};
  },
  methods: {},
  mounted: function() {
    if (this.$session.exists()) {
      this.$store.state.sessioncount = this.$session.get("sessioncount");
      this.$store.state.username = this.$session.get("username");
      this.$store.state.loggedin = this.$session.get("loggedin");
      this.$store.state.userid = this.$session.get("userid");
      this.$store.commit("setname", this.$session.get("name"));
      this.$store.commit("setuserid", this.$session.get("setuserid"));
      this.$store.commit("setphonenum", this.$session.get("phonenum"));
      this.$store.commit("setemail", this.$session.get("email"));
    }
    this.$store.commit("setnowshowing", false);
    this.$store.commit("setaccount", false);
    this.$store.commit("setsession", false);
  },
  beforeCreate: function() {
    document.body.className = "privacy";
  }
};
</script>

<style scoped>
.title {
  color: red;
}
.fade {
  position: absolute;
  height: 30px;
  width: 770px;
  top: 31rem;
  background: -webkit-linear-gradient(transparent 0%, rgba(white, 1) 50%);
  /* background-color: black; */
  opacity: 0.8;
  left: 2.5rem;
  z-index: -1;
}
.mydiv {
  color: #ccc;
  font-size: 1rem;
  font-family: Montserrat-Regular;
  margin-left: 2.5rem;
  margin-top: 1.5rem;
  height: 370px;
  width: 1232px;
  background-color: transparent;
  margin-bottom: 10%;
  text-align: left;
  overflow-y: scroll;
}
</style>
