<template>

    <div>
         <div v-bind:class="{page_title:true}">RECIEPT</div>
        <div :class="{profile:true}">Customer Reciept</div>
        <div :class="{name_label:true, styling:true}">Name: <span :class="{name:true,styling:true}">{{this.$store.getters.getname}}</span></div>
        <div :class="{num_label:true, styling:true}">Phone Number: <span :class="{name:true, styling:true}">{{this.$store.getters.getphonenum}}</span></div>
        <div :class="{email_label:true, styling:true}">Email Address: <span :class="{name:true, styling:true}">{{this.$store.getters.getemail}}</span></div>
         <div :class="{movie1:true, styling:true}">Movie #1: <span :class="{name:true,styling:true}">{{$route.params.movie1}}</span></div>
        <div :class="{movie2:true, styling:true}">Movie #2: <span :class="{name:true,styling:true}">{{$route.params.movie1}}</span></div>
        <div :class="{seatnum:true, styling:true}">Number of seats: <span :class="{name:true,styling:true}">{{$route.params.seatnum}}</span></div>
          <div :class="{date:true, styling:true}">Date of reservation: <span :class="{name:true,styling:true}">{{$route.params.date}}</span></div>
         <div :class="{price:true, styling:true}">Price: <span :class="{name:true,styling:true}">{{$route.params.total}}</span></div>
    
</div>
</template>

<script>
import menunav from "./menunav.vue";
import footernav from "@/components/footernav";
export default {
  components: {
    menunav,
    footernav
  },
  name: "reciept",

  data() {
    return {};
  },
  methods: {},
  beforeCreate: function() {
    document.body.className = "account";
  },
  mounted: function() {
    if (this.$store.state.loggedin == false) {
      this.$router.push({ name: "account" });
    }
  }
};
</script>

<style scoped>
.page_title {
  width: 441px;
  height: 61px;
  font-family: Montserrat-Bold;
  font-size: 50px;
  margin-left: 2.5rem;
  color: #222222;
  letter-spacing: 1.88px;
}
.name {
  position: absolute;
  margin-right: 10rem;
  right: 0;
  font-family: Montserrat-Medium !important;
  color: #1fc5ed !important;
}
.movie1,
.movie2,
.seatnum,
.date,
.price {
  width: 40rem;
  height: 1rem;
  margin-top: 1rem;
}
.movie1 {
  margin-left: 10rem;
}

.movie2 {
  margin-left: 10rem;
}

.seatnum {
  margin-left: 10rem;
}

.date {
  margin-left: 10rem;
}
.price {
  margin-left: 10rem;
  margin-bottom: 9%;
}

.styling {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 1.39px;
}
.profile {
  font-family: Montserrat-SemiBold;
  font-size: 18px;
  color: #f26621;
  letter-spacing: 1.39px;
  width: 18rem;
  height: 1rem;
  margin-left: 10rem;
  margin-top: 2rem;
}

.name_label {
  width: 40rem;
  height: 1rem;
  margin-left: 10rem;
    margin-top: 1rem;

}

.num_label {
  width: 40rem;
  height: 1rem;
    margin-left: 10rem;
      margin-top: 1rem;

}
.email_label {
  width: 40rem;
  height: 61px;
    margin-left: 10rem;
      margin-top: 1rem;

}
</style>
