<template>

    <div>
      <div :class="{mydiv:true}"> <p :class="{title:true}">REFUND POLICY FOR BIG BANG SERVICES</p><br> Bigbang doesn’t want you to miss out on a spectacular experience. However, we’re here to help if you wish to cancel your booking. <br> <br>After your online booking, the payment card used will be checked for validity, and the Bigbang crew will be expecting to see you at the time and date of your booking. <br> <br>Payments are only executed once you show up to your allotted booking at Bigbang. In cases of no-show, the payment will be canceled after one business day.</div>
    </div>
</template>

<script>
import menunav from "./menunav.vue";
export default {
  name: "refundreturn",
  components: {
    menunav
  },

  data() {
    return {};
  },
  methods: {},
  mounted: function() {
    if (this.$session.exists()) {
      this.$store.state.sessioncount = this.$session.get("sessioncount");
      this.$store.state.username = this.$session.get("username");
      this.$store.state.loggedin = this.$session.get("loggedin");
      this.$store.state.userid = this.$session.get("userid");
      this.$store.commit("setname", this.$session.get("name"));
      this.$store.commit("setuserid", this.$session.get("setuserid"));
      this.$store.commit("setphonenum", this.$session.get("phonenum"));
      this.$store.commit("setemail", this.$session.get("email"));
    }
    this.$store.commit("setnowshowing", false);
    this.$store.commit("setaccount", false);
    this.$store.commit("setsession", false);
  },
  beforeCreate: function() {
    document.body.className = "refund";
  }
};
</script>

<style scoped>
.title {
  color: red;
}
.mydiv {
  color: #ccc;
  font-size: 1.29rem;
  font-family: Montserrat-Regular;
  left: 2.5rem;
  top: 10rem;
  margin-left: 2.5rem;
  width: 50%;
  margin-top: 3rem;
  margin-bottom: 10%;
  background-color: transparent;
  text-align: left;
}
</style>
