<template>
    <div>
        <div v-bind:class="{page_title:true}">YOUR SESSION</div>
     <!-- <footernav/> -->
     <div :class="{warning:error, displayit:!error}">Please Select Two Movies to Proceed</div>
     <div :class="{entire:true}">
        <div :class="{wrapper:true}">
          <div :class="{empty:true, showit:!this.$store.state.sessioncount==0} ">YOUR SESSION IS EMPTY. START YOUR IMMERSIVE VR EXPERIENCE BY SELECTING A MOVIE.</div>
      <div :class="{gomovie:true, showit:!this.$store.state.sessioncount==0}" v-on:click="gotons"><p :class="{cotext:true}">ADD MOVIE</p></div>
            <div  :class="{item:true}" v-for="i in titles.length" :key="i">
 <label :class="{container:true}"><input :class="{option_1:true}"  v-on:change='handlechange($event)'  :value="i-1" name="movie" type="checkbox"> <span class="checkmark"></span></label>
 <img :class="{poster:true}"  v-on:click="gotoinfopage(i-1)"  :src="'https://viakeyscreen.com/domain/cinemoz.com/asset/'+ids[i-1]+'/101-poster.jpg' " alt="poster">
 <div  :class="{game_title:true}">{{titles[i-1]}}    <span :class="{remove:true}">Remove  <span v-on:click="removefilm($event)" :id="i-1" :class="{close_btn:true}"><span :class="{sign:true}">x</span></span> </span></div>
 <div :class="{description:true}">{{genres[i-1]}} - {{msToTime(durations[i-1])}}</div>

 




    </div>
        </div>
  div
        <div :class="{rightdiv:true}">
            <div :class="{enjoy_div:true}"> Enjoy a full <span :class="{vr_word:true}">VR</span> immersion with BigBang's Interactive experience. Discover Adrenaline packed gaming, open world adventures and multiplayer action with our state of the art VR gear.</div>
            <div :class="{price_info:true}">Interactive Session: 50mn - Ticket Price per session is: $20</div>
            <div :class="{check_out:true}" v-on:click="gotobooking"><p :class="{cotext:true}">CHECK OUT</p></div>
            <div :class="{rules:true}" >You need to select your title in order to checkout, it should be within the session duration time which is 50min</div>
        </div>
     </div>
         
    </div>
</template>
<script>
import async from "async";
import axios from "axios";
import menunav from "@/components/menunav";
import footernav from "@/components/footernav";
import PrettyCheck from "pretty-checkbox-vue/check";
export default {
  components: {
    menunav,
    footernav
  },
  name: "session",
  props: ["pkey"],
  data() {
    return {
      inputs: [],
      movieids: [],
      indexnow: 0,
      ready: false,
      titles: [],
      genres: [],
      durations: [],
      ids: [],
      docid: 0,
      error: false
    };
  },
  methods: {
    gotons: function() {
      this.$router.push({ name: "nowshowing" });
    },
    gotoinfopage(x) {
      this.$store.commit("setboolhome", false);
      this.$store.commit("setboolp1", false);
      this.$store.commit("setboolp2", false);
      this.$store.state.getboolsession = true;
      this.$router.push({ name: "info", query: { id: this.ids[x] } });
    },

    gotobooking() {
      if (this.inputs.length != 2) {
        this.error = true;
      } else {
        this.error = false;
        let ref = this;
        var sorted = this.inputs.sort();
        axios({
          method: "post",
          url: "http://localhost:8888/deletemovie",
          data: {
            movieid: sorted[1],
            id: ref.docid
          },
          headers: {
            "Content-Type": "application/json"
          }
        })
          .then(function(response) {
            console.log(response);
            axios({
              method: "post",
              url: "http://localhost:8888/deletemovie",
              data: {
                movieid: sorted[0],
                id: ref.docid
              },
              headers: {
                "Content-Type": "application/json"
              }
            })
              .then(function(response) {
                console.log(response);
                console.log(ref.inputs[0], "here");
                ref.$session.set(
                  "sessioncount",
                  ref.$session.get("sessioncount") - 2
                );
                ref.$store.state.sessioncount =
                  ref.$store.state.sessioncount - 2;
              })
              .catch(function(error) {
                console.log(error);
              });
          })
          .catch(function(error) {
            console.log(error);
          });
        var titleone = "";
        var titletwo = "";
        titleone = this.titles[this.inputs[0]];
        titletwo = this.titles[this.inputs[1]];
        this.$router.push({
          name: "booking",
          query: { title1: titleone, title2: titletwo }
        });
      }
    },
    removefilm(e) {
      let ref = this;
      this.inputs.pop(e.target.id);
      ref.$session.set("sessioncount", ref.$session.get("sessioncount") - 1);
      ref.$store.state.sessioncount = ref.$store.state.sessioncount - 1;

      axios({
        method: "post",
        url: "http://localhost:8888/deletemovie",
        data: {
          movieid: e.target.id,
          id: this.docid
        },
        headers: {
          "Content-Type": "application/json"
        }
      })
        .then(function(response) {
          console.log(response);
          ref.titles.splice(e.target.id, 1);
          ref.durations.splice(e.target.id, 1);
          ref.ids.splice(e.target.id, 1);
          ref.genres.splice(e.target.id, 1);
        })
        .catch(function(error) {
          console.log(error);
        });
      console.log(e.target.id);
    },

    msToTime(duration) {
      var milliseconds = parseInt((duration % 1000) / 100),
        seconds = parseInt((duration / 1000) % 60),
        minutes = parseInt((duration / (1000 * 60)) % 60),
        hours = parseInt((duration / (1000 * 60 * 60)) % 24);

      hours = hours < 10 ? "0" + hours : hours;
      minutes = minutes < 10 ? "0" + minutes : minutes;
      seconds = seconds < 10 ? "0" + seconds : seconds;

      return hours + "h" + minutes + "m";
    },
    handlechange(e) {
      if (e.target.checked == true) {
        if (this.inputs.length > 1) {
          e.target.checked = false;
        } else this.inputs.push(e.target.value);
      } else if (e.target.checked == false) {
        this.inputs.pop();
      }
      console.log(e.target.value);
      console.log(this.inputs, "hey");
    }
  },
  beforeCreate: function() {
    document.body.className = "session";
  },
  mounted: function() {
    if (this.$session.exists()) {
      this.$store.state.sessioncount = this.$session.get("sessioncount");
      this.$store.state.username = this.$session.get("username");
      this.$store.state.loggedin = this.$session.get("loggedin");
      this.$store.state.userid = this.$session.get("userid");
      this.$store.commit("setname", this.$session.get("name"));
      this.$store.commit("setuserid", this.$session.get("setuserid"));
      this.$store.commit("setphonenum", this.$session.get("phonenum"));
      this.$store.commit("setemail", this.$session.get("email"));
    }
    if (this.$store.state.loggedin == false) {
      this.$router.push({ name: "account" });
    } else {
      let ref = this;
      this.$store.commit("setnowshowing", false);
      this.$store.commit("setaccount", false);
      this.$store.commit("setsession", true);
      axios({
        method: "post",
        url: "http://localhost:8888/getusers",
        data: {
          userid: ref.$store.state.userid
        },
        headers: {
          "Content-Type": "application/json"
        }
      })
        .then(function(response) {
          console.log(response.data.rows, "HONEE");
          for (let i = 0; i < response.data.rows.length; i++) {
            if (ref.$store.state.userid == response.data.rows[i].key) {
              ref.docid = response.data.rows[i].id;
              break;
            }
          }

          async.forEachOfSeries(
            response.data.rows[0].value[0],
            (item, key, callback) => {
              axios({
                method: "get",
                url:
                  "https://viakeyscreen.com/domain/cinemoz.com/media/" + item,
                headers: {
                  "Content-Type": "application/json"
                }
              })
                .then(function(response) {
                  console.log(response);
                  ref.titles.push(response.data.rows[0].doc.name);
                  ref.genres.push(
                    response.data.rows[0].doc.keywords.genre.toString()
                  );
                  ref.ids.push(response.data.rows[0].doc._id);
                  ref.durations.push(response.data.rows[0].doc.video_length);

                  callback();
                })
                .catch(function(error) {
                  console.log(error);
                });
            }
          );
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  }
};
</script>

<style scoped>
.entire {
  display: flex;
  flex-direction: row;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: red;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 60px;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #cccccc;
  text-align: center;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: transparent;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: transparent;
  border: 2px solid #f26621;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  position: absolute;
  top: 15%;
  left: 17%;
  width: 13.5px;
  height: 13.5px;
  border-radius: 50%;
  background: #f26621;
  transform: scale(0.9);
}

.check_out:hover {
  background-color: #ff3363;
}
.check_out:hover > p {
  color: #ffffff;
}
.gomovie:hover {
  background-color: #ff3363;
}
.gomovie:hover > p {
  color: #ffffff;
}
.showit {
  display: none;
}
.displayit {
  display: none;
}
.empty {
  margin-top: 3.5rem;
  width: 600px;
  height: 2.75rem;
  font-size: 13px;
  color: #cccccc;
  text-align: center;
  font-family: Montserrat-Bold;
  letter-spacing: 1px;
  line-height: 16px;
}
.gomovie {
  width: 12.31rem;
  height: 2.38rem;
  background-color: #ffffff;
  margin-left: 50%;
  transform: translate(-85%);
  margin-top: 1rem;
  cursor: pointer;
}
.warning {
  position: absolute;
  top: 0%;
  left: 0%;
  font-family: Montserrat-Regular;
  font-size: 13px;
  margin-top: 21.8rem;
  margin-left: 65rem;
  color: white;
  padding: 5px;
  background-color: red;
}
.rules {
  width: 28.5rem;
  height: 4.25rem;

  font-family: Montserrat-Light;
  font-size: 13px;
  color: #cccccc;
  letter-spacing: 1px;
  margin-left: 2.5rem;
  margin-top: 2rem;
}
.check_out {
  width: 12.31rem;
  height: 2.38rem;
  margin-left: 2.5rem;
  margin-top: 2.25rem;
  background-color: #ffffff;
  cursor: pointer;
  position: relative;
}
.cotext {
  position: absolute;
  margin-left: 50px;
  font-family: Montserrat-SemiBold;
  margin-bottom: 16px;
  font-size: 13px;
  color: #ff3363;
  letter-spacing: 1.39px;
}
.price_info {
  font-family: Montserrat-Light;
  font-size: 13px;
  color: #1fc5ed;
  letter-spacing: 1px;
  width: 21.88rem;
  height: 2.38 rem;
  margin-left: 2.5rem;
  margin-top: 1rem;
}
.vr_word {
  font-family: Montserrat-Bold;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 16px;
}
.enjoy_div {
  display: block;
  width: 28.5rem;
  margin-top: 17px;
  margin-left: 2.5rem;
  font-family: Montserrat-Light;
  font-size: 13px;
  color: #cccccc;
  letter-spacing: 1px;
}
.rightdiv {
  margin-top: 1rem;
  display: block;
  height: 480px;
  width: 50%;
  background-color: transparent;
  border-left: 0.1rem solid rgba(255, 255, 255, 0.2);
}
.close_btn {
  border-radius: 50%;
  background-color: grey;
  display: inline-block;
  color: #cccccc;
  width: 15px;
  height: 15px;
  cursor: pointer;
  align-content: center;
  position: absolute;
  top: 5%;
  margin-left: 2%;
}
.sign {
  width: 16px;
  height: 16px;
  margin-top: -2px;
  margin-left: 3.9px;
  color: black;
  font-family: Montserrat-Regular;
  pointer-events: none;
  font-size: 14px;
  position: absolute;
}
.remove {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #ff3363;
  letter-spacing: 1.39px;
  height: 22px;
  position: absolute;
  width: 100px;
  left: 21.38rem;
  vertical-align: middle;
}
.description {
  width: 228px;
  height: 22px;
  margin-left: 152px;
  margin-top: 1.5rem;
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #1fc5ed;
  letter-spacing: 1.39px;
}
.game_title {
  font-family: Montserrat-SemiBold;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0.6px;
  width: 80%;
  height: 19px;
  margin-left: 9.5rem;
  cursor: pointer;
  top: 1.5rem;
  position: relative;
}
.poster {
  height: 133px;
  width: 93px;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 2.13rem;
  cursor: pointer;
}
.item {
  position: relative;
  height: 133px;
  margin-bottom: 48px;
  width: 589px;
}
input[type="checkbox"]:checked {
  background-color: #f00;
  font-style: normal;
}
.option_1 {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 56px;
  color: orangered;
  cursor: pointer;
}
.wrapper {
  margin-left: 2.5rem;
  width: 50%;
  min-height: 265.9px;
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 7.18rem;
  margin-top: 3rem;
}
.page_title {
  width: 416px;
  height: 61px;
  margin-left: 39px;
  font-family: Montserrat-Bold;
  font-size: 50px;
  color: #222222;
  letter-spacing: 1.88px;
}
.rfnd_footer_item {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #979797;
  letter-spacing: 1.39px;
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 181px;
  height: 16px;
  margin-left: 39px;
  margin-bottom: 79px;
}
.privacy_footer_item {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #979797;
  letter-spacing: 1.39px;
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 108px;
  height: 16px;
  margin-left: 270px;
  margin-bottom: 79px;
}
.contact_footer_item {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #979797;
  letter-spacing: 1.39px;
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 85px;
  height: 16px;
  margin-left: 427px;
  margin-bottom: 79px;
}

.fb_logo {
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 20px;
  height: 20px;
  margin-left: 1167px;
  margin-bottom: 78px;
}
.inst_logo {
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 20px;
  height: 20px;
  margin-left: 1224px;
  margin-bottom: 78px;
}
input[type="checkbox"] {
  -webkit-appearance: radio; /* Chrome, Safari, Opera */
  -webkit-text-fill-color: #f00;
  -moz-appearance: radio; /* Firefox */
  -ms-appearance: radio; /* not currently supported */
}
</style>
