<template>
    <div>
          <div v-bind:class="{page_title:true}">SIGN UP</div>
        <div :class="{signupform:true}">
            <div>
                <label :class="{namelabel:true}" for="name">Name</label>
                <input  v-model="name" :class="{namefield:true}" type="text">
                 <label :class="{numlabel:true}" for="num">Phone Number</label>
                <input v-model="phonenumber"  :class="{numfield:true}" type="text">
                 <label :class="{emaillabel:true}" for="email">Email</label>
                <input v-model="email"  :class="{emailfield:true}" type="email">
                     <label :class="{passlabel:true}" for="password">Password</label>
                <input v-model="password"   :class="{passfield:true}" type="password">
                <div :class="{signup:true}" v-on:click="signup">SIGN UP</div>
                <a href="/#/login" :class="{login:true}">Log in</a>
                <div :class="{warning:wrong}">User Already Exists !</div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import menunav from "@/components/menunav";
import footernav from "@/components/footernav";
export default {
  name: "account",
  components: {
    menunav,
    footernav
  },
  data() {
    return {
      name: "",
      phonenumber: "",
      password: "",
      email: "",
      wrong: false
    };
  },
  methods: {
    signup() {
      let ref = this;
      console.log(this.name, this.password, this.email, this.phonenumber);
      axios({
        method: "post",
        url: "http://localhost:8888/signup",
        data: {
          name: this.name,
          password: this.password,
          email: this.email,
          phonenumber: this.phonenumber
        },
        headers: {
          "Content-Type": "application/json"
        }
      })
        .then(function(response) {
          axios({
            method: "post",
            url: "http://localhost:8888/addtosession",
            data: {
              userid: response.data.id
            },

            headers: {
              "Content-Type": "application/json"
            }
          })
            .then(function(response) {
              console.log(response);
              ref.wrong = false;
              ref.$router.push({ name: "login" });
            })
            .catch(function(error) {
              console.log(error);
            });
        })
        .catch(function(error) {
          ref.wrong = true;
        });
    }
  },
  beforeCreate: function() {
    document.body.className = "signup";
  },
  mounted: function() {
    this.$store.commit("setnowshowing", false);
    this.$store.commit("setaccount", false);
    this.$store.commit("setsession", false);
  }
};
</script>

<style scoped>
.displayit {
  display: block;
}
.login {
  font-family: Montserrat-SemiBold;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 1.39px;
  width: 11.94rem;
  height: 0.88rem;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 7.6rem;
  margin-top: 22.3rem;
}
.warning {
  font-family: Montserrat-SemiBold;
  font-size: 10px;
  color: red;
  letter-spacing: 1.39px;
  width: 11.94rem;
  height: 0.88rem;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 5.5rem;
  margin-top: 25.3rem;
}
.signup {
  width: 5.94rem;
  height: 0.88rem;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 6rem;
  margin-top: 19.3rem;
  font-family: Montserrat-SemiBold;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 1.39px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 6px;
  border: 1px solid white;
  cursor: pointer;
}
.signup:hover {
  color: black;
  background-color: #ffffff;
}
label {
  font-family: Montserrat-SemiBold;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 1.39px;
}
.namelabel {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 2.5rem;
  margin-left: 2.5rem;
}
.namefield {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 4rem;
  margin-left: 2.5rem;
  width: 210px;
  padding: 4px;
}
.numlabel {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 6.5rem;
  margin-left: 2.5rem;
}
.numfield {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 8rem;
  margin-left: 2.5rem;
  width: 210px;
  padding: 4px;
}
.emaillabel {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10.5rem;
  margin-left: 2.5rem;
}
.emailfield {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 12rem;
  margin-left: 2.5rem;
  width: 210px;
  padding: 4px;
}
.passlabel {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 14.5rem;
  margin-left: 2.5rem;
}
.passfield {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 16rem;
  margin-left: 2.5rem;
  width: 210px;
  padding: 4px;
}
.signupform {
  position: relative;
  background-color: transparent;
  border: 0.1rem solid rgba(255, 255, 255, 0.4);
  width: 300px;
  height: 400px;
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}
.page_title {
  width: 441px;
  height: 61px;
  margin-left: 2.5rem;
  font-family: Montserrat-Bold;
  font-size: 50px;
  color: #222222;
  letter-spacing: 1.88px;
}
.styling {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 1.39px;
}

.name_label {
  width: 12.5rem;
  height: 1rem;
  position: absolute;
  left: 0%;
  top: 0%;
  margin-top: 11.88rem;
  margin-left: 14.06rem;
}
.num_label {
  width: 15.81rem;
  height: 1rem;
  position: absolute;
  left: 0%;
  top: 0%;
  margin-top: 14.44rem;
  margin-left: 14.06rem;
}
.email_label {
  width: 18.5rem;
  height: 61px;
  position: absolute;
  left: 0%;
  top: 0%;
  margin-top: 16.88rem;
  margin-left: 14.06rem;
}
.rfnd_footer_item {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #979797;
  letter-spacing: 1.39px;
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 181px;
  height: 16px;
  margin-left: 39px;
  margin-bottom: 4.13rem;
}
.privacy_footer_item {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #979797;
  letter-spacing: 1.39px;
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 108px;
  height: 16px;
  margin-left: 270px;
  margin-bottom: 4.13rem;
}
.contact_footer_item {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #979797;
  letter-spacing: 1.39px;
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 85px;
  height: 16px;
  margin-left: 427px;
  margin-bottom: 4.13rem;
}

.fb_logo {
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 20px;
  height: 20px;
  margin-left: 1167px;
  margin-bottom: 4.31rem;
}
.inst_logo {
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 20px;
  height: 20px;
  margin-left: 1224px;
  margin-bottom: 4.31rem;
}
</style>
