<template>
<div>
   <button type="button" v-on:click="start">Create New Application</button>
</div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  name: "create",
  data() {
    return {};
  },
  methods: {
    start() {
      this.$router.push({ name: "day" });
    }
  }
};
</script>
