<template>
<div>
    <label for="day">Day</label>
    <input type="text" name="day" v-model="day">
    <button v-on:click="saveday">Go to Month</button>
</div>
</template>
<script>
export default {
  name: "day",
  data() {
    return {};
  },
  methods: {
    saveday() {
      this.$router.push({ name: "month" });
    }
  },
  computed: {
    day: {
      get() {
        return this.$store.getters.day;
      },
      set(value) {
        this.$store.commit("day", value);
      }
    }
  }
};
</script>
