<template>
    <div>
        <label for="month">Date of month</label>
    <input type="text" name="month" v-model="month">
    <button v-on:click="savemonth" type="button">Save and Continue</button>
    </div>
</template>
<script>
export default {
  name: "month",
  data() {
    return {};
  },
  methods: {
    savemonth() {
      this.$router.push({ name: "sessiontime" });
    }
  },
  computed: {
    month: {
      get() {
        return this.$store.getters.date;
      },
      set(value) {
        this.$store.commit("date", value);
      }
    }
  }
};
</script>
