<template>
    <div>
        <label for="payment">Payment Method</label>
    <input type="text" name="payment" v-model="payment">
    <button v-on:click="savepayment" type="button">Save and Continue</button>
    </div>
</template>
<script>
export default {
  name: "payment",
  data() {
    return {};
  },
  methods: {
    savepayment() {
      this.$router.push({ name: "voucher" });
    }
  },
  computed: {
    payment: {
      get() {
        return this.$store.getters.payment;
      },
      set(value) {
        this.$store.commit("payment", value);
      }
    }
  }
};
</script>
