<template>
    <div>
        <label for="seatnum">Number of seats reserved</label>
    <input type="text" name="seatnum" v-model="seatnum">
    <button v-on:click="saveseatnum" type="button">Save and Continue</button>
    </div>
</template>
<script>
export default {
  name: "seatnum",
  data() {
    return {};
  },
  methods: {
    saveseatnum() {
      this.$router.push({ name: "payment" });
    }
  },
  computed: {
    seatnum: {
      get() {
        return this.$store.getters.seatnum;
      },
      set(value) {
        this.$store.commit("seatnum", value);
      }
    }
  }
};
</script>
