<template>
    <div>
        <label for="month">Time of day</label>
    <input type="text" name="time" v-model="sessiontime">
    <button v-on:click="savesessiontime" type="button">Save and Continue</button>
    </div>
</template>
<script>
export default {
  name: "sessiontime",
  data() {
    return {};
  },
  methods: {
    savesessiontime() {
      this.$router.push({ name: "seatnum" });
    }
  },
  computed: {
    sessiontime: {
      get() {
        return this.$store.getters.sessiontime;
      },
      set(value) {
        this.$store.commit("sessiontime", value);
      }
    }
  }
};
</script>
