<template>
<div>
   <h1>Form Filled</h1>
   <div id="formdiv">
       <div> <strong>Day</strong> {{getday}}</div>
        <div><strong>Date of month:</strong> {{getmonth}}</div>
        <div><strong>Reservation Time :</strong>{{gettime}}</div>
        <div><strong>Number of seats Reserved:</strong> {{gettime}}</div>
        <div><strong> Payment Method:</strong> {{getpayment}}</div>
        <div><Strong>Voucher Code: </strong>{{getvouchercode}}</div>
        <button type="button" v-on:click="create">Create</button>
   </div>
</div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  name: "success",
  data() {
    return {};
  },
  methods: {
    create() {
      var ref = this;
      var http = new XMLHttpRequest();
      var url = "http://127.0.0.1:8888/create";
      var params =
        "day=" +
        this.getday +
        "&date=" +
        this.getmonth +
        "&time=" +
        this.gettime +
        "&seatnum=" +
        this.getseatnum +
        "&payment=" +
        this.getpayment +
        "&voucher=15" +
        this.getvouchercode;
      http.open("POST", url, true);
      http.setRequestHeader(
        "Content-type",
        "application/x-www-form-urlencoded"
      );
      http.onreadystatechange = function() {
        if (http.readyState == 4 && http.status == 200) {
          alert(http.responseText);
          ref.$router.push({ name: "create" });
        }
      };
      http.send(params);
    }
  },
  computed: {
    ...mapGetters({
      getday: "day",
      getmonth: "date",
      gettime: "sessiontime",
      getseatnum: "seatnum",
      getpayment: "payment",
      getvouchercode: "voucher"
    })
  }
};
</script>
<style>
#formdiv {
  display: flex;
  flex-direction: column;
}
</style>

