<template>
    <div>
        <label for="voucher">Voucher Code</label>
    <input type="text" name="voucher" v-model="voucher">
    <button v-on:click="savevoucher" type="button">Save and Continue</button>
    </div>
</template>
<script>
export default {
  name: "voucher",
  data() {
    return {};
  },
  methods: {
    savevoucher() {
      this.$router.push({ name: "success" });
    }
  },
  computed: {
    voucher: {
      get() {
        return this.$store.getters.voucher;
      },
      set(value) {
        this.$store.commit("voucher", value);
      }
    }
  }
};
</script>
