<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
import day from "./components/day.vue";
import month from "./components/month.vue";
export default {
  name: "App",
  components: {
    day,
    month
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
