<template>
<div>
    <input v-model="rows"  v-on:change="alert" type="text" placeholder="'Please Enter a Number'">
    <input v-model="columns"  v-on:change="alert" type="text" placeholder="'Please Enter a Number'">
    <button v-on:click="appendlist" >Generate</button>
    <h2  class="alerted">{{rows}} x {{columns}}</h2>
    <br>
    <table class="box" id="box" border='1' v-bind:class="{'none':reset}">
      <td  v-for="(item,index) in itemslist1" :key="index">
          <tr class="tablerow" v-for="(item2, index2) in itemslist2" :key="index2" v-on:click="highlight($event)" >table cell</tr>
      </td>
    </table>
</div>
</template>


<script>
import {mapGetters} from 'vuex';
export default {
  name: "matrix",
  data() {
      var red = false;
      var reset=false;
    return {
      red,
      itemslist1:[],
      itemslist2:[],
      reset
    };
  },
  methods: {
    appendlist: function() {
        for(let j=0;j<document.getElementsByClassName('tablerow').length;j++){
              document.getElementsByClassName('tablerow')[j].classList.remove('selected');
        }
      this.itemslist2 = [];
      this.itemslist1 = [];
      for (let i = 0; i < this.rows; i++) {
        this.itemslist1.push(1);
      }
      for (let j = 0; j < this.columns; j++) {
          this.itemslist2.push(1);
      }
      document.getElementsByClassName("alerted")[0].classList.remove("alert");
    },
    alert: function() {
      if (
        this.rows != this.getitemslist1.length ||
        this.columns != this.getitemslist2.length
      ) {
        document.getElementsByClassName("alerted")[0].classList.add("alert");
      } else {
        document.getElementsByClassName("alerted")[0].classList.remove("alert");
      }
    },
    highlight:function(e){
      if(this.red==false){
      e.target.classList.add("selected");
      this.red=true;
      }
      else {
            e.target.classList.remove("selected");
            this.red=false;
      }
    },

  },
  computed : {
    ...mapGetters({
      getitemslist1:'itemslist1',
      getitemslist2:'itemslist2',
    }),
    rows: {
        get() { return this.$store.state.rows; },
        set(rows) { this.$store.commit('setrows', rows); },
    },
    columns: {
        get() { return this.$store.state.columns; },
        set(columns) { this.$store.commit('setcolumns', columns); },
    }
  },
  watch:{
    itemslist1(){
      this.$store.commit('itemslist1',this.itemslist1);
    },
    itemslist2(){
      this.$store.commit('itemslist2',this.itemslist2);
    }
  }
};
</script>
<style>
.alert {
  background-color: red;
}
.notalerted {
  background-color: transparent;
}

#box {
  margin-top: 3rem;
}
tr,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
.selected {
    background-color:red;
}
.none {
    background-color:transparent;
}
</style>







