<template>
<div>
    <input v-model="message" id="inputbox" type="text" placeholder="'Please Enter a Number'">
    <button v-on:click="appendlist" id="generatebutton">Generate</button>
    <h2>Table of {{itemslist.length}} elements</h2>
    <table id="box" border='1'>
      <tr v-for="(item,index) in itemslist" :key="index">
        <td>{{index}} hello</td>
        <td><button v-bind:id="index" v-on:click="deleteentry($event)">Delete</button></td>
      </tr>
    </table>
</div>
</template>


<script>
import {mapGetters} from 'vuex';
export default {
  name: "thelist",
  data() {
    return {
      message: "",
      itemslist: [],
    };
  },
  methods: {
    appendlist: function() {
      for (let i = 0; i < this.getmessage; i++) {
        this.itemslist.push(1);
      }
    },
    deleteentry: function(e) {
      this.getlist.splice(e.target.id, 1);
    }
  },
  computed:{
    ...mapGetters({
      getmessage:'message',
      getlist:'itemslist',
      getindex:'index'
    })
  },
  watch:{
    message() {
      this.$store.commit('message',this.message);
    },
    itemslist(){
       this.$store.commit('itemslist',this.itemslist);
    },
    index(){
      this.$store.commit('index',this.index);
    }
  }
  
};
</script>
<style>
#inputbox {
  position: absolute;
  left: 10%;
  top: 10%;
}
#generatebutton {
  position: absolute;
  left: 40%;
  top: 10%;
}
#box {
  position: absolute;
  left: 10%;
  top: 15%;
}
</style>

