<template>
  <div id="app">
    <theform/>
  </div>
</template>

<script>
import theform from "./components/form.vue";
export default {
  name: "App",
  components: {
    theform
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
