div.window { /* Specifies size and border of the window */
    position: absolute; /* The position is specified elsewhere */ width: 300px; height: 200px;/* Window size, not including borders */ border: 3px outset gray; /* Note 3D "outset" border effect */
    }
    div.titlebar { /* Specifies position, size, and style of the titlebar */
    position: absolute;
    top: 0px; height: 18px;
    width: 290px;
    background-color: #aaa;
    border-bottom: groove gray 2px; /* Titlebar has border on bottom only */ padding: 3px 5px 2px 5px; /* Values clockwise: top, right, bottom, left */ font: bold 11pt sans-serif; }/* Title font */
    div.translucent { 
    opacity:0.75;
     filter: alpha(opacity=75);
    } 
    
    div.content { 
    position: absolute; top: 25px;
    height: 165px;
    width: 290px;
    padding: 5px;
    overflow: auto; background-color: #fff;
    } 