<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue App</title>
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>

    <script>
        window.onload = function () {
            Vue.component('todo-item', {
                props: ['todo'],
                template: '<li>{{ todo.text }}</li>'
            })
            var app = new Vue({
                el: '#app',
                data: {
                    groceryList: [
                        { id: 0, text: 'Vegetables' },
                        { id: 1, text: 'Cheese' },
                        { id: 2, text: 'Whatever else humans are supposed to eat' }
                    ]
                }
            })
        }
    </script>
</head>

<body>
    <div id="app">
        <ol>
            <todo-item v-for='item in groceryList' v-bind:todo='item' v-bind:key='item.id'>
            </todo-item>
        </ol>
    </div>
</body>

</html>