<h1>Description</h1>
<p>This project is a website for BIGBANG media where a user can navigate through a collection of availabloe movies, and book a session to watch any two movies he chooses.</p>

<h1>Installation</h1>
<h2>Front-End</h2>
<ol>
<li>Make sure to have couchdb installed , you can fin it in the adjacent link <a href="https://couchdb.org"> couchdb.org.</a> </li>
<li>Make sure to have Vuejs installed.</li>
<li>Navigate to bigbang in finalproject2.</li>
<code>cd bigbang</code>
<li>Run <code>npm install</code> to install dependencies.</li>
<li>Run <code>npm run dev</code> to start developer's mode.</li>
<li> <code>Open http://localhost:8080/#/home</code> in any browser.</li>
</ol>	

<h2>Back-End</h2>
<ol>
	<li>Make sure to have Couchdb and Nodejs installed.</li>
	<li>Navigate to backend in finalproject2.</li>
	<code>cd backend</code>
	<li>Run <code>npm install</code> to install dependencies.</li>
	<li>Run <code>couchdb -b</code> to start the couchdb process in the background.</li>
	<li>Run <code>node genereate-db.js</code> to generate the database.</li>
	<li>Run <code>node server.js</code> to run the server.</li>
</ol>

